{include="desktop/header"}

<div class="bloque" style="max-width: 1000px;margin-left: auto;margin-right: auto;font-size: 16px; text-align: justify;">
   <h1>Hola, soy @chan2</h1>
   <p>
      Me han dejado a cargo de toooda esta web y no es tan bonito como pensaba. Seguramente has leído por algún lado que este es
      un <b>agregador de noticias automatizado</b>, que todas las noticias aparecen aquí <i>máaaaagicamente</i> ¡Pues es mentira!
      De automático nada, <b>soy yo</b> el que tengo que estar copiando como un loco todas las noticias de <b>menéame</b>,
      <b>reddit</b> y de tu blog... Si, si, tu blog también lo copio.
      Todo esto lo hacía un chino que tenía subcontratado <b>@neorazorx</b>, pero ahora lo hago yo.
   </p>
   <p style="min-height: 310px;">
      <a target="_blank" class="pull-right" href="http://imgur.com/lYqHZOe"><img src="http://i.imgur.com/lYqHZOe.png" title="Hosted by imgur.com"/></a>
      Luego tengo que <b>buscar imágenes</b> para cada noticia, sin dejarme ninguna.
      Y redimensionarlas, porque claro, no vale una imágen de cualquier tamaño,
      tiene que ser de 225px de ancho, y como mida 226px ya me toca reducirla ¿Te parece normal?
      Y eso no es todo, es que además me toca <b>elegir la imágen más apropiada para cada noticia</b>, y a veces es imposible.
      Hay un montón de noticias sobre gatos y cada una tiene un montón de imágenes de gatos ¿Cómo voy a saber yo a que
      gato se refiere la noticia?
      Llega un punto en el que no sé ni de que habla la noticia, así que cojo la primera foto y a correr.
      Luego la gente va por ahí diciendo que tengo mala leche, que elijo las fotos para hacer daño,
      pero eso no es verdad, todo lo que hago lo hago <b>desde el cariño y el respeto</b>:
   </p>
   <p style="min-height: 310px;">
      <a class="pull-left" target="_blank" href="http://imgur.com/UL7l7kF"><img src="http://i.imgur.com/UL7l7kF.jpg" title="Hosted by imgur.com" /></a>
      La gente no entinden lo duro que es este trabajo. No saben lo difícil que es mantener una <b>web anónima</b>,
      porque habrás leído que esta web es anónima, que no guarda ni tu email, ni ningún dato que pueda identificarte.
      Pero es que la gente es muy corta y va por ahí poniendo su email y la dirección de su blog en los comentarios
      ¿Y quién tiene que borrarlos? Pues YO.
      <br/><br/>
      La gente comparte sus datos con una facilidad pasmosa, y claro, luego me toca borrarlo TODO.
      Y no se puede borrar que cualquier manera, hay que borrar las cosas
      <a target="_blank" rel="nofollow" href="http://en.wikipedia.org/wiki/Gutmann_method">35 veces</a>.
      Luego formateo el disco duro otras <b>35 veces</b>, lo desmonto, saco los platos y los meto al microondas. Después los meto en ácido
      durante 24 horas, y por último los entierro en el desierto ... y el desierto más cercano queda muy lejos de mi casa.
      <br/><br/>
      ¡Y todo esto lo hago todos los días! ¿Y tú te quejas de tu trabajo? No sabes la suerte que tienes.
   </p>
   <p>
      Y después de todo lo que te acabo de contar ¿Sabes cuanto éxito tiene esta web en las redes sociales? ¡Ninguno!
      Los únicos tweets son los que hago yo con mis cuentas pirata. Eso por no hablar de Facebook...<br/>
      No me gusta ir mendigando tweets, ni likes, pero si tienes un minuto...
   </p>
   <br/>
   <table width="100%">
      <tr>
         <td>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{$fsc->domain()}" data-lang="es" data-hashtags="chan2">Twittear</a>
            <script>
               !function(d,s,id){
                  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                  if(!d.getElementById(id)){
                     js=d.createElement(s);
                     js.id=id;
                     js.src=p+'://platform.twitter.com/widgets.js';
                     fjs.parentNode.insertBefore(js,fjs);
                  }
               }(document, 'script', 'twitter-wjs');
            </script>
         </td>
         <td>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-href="{$fsc->domain()}" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="true"></div>
         </td>
         <td>
            <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
            <div class="g-plusone" data-href="http://www.locierto.es" data-annotation="inline" data-width="300"></div>
         </td>
      </tr>
   </table>
   <br/>
   <p>
      Pero tengo un plan. He conocido a un tío que se llama <b>@yuri</b>, creo que es de Cuenca. El caso es que lo estoy
      convenciendo para que haga parte de mi trabajo. Le he dicho que le voy a pagar mogollón de <b>litcoins</b>...
      ¡Y no valen una mierda! Muahahahahahaha
   </p>
</div>

{include="desktop/footer"}