<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteRule ^view/  -  [L]
   RewriteRule ^tmp/images/  -  [L]
   RewriteRule ^(.*)/(.*)$ index.php?page=$1&param1=$2 [L]
   RewriteRule ^(.*)/$ index.php?page=$1 [L]
   RewriteRule ^([^/.]+)$ index.php?page=$1 [L]
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 3 days"
</IfModule>