<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteRule ^view/  -  [L]
   RewriteRule ^tmp/images/  -  [L]
   RewriteRule ^(.*)/(.*)$ index.php?page=$1&param1=$2 [L]
   RewriteRule ^(.*)/$ index.php?page=$1 [L]
   RewriteRule ^([^/.]+)$ index.php?page=$1 [L]
</IfModule>