body {
   margin: 0px;
   padding: 0px;
   background-color: #E7EBF2;
   color: black;
   font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

a {
   color: #0E385F;
   font-weight: bold;
}

a:visited {
   color: #4C769E;
}

img {
   border-width: 0px;
}

input[type='submit'], input[type='button'] {
   display: inline-block;
   vertical-align: middle;
   padding: 1px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #4C769E;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   text-transform: capitalize;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 16px;
   color: white;
}

table#header {
   width: 100%;
   margin: 0px;
   margin-bottom: 10px;
   background-color: #424242;
   border-collapse: collapse;
   color: white;
   font-size: 16px;
}

table#header td {
   margin: 0px;
   padding: 5px;
}

a#fs_logo {
   display: inline-block;
   margin-right: 10px;
   color: white;
   font-size: 30px;
   font-variant: small-caps;
   text-decoration: none;
}

a#fs_b_social {
   margin-left: 10px;
}

a#fs_b_menu {
   display: inline-block;
   padding: 4px;
   background-color: #3B5998;
   border: 1px outset #3B5998;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   text-decoration: none;
   text-transform: capitalize;
   font-variant: small-caps;
}

a#fs_b_menu img {
   vertical-align: middle;
}

div#fs_menu {
   display: none;
   position: absolute;
   top: 0px;
   right: 0px;
   z-index: 2;
   padding: 5px;
   background-color: #333333;
   border-left: 2px solid #999999;
   border-bottom: 2px solid #999999;
   border-bottom-left-radius: 5px 5px;
   color: white;
   font-size: 16px;
}

div#fs_menu a {
   display: block;
   margin: 5px;
   padding: 0px;
   text-decoration: none;
   text-transform: capitalize;
   text-align: center;
   color: white;
   font-variant: small-caps;
}

div#fs_menu a#fs_b_close_menu {
   margin-top: 0px;
   text-align: right;
}

div#fs_menu a.page {
   padding-left: 5px;
   padding-right: 5px;
   background-color: #3B5998;
   border: 1px outset #3B5998;
}

div#fs_social_widget {
   display: none;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 400px;
   margin: 0px;
   padding: 5px;
   background-color: #333333;
   border-right: 2px solid #999999;
   border-bottom: 2px solid #999999;
   border-bottom-right-radius: 5px 5px;
   color: white;
}

div#fs_social_widget a {
   color: white;
   font-variant: small-caps;
}

a#fs_b_close_social {
   display: block;
   margin: 3px;
   padding: 3px;
   font-size: 15px;
   text-decoration: none;
   text-align: right;
}

a#fs_b_close_social img {
   vertical-align: bottom;
}

div#fs_social_widget div.tweet {
   margin: 5px;
   padding: 5px;
   border: 1px dashed #999999;
}

div#fs_social_widget div.tweet table td.content {
   padding-left: 5px;
   text-align: justify;
}

div.error, div.message {
   display: block;
   margin: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px;
   border-top: 1px solid #cccccc;
   border-bottom: 1px solid #cccccc;
   color: black;
}

div.error {
   background-color: #EC6655;
}

div.message {
   background-color: #F4F596;
}

div.error ul, div.message ul {
   margin: 0px;
   padding: 0px;
   padding-left: 25px;
}

div#stories {
   margin: 0 auto;
}

div.story {
   display: inline-block;
   width: 340px;
   margin: 5px;
   padding: 5px;
   padding-top: 8px;
   background-color: white;
   border: 1px solid #cccccc;
   color: black;
   text-align: justify;
}

div.story h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 0px;
   padding-bottom: 2px;
   font-size: 16px;
   text-align: center;
}

div.story img.mini {
   float: left;
   clear: both;
   padding-right: 5px;
   padding-bottom: 5px;
}

div.story h2 {
   margin: 0px;
   padding: 0px;
   padding-bottom: 8px;
   font-size: 14px;
}

div.story h1 a, div.story h2 a {
   text-decoration: none;
   color: black;
}

div.story div.image,
div.story div.youtube {
   text-align: center;
   margin-bottom: 5px;
}

div.story div.more {
   text-align: right;
}

div.story div.more a {
   display: inline-block;
   margin-top: 2px;
   padding-top: 0px;
   padding-left: 3px;
   padding-right: 3px;
   padding-bottom: 1px;
   background-color: #4C769E;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: white;
   font-weight: bold;
   text-decoration: none;
}

div.video {
   background-color: #424242;
   border: 1px solid #333333;
   color: white;
}

div.video h1 a, div.video h2 a {
   color: white;
}

div.video div.more a {
   background-color: white;
   color: black;
}

div.box {
   margin: 5px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: white;
   border: 2px solid #cccccc;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.box h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding-top: 0px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 2px;
   color: black;
   font-size: 20px;
}

ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li {
   display: inline-block;
   min-width: 250px;
}

table.footer {
   margin-top: 10px;
   padding: 5px;
   width: 100%;
}

table.footer td {
   padding-left: 10px;
   padding-right: 10px;
}

div#shadow_box {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.8;
   display: none;
}

div#popup_message {
   display: none;
   position: fixed;
   top: 0px;
   right: 0px;
   z-index: 4;
   padding: 5px;
   background-color: black;
   border-bottom-left-radius: 5px 5px;
   color: white;
   font-size: 15px;
   font-variant: small-caps;
   cursor: pointer;
}

div#popup_message img {
   vertical-align: bottom;
}

div.popup {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 3;
   max-width: 750px;
   padding: 5px;
   background-color: #F3F1F2;
   border: 5px solid #CCCCCC;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.inside_popup {
   margin: 10px;
   margin-top: 0px;
   padding: 5px;
   background-color: #F3F1F2;
   border: 5px solid #aaaaaa;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.full_story {
   text-align: justify;
   margin-bottom: 10px;
}

div.full_story h1 {
   margin: 5px;
   margin-bottom: 5px;
   padding: 5px;
   font-size: 18px;
   text-align: center;
}

div.full_story h1 a {
   color: black;
}

div.full_story div.info {
   margin-top: 5px;
   margin-bottom: 20px;
   padding: 5px;
   border-top: 1px solid #999999;
}

div.full_story h2 {
   margin: 0px;
   margin-bottom: 10px;
   font-size: 14px;
}

div.full_story div.media {
   margin: 5px;
   border: 1px inset #999999;
   background-color: #999999;
   text-align: center;
}

div.full_story div.media img {
   max-width: 400px;
}