body {
   margin: 0px;
   padding: 0px;
   background-color: #E7EBF2;
   color: black;
   font-family: 'Din Pro', "Lucida Grande",'segoe UI','Trebuchet Ms', Arial, Tahoma, Calibri, Tahoma, Arial, Verdana, Helvetica, sans-serif;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}

a {
   color: #0E385F;
}

img {
   border-width: 0px;
}

input[type='submit'], input[type='button'] {
   display: inline-block;
   vertical-align: middle;
   padding: 1px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #4C769E;
   border: 1px solid #333333;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   text-transform: capitalize;
   font-variant: small-caps;
   font-weight: bold;
   font-size: 16px;
   color: white;
}

textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

div#header {
   display: table;
   width: 100%;
   margin: 0px;
   margin-bottom: 10px;
   background-color: #424242;
   border-collapse: collapse;
   color: white;
   font-size: 16px;
}

div#header2 {
   display: table-row;
}

div#header2 a {
   display: table-cell;
   vertical-align: middle;
   border-top: 2px solid black;
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 3px solid #999999;
   color: white;
   text-align: center;
   text-decoration: none;
   text-transform: capitalize;
}

div#header2 a#fs_logo {
   padding-left: 10px;
   font-size: 30px;
   font-variant: small-caps;
   text-align: left;
}

div#header2 a.selected {
   background-color: #3B5998;
}

div#header2 a:hover {
   background-color: #4C769E;
}

div#fuentes {
   display: none;
   position: absolute;
   z-index: 2;
   font-size: 14px;
}

div#fuentes img {
   display: block;
   margin: 0px;
   padding: 0px;
}

div#fuentes ul {
   list-style: none;
   margin: 0px;
   padding: 0px;
   background-color: white;
   border: 3px solid #333333;
   box-shadow: 5px 5px rgba(0,0,0,0.5);
}

div#fuentes ul li.title {
   padding-top: 5px;
   padding-bottom: 2px;
   background-color: #333333;
   color: white;
   text-align: center;
}

div#fuentes ul li.selected {
   background-color: silver;
}

div#fuentes ul li a {
   display: block;
   padding: 5px;
   text-decoration: none;
   color: black;
}

div#fuentes ul li a:hover {
   background-color: #4C769E;
   color: white;
}

div.error, div.message {
   display: block;
   margin: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding: 10px;
   color: black;
}

div.error {
   background-color: #EE7574;
   border: 1px solid #888888;
   box-shadow: 2px 2px 2px #555;
}

div.message {
   background-color: #F4F596;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #aaaaaa;
}

div.error ul, div.message ul {
   margin: 0px;
   padding: 0px;
   padding-left: 25px;
}

div#stories {
   margin: 0 auto;
}

div.story {
   display: inline-block;
   width: 240px;
   margin: 5px;
   padding: 5px;
   padding-top: 7px;
   background-color: white;
   border-top: 1px solid #dddddd;
   border-left: 1px solid #bbbbbb;
   border-right: 1px solid #bbbbbb;
   border-bottom: 1px solid #999999;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: black;
   text-align: justify;
}

div.story h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 0px;
   padding-bottom: 2px;
   font-size: 15px;
   text-align: left;
}

div.story img.mini {
   float: left;
   clear: both;
   padding-right: 5px;
   padding-bottom: 5px;
}

div.story h2 {
   margin: 0px;
   padding: 0px;
   padding-bottom: 8px;
   font-size: 14px;
}

div.story h1 a, div.story h2 a {
   text-decoration: none;
   color: black;
}

div.story h1 a:hover, div.story h2 a:hover {
   text-decoration: underline;
}

div.story div.image,
div.story div.youtube {
   text-align: center;
}

div.story div.more {
   margin-top: 2px;
   text-align: right;
}

div.story div.more a {
   display: inline-block;
   margin-top: 2px;
   padding-top: 0px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 1px;
   background-color: #e1e1e1;
   border: 1px solid #888888;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   color: #222222;
   font-weight: bold;
   text-decoration: none;
}

div.story div.more a:hover {
   background-color: #3B5998;
   color: white;
}

div.video {
   background-color: #424242;
   border: 1px solid #333333;
   color: white;
}

div.video h1 a, div.video h2 a {
   color: white;
}

div.video div.more a {
   background-color: white;
   color: black;
}

div.box {
   margin: 10px;
   padding: 5px;
   background-color: #FFFBC6;
   border: 2px solid #bbbbbb;
   border-top-left-radius: 2px 2px;
   border-top-right-radius: 2px 2px;
   border-bottom-left-radius: 2px 2px;
   border-bottom-right-radius: 2px 2px;
   box-shadow: 5px 5px 5px #555;
}

div.box h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding-top: 0px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 2px;
   color: black;
   font-size: 20px;
}

ul.horizontal {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li {
   display: inline-block;
   min-width: 250px;
}

table.footer {
   margin-top: 10px;
   padding: 5px;
   width: 100%;
}

table.footer td {
   padding-left: 10px;
   padding-right: 10px;
}

div#shadow_box {
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.8;
   display: none;
}

div#popup_message {
   display: none;
   position: fixed;
   top: 0px;
   right: 0px;
   z-index: 4;
   padding: 5px;
   background-color: black;
   border-bottom-left-radius: 5px 5px;
   color: white;
   font-size: 15px;
   font-variant: small-caps;
   cursor: pointer;
}

div#popup_message img {
   vertical-align: bottom;
}

div.popup {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 3;
   max-width: 750px;
   padding: 0px;
   background-color: #F3F1F2;
   border: 5px solid #CCCCCC;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.popup h1 {
   margin: 0px;
   margin-bottom: 10px;
   padding: 5px;
   background-color: #4C769E;
   color: white;
   text-align: center;
}

div.inside_popup {
   margin: 10px;
   margin-top: 0px;
   padding: 0px;
   background-color: #F3F1F2;
   border: 5px solid #aaaaaa;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
}

div.full_story {
   text-align: justify;
   margin-bottom: 10px;
   padding: 10px;
}

div.full_story h1 {
   margin: 0px;
   margin-bottom: 5px;
   padding: 0px;
   font-size: 18px;
   text-align: center;
}

div.full_story h1 a {
   color: black;
}

div.full_story div.info {
   padding: 5px;
}

div.popup table.share, div.inside_popup table.share {
   width: 100%;
   background-color: white;
   border-collapse: collapse;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #aaaaaa;
}

div.popup table.share td, div.inside_popup table.share td {
   padding-top: 20px;
   text-align: center;
   vertical-align: top;
}

div.popup h2, div.inside_popup h2 {
   margin: 0px;
   margin-bottom: 10px;
   font-size: 14px;
}

div.popup div.media, div.inside_popup div.media {
   margin: 0px;
   padding: 5px;
   background-color: #999999;
   border: 1px solid #666666;
   text-align: center;
}

div.popup div.media img, div.inside_popup div.media img {
   max-width: 400px;
}

div.chat_msg {
   margin: 2px;
   margin-top: 10px;
   padding: 5px;
   background-color: white;
   border: 1px dashed #777777;
   border-top-left-radius: 5px 5px;
   border-top-right-radius: 5px 5px;
   border-bottom-left-radius: 5px 5px;
   border-bottom-right-radius: 5px 5px;
   text-align: justify;
}

div.chat_msg h1 {
   font-size: 14px;
   text-align: left;
}

div.chat_msg h1 span {
   float: right;
   font-size: 12px;
   font-weight: normal;
}