{include="desktop/header"}

<div class="bloque">
   <h1>Últimos comentarios:</h1>
   {loop="$fsc->comment->all()"}
      {if condition="$value->thread"}
      <div class="comment link" onclick="fs_popup_story('{$path}/{$value->url()}');return false;">
         <div>
            {if condition="$fsc->visitor->nick==$value->nick"}
            <b>Tú</b> dices:
            {else}
            <u>@{$value->nick}</u> dice:
            {/if}
            <span class="pull-right">{$value->timesince()}</span>
         </div>
         <p>{$value->text}</p>
      </div>
      {/if}
   {else}
      <div class="comment">
         <p>Esto está desierto ... no quiero ser alarmista, pero ... ¡Seguro que es una conspiración!</p>
      </div>
   {/loop}
</div>

{include="desktop/footer"}