<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="description" content="{$fsc->get_description()}" />
   <meta name="Robots" content="all" />
   <link type="text/css" href="{$path}/view/desktop/desktop.css" rel="stylesheet" />
   <script src="{$path}/view/js/jquery.min.js"></script>
   <script>
      (function(d, s, id) {
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) return;
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
         fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
   </script>
</head>
<body>
   <div id="fb-root"></div>
   <div class="comments">
      <h1>Deja tus comentarios o sugerencias:</h1>
      <p>
         Si quieres contactar conmigo directamente, envíame un email a
         neorazorx@gmail.com
      </p>
      <div class="fb-comments" data-href="{$fsc->domain()}" data-width="650"></div>
   </div>
</body>
</html>