/* 
    Document   : basic
    Created on : 13-dic-2012, 17:19:37
    Author     : carlos
    Description:
        Purpose of the stylesheet follows.
*/

@import url('http://fonts.googleapis.com/css?family=Grand+Hotel');

body {
   margin: 0px;
   padding: 0px;
   background-color: #E9EAED;
   color: #333333;;
   font-family: Verdana, sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   font-size: 13px;
   font-style: normal;
   font-weight: normal;
}

a {
   color: #0062DD;
}

a:visited {
   color: #0049A6;
}

div.header {
   height: 48px;
   margin-bottom: 15px;
   background-color: #50B7DC;
   border-top: 2px solid #2E6A80;
   border-bottom: 1px solid #2E6A80;
   box-shadow: 1px 1px 1px #666;
}

div.header2 {
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 2;
   width: 100%;
   text-align: center;
}

div.header3 {
   display: inline-block;
   background-color: #2AA4CF;
   border-top: 1px solid #1A6580;
   border-bottom: 1px solid #1A6580;
   box-shadow: 2px 2px 2px #444;
}

div.header3 div.lat1 {
   display: inline-block;
   min-width: 15px;
   min-height: 49px;
   vertical-align: middle;
   background-color: #34CAFF;
   background: -webkit-linear-gradient(left, #34CAFF, #2AA4CF);
   background: -moz-linear-gradient(left, #34CAFF, #2AA4CF);
   background: -ms-linear-gradient(left, #34CAFF, #2AA4CF);
   background: -o-linear-gradient(left, #34CAFF, #2AA4CF);
}

div.header3 div.lat2 {
   display: inline-block;
   min-width: 15px;
   min-height: 49px;
   vertical-align: middle;
   background-color: #34CAFF;
   background: -webkit-linear-gradient(left, #2AA4CF, #248DB3);
   background: -moz-linear-gradient(left, #2AA4CF, #248DB3);
   background: -ms-linear-gradient(left, #2AA4CF, #248DB3);
   background: -o-linear-gradient(left, #2AA4CF, #248DB3);
}

div.header3 a.logo {
   display: inline-block;
   vertical-align: middle;
   padding-right: 20px;
   font-family: 'Grand Hotel', cursive;
   font-size: 35px;
   color: white;
   text-decoration: none;
}

div.header3 div.buttons {
   display: inline-block;
   vertical-align: middle;
}

div.header3 div.buttons a {
   display: inline-block;
   vertical-align: middle;
   padding: 15px;
   color: white;
   font-size: 16px;
   text-decoration: none;
}

div.header3 div.buttons a:hover {
   background-color: #54B4D6;
}

div.header3 div.buttons a.selected {
   background-color: #2283A6;
}

div.header3 div.buttons img {
   display: inline-block;
   vertical-align: middle;
   padding: 12px;
   color: white;
   font-size: 16px;
   text-decoration: none;
}

div.header3 div.buttons img:hover {
   background-color: #54B4D6;
   cursor: pointer;
}

div.header3 div.buttons img.selected {
   background-color: #2283A6;
}

div.messages, div.errors {
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
   box-shadow: inset 1px 1px 1px #999;
   color: #333333;
   font-size: 16px;
}

div.messages {
   background-color: #D9EDF7;
   border: 1px solid #BFDAE8;
}

div.errors {
   background-color: #F2DEDE;
   border: 1px solid #FFAEAE;
}

div.messages ul, div.errors ul {
   margin-top: 10px;
   margin-bottom: 5px;
}

div.info, div.bloque {
   margin: 10px;
   padding: 10px;
   padding-bottom: 5px;
   border-radius: 5px;
}

div.info {
   background-color: #D2D9DF;
   border: 1px solid #B4BABF;
   box-shadow: inset 1px 1px 1px #bbb;
   color: #334455;
}

div.bloque {
   background-color: white;
   border: 1px solid #B4BABF;
   box-shadow: inset 1px 1px 1px #ccc;
   color: #424242;
}

div.info h1, div.bloque h1 {
   margin: 0px;
   margin-left: 10px;
   margin-bottom: 10px;
   padding: 5px;
   padding-bottom: 10px;
   color: #424242;
   font-size: 25px;
   font-weight: bolder;
}

div.info h2, div.bloque h2 {
   margin: 0px;
   padding: 0px;
   color: #424242;
   font-size: 18px;
   font-weight: bolder;
}

div#stories {
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 10px;
}

div.story {
   display: inline-block;
   width: 225px;
   margin: 5px;
   padding: 0px;
   background-color: white;
   border: 1px solid #999999;
   border-radius: 3px;
   box-shadow: 0px 0px 3px #999;
}

div.story:hover {
   cursor: pointer;
   border-color: #666666;
   box-shadow: 0px 0px 3px 3px #888;
}

div.story h1 {
   margin: 0px;
   padding: 5px;
   color: #424242;
   font-size: 15px;
   line-height: normal;
}

div.story h1 a {
   color: #333333;
}

div.story p {
   margin: 0px;
   padding: 5px;
}

div.story div.image img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}

div.story div.timesince {
   padding: 5px;
   background-color: #F4F2F2;
   border-top: 1px solid #bbbbbb;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   font-size: 11px;
}

div.story div.timesince span {
   float: right;
}

div.story_readed {
   
}

div.story_readed div.timesince {
   background-color: #FFECCD;
}

table.lista {
   width: 100%;
}

table.lista tr:hover {
   background-color: #d9edf7;
}

table.lista th {
   border-bottom: 1px solid #CCCCCC;
}

table.lista th, table.lista td {
   padding: 5px;
}

div#shadow_box {
   display: none;
   position: fixed;
   top: 0px;
   left: 0px;
   z-index: 3;
   width: 100%;
   height: 100%;
   background: #000;
   opacity: 0.5;
}

a#b_close_popup {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 5;
}

div.popup {
   display: none;
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 4;
   min-width: 600px;
   max-width: 960px;
   padding: 0px;
   background-color: #EEEEEE;
   border: 2px solid #CCCCCC;
   border-radius: 3px;
   box-shadow: 10px 10px 10px #222;
   color: #333333;
}

div.popup a.close_popup {
   display: block;
   margin-top: 5px;
   padding: 5px;
   background-color: #e1e1e1;
   border-top: 1px solid #CCCCCC;
   color: #333333;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
}

div.popup a.close_popup:hover {
   background-color: #F59C99;
}

div.popup_container {
   margin: 10px;
   padding: 20px;
   background-color: #A8AEB3;
   border-radius: 5px;
   box-shadow: inset 2px 2px 2px #888;
}

div.popup2 {
   min-width: 300px;
   max-width: 900px;
   margin-left: auto;
   margin-right: auto;
   background-color: #EEEEEE;
   border: 2px solid #cccccc;
   border-radius: 5px;
   box-shadow: 5px 5px 5px #777;
   color: #333333;
}

div.story_info {
   padding: 5px;
}

div.story_info h1 {
   margin: 0px;
   padding-bottom: 5px;
   font-size: 24px;
}

div.story_info h2 {
   margin: 0px;
   padding-bottom: 5px;
   font-size: 24px;
   text-align: center;
}

div.story_info div.media_item {
   padding-top: 0px;
   padding-left: 0px;
   padding-right: 10px;
   padding-bottom: 2px;
   float: left;
   clear: both;
}

div.story_info div.media_item img {
   box-shadow: 2px 2px 2px #666;
}

div.story_info p {
   padding-left: 5px;
   padding-right: 5px;
   text-align: justify;
}

ul.pestanyas {
   margin: 0px;
   margin-top: 10px;
   padding: 0px;
   padding-left: 10px;
   list-style-type: none;
   border-bottom: 1px solid #cccccc;
}

ul.pestanyas li {
   display: inline-block;
   padding: 5px;
   padding-right: 10px;
   border-top-left-radius: 3px 3px;
   border-top-right-radius: 3px 3px;
   border-bottom: 3px solid transparent;
}

ul.pestanyas li:hover {
   cursor: pointer;
   background-color: #a0ccfe;
}

ul.pestanyas li.activa {
   border-bottom: 3px solid #0077b3;
   color: #0077b3;
}

div.pestanya_content {
   padding: 5px;
   background-color: white;
}

div.popup_info {
   padding: 10px;
   background-color: #EEEEEE;
   border-top: 1px solid silver;
}

div.popup_info h2 {
   margin-top: 0px;
}

div#media_items {
   margin: 0 auto;
}

div#media_items label {
   display: inline-block;
   min-width: 240px;
   min-height: 40px;
   margin: 5px;
   padding: 5px;
   background-color: white;
   border: 1px solid #666;
   box-shadow: 2px 2px 2px #666;
}

div#media_items label div.media_item_show {
   min-width: 80px;
   min-height: 80px;
   margin-top: 5px;
   padding: 3px;
   text-align: center;
}

div.footer {
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 10px;
   padding: 10px;
   border: 1px dashed #666666;
   border-radius: 5px;
   font-size: 14px;
   text-align: center;
}

div.footer a {
   font-weight: bold;
}

div.footer table {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   text-align: left;
}

div.footer table td {
   vertical-align: top;
}

div.footer ul li {
   padding-bottom: 5px;
}

input[type='submit'], a.button, a.button_edit, a.button_remove {
   display: inline-block;
   padding: 5px;
   border-top-left-radius: 3px 3px;
   border-top-right-radius: 3px 3px;
   border-bottom-left-radius: 3px 3px;
   border-bottom-right-radius: 3px 3px;
   border: 1px solid #424242;
   box-shadow: 1px 1px 1px #bbb;
   color: white;
   font-size: 14px;
   font-weight: bold;
   text-decoration: none;
}

a.button {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
   text-align: center;
   background-color: #008CFF;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#008CFF), to(#005FAD));
   background-image: -webkit-linear-gradient(top, #008CFF, #005FAD);
   background-image: -moz-linear-gradient(top, #008CFF, #005FAD);
   background-image: -ms-linear-gradient(top, #008CFF, #005FAD);
   background-image: -o-linear-gradient(top, #008CFF, #005FAD);
   background-image: linear-gradient(to bottom, #008CFF, #005FAD);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#008CFF, endColorstr=#005FAD);
}

a.button:hover {
   background-color: #0070cc;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#0070cc), top(#003866));
   background-image: -webkit-linear-gradient(top, #0070cc, #003866);
   background-image: -moz-linear-gradient(top, #0070cc, #003866);
   background-image: -ms-linear-gradient(top, #0070cc, #003866);
   background-image: -o-linear-gradient(top, #0070cc, #003866);
   background-image: linear-gradient(to bottom, #0070cc, #003866);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0070cc, endColorstr=#003866);
}

input[type='submit'], a.button_edit {
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
   text-align: center;
   background-color: #66CC66;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#66CC66), to(#008c00));
   background-image: -webkit-linear-gradient(top, #66CC66, #008c00);
   background-image: -moz-linear-gradient(top, #66CC66, #008c00);
   background-image: -ms-linear-gradient(top, #66CC66, #008c00);
   background-image: -o-linear-gradient(top, #66CC66, #008c00);
   background-image: linear-gradient(to bottom, #66CC66, #008c00);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#66CC66, endColorstr=#008c00);
}

input[type='submit']:hover, a.button_edit:hover {
   background-color: #40bf40;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#40bf40), top(#005900));
   background-image: -webkit-linear-gradient(top, #40bf40, #005900);
   background-image: -moz-linear-gradient(top, #40bf40, #005900);
   background-image: -ms-linear-gradient(top, #40bf40, #005900);
   background-image: -o-linear-gradient(top, #40bf40, #005900);
   background-image: linear-gradient(to bottom, #40bf40, #005900);
   filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#40bf40, endColorstr=#005900);
}

a.button_remove {
   background-color: #E1544F;
}

a.button_remove:hover {
   background-color: #D1443F;
}

a.twitter {
   display: inline-block;
   padding: 3px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #2592BD;
   border-radius: 3px;
   color: white;
   font-weight: bold;
}

a.facebook {
   display: inline-block;
   padding: 2px;
   padding-left: 5px;
   padding-right: 5px;
   background-color: #EEF1F8;
   border: 1px solid #A8B6CA;
   border-radius: 3px;
   color: #364B8B;
   font-weight: bold;
}

a.add_line {
   display: block;
   padding: 3px;
   background-color: #D9EDF7;
   border: 1px dashed #9DABB3;
   text-align: center;
}

span.label, span.label-info {
   display: inline-block;
   padding: 3px;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 3px;
   color: white;
}

span.label {
   background-color: #999999;
}

span.label-info {
   background-color: #3A87AD;
}

input.full, textarea {
   display: block;
   width: 100%;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
}

ul.horizontal, ul.horizontal2 {
   margin: 5px;
   padding: 5px;
   list-style-type: none;
}

ul.horizontal li, ul.horizontal2 li {
   display: inline-block;
   margin: 2px;
   padding: 5px;
   padding-left: 15px;
   padding-right: 15px;
   border-radius: 3px;
}

ul.horizontal li {
   background-color: #FFE9AE;
   border: 1px solid #CCBA8B;
}

ul.horizontal2 li {
   background-color: white;
   border: 1px solid silver;
}

img.face, img.face_left, img.face_right {
   border: 1px solid #888888;
   border-radius: 5px;
}

img.face_left {
   float: left;
   clear: both;
   margin-right: 10px;
   margin-bottom: 10px;
}

img.face_right {
   float: right;
   clear: both;
   margin-left: 10px;
   margin-bottom: 10px;
}

.link:hover {
   cursor: pointer;
}

div.comments {
   padding: 5px;
   background-color: #EEEEEE;
   border-top: 1px solid silver;
}

div.comment {
   padding: 5px;
   border-bottom: 1px dashed silver;
}

div.right {
   text-align: right;
}

.pull-right {
   float: right;
   clear: both;
}

.hidden {
   display: none;
}

iframe {
   border: 0px solid white;
}