{include="desktop/header"}

{if condition="$fsc->stories"}
   {if condition="$fsc->show_info"}
   <div class="info">
      <table width="100%">
         <tr>
            <td>
               <h1>¿Qué pasa aquí?</h1>
               <p>
                  Aquí tienes una ración aleatoria de noticias frescas, fresquísimas.
                  Noticias de cualquier fuente. ¡Para cuando te aburras!
               </p>
               <ul>
                  <li>
                     Si alguna noticia está ilustrada con una imagen que no se corresponde o no
                     te gusta como está redactada, haz clic sobre la noticia y pulsa el botón
                     <b>editar</b> para modificarla.
                  </li>
                  <li>
                     Y si encuentras algún fallo,
                     <a href="#" onclick="fs_popup_iframe('{$path}/index.php?page=comments'); return false;">avísame!</a>
                  </li>
               </ul>
               <p><a class="button" href="{$path}/{$fsc->url()}&show_info=FALSE">Vale, ya lo pillo</a></p>
            </td>
            <td align="right" valign="top">
               <a id="b_talk" href="#" onclick="fs_popup_iframe('{$path}/index.php?page=comments'); return false;">
                  <img class="face" src="{$path}/view/img/me_gusta.png" alt="me gusta"/>
               </a>
            </td>
         </tr>
      </table>
   </div>
   {/if}
   
   <script src="{$path}/view/js/jquery.masonry.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         $("#stories").masonry({
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
   </script>
   
   <div id="stories">
      {loop="$fsc->stories"}
         <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_popup_story('{$path}/{$value->url()}')">
            {if condition="$value->media_item"}
               <div class="image">{$value->media_item->show_image()}</div>
               <h1>{$value->title}</h1>
            {else}
               <h1>{$value->title}</h1>
               <p>{$value->description()}</p>
            {/if}
            <div class="timesince">
               {$value->popularity()}
               <span>{$value->timesince()}</span>
            </div>
         </div>
         <a href="{$path}/{$value->url()}"></a>
      {/loop}
   </div>
{else}
   <div class="info">
      <h1>No se han encontrado noticias :(</h1>
      <p>
         Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
         es una mierda.<br/>
         Añade alguna fuente desde la sección
         <a href="{$path}/index.php?page=feed_list">fuentes</a>. O deja que lo haga
         otro y luego di que has sido tú y te llevas el mérito ;-)
      </p>
   </div>
{/if}

{include="desktop/footer"}