{include="desktop/header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_advanced_edit").click(function(event) {
         event.preventDefault();
         $("#div_advanced_edit").show();
         document.f_edit.keywords.focus();
      });
   });
</script>

<div class="messages">
   Desde aquí puedes editar <a href="{$fsc->story->url()}">la historia</a> para seleccionar una imágen más apropiada,
   corregir faltas de ortografía, mejorar la redacción, etc ... Y para facilitarte las cosas,
   esta es la <a href="{$fsc->story->link}" target="_blank">historia original</a>.
</div>

<form name="f_edit" action="{$fsc->url()}" method="post">
   <div class="bloque">
      <div>
         <input class="full" type="text" name="title" value="{$fsc->story_edition->title}" size="60" autocomplete="off" placeholder="nuevo título"/>
         <textarea name="description" rows="6">{$fsc->story_edition->description}</textarea>
      </div>
      <div class="media_items">
         <h2>Selecciona la imágen o vídeo más representativo de la historia:</h2>
         <table>
            <tr>
               <td valign="top">
                  <label>
                     <input type="radio" name="media_id" value="none"{if condition="!$fsc->story_edition->media_id"} checked="checked"{/if}/>
                     Ninguna
                  </label>
               </td>
               {loop="$fsc->story->media_items()"}
               <td valign="top">
                  <label>
                     <input type="radio" name="media_id" value="{$value->get_id()}"{if condition="$value->get_id()==$fsc->story_edition->media_id"} checked="checked"{/if}/>
                     Seleccionar
                     {$value->show_image()}
                     {$value->type}
                  </label>
               </td>
               {/loop}
            </tr>
         </table>
      </div>
      <div style="text-align: right;">
         <div class="pull-left">
            <a href="#" id="b_advanced_edit">Avanzado...</a>
         </div>
         <b>Borra el número para demostrar que eres humano</b>
         <input type="text" name="human" value='{function="mt_rand(0, 999)"}' size="3"/> &nbsp;
         <input type="submit" value="Guardar"/>
      </div>
   </div>
   <div class="info hidden" id="div_advanced_edit">
      <div>
         <h2>Área de administración:</h2>
         <p>
            Si eres el administrador, además de los cambios de arriva puedes hacer cambios más profundos.
         </p>
         <label>
            <input type="checkbox" name="noimages" value="TRUE"{if condition="$fsc->story->noimages"} checked="checked"{/if}>
            he examinado la historia original y esta no tiene ninguna imágen representativa.
         </label>
         <br/><br/>
      </div>
      <div>
         <input class="full" type="text" name="keywords" value="{$fsc->story->keywords}" size="60" autocomplete="off" placeholder="etiquetas (la primera es la dominante)"/>
         <input class="full" type="text" name="related" value="{$fsc->story->related_id}" size="60" autocomplete="off" placeholder="ID o URL de la historia relacionada"/>
         <label>
            <input type="checkbox" name="norelated" value="TRUE">
            quitar la historia relacionada.
         </label>
         <br/><br/>
      </div>
      <div style="text-align: right;">
         <input type="password" name="masterkey" size="25" value="{$fsc->masterkey}" placeholder="contraseña de administrador"/>
         <input type="submit" value="Guardar"/>
      </div>
   </div>
</form>
{/if}

{include="desktop/footer"}