{include="desktop/header"}

{if condition="$fsc->feed"}
<script type="text/javascript">
   $(document).ready(function() {
      var container = document.querySelector('#stories');
      var msnry = new Masonry( container, {
         itemSelector: '.story',
         isFitWidth: true,
         isAnimated: true
      });
      $('#b_change_lang').click(function() {
         {if condition="$fsc->feed->native_lang"}
         window.location.href = "{$fsc->feed->url(FALSE)}&native_lang=FALSE&mkey="+prompt('Clave maestra:');
         {else}
         window.location.href = "{$fsc->feed->url(FALSE)}&native_lang=TRUE&mkey="+prompt('Clave maestra:');
         {/if}
      });
      $('#b_remove_feed').click(function() {
         window.location.href = "{$fsc->feed->url(FALSE)}&delete=TRUE&mkey="+prompt('Clave maestra:');
      });
   });
</script>

<div class="info">
   <table width="100%">
      <tr>
         <td>
            <h1>{$fsc->feed->name}</h1>
         </td>
         {if condition="$fsc->visitor->human()"}
         <td align="right">
            {if condition="$fsc->unsuscribe"}
            <a class="button_remove" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
            {else}
            <a class="button" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
            {/if}
         </td>
         {/if}
      </tr>
   </table>
   <table class="lista">
      <tr>
         <th align="left">Descripción</th>
         <th align="right">Historias</th>
         <th align="right">Suscriptores</th>
         <th align="right">Última actualización</th>
      </tr>
      <tr>
         <td>{$fsc->feed->description}</td>
         <td align="right">{$fsc->feed->num_stories}</td>
         <td align="right">{$fsc->feed->suscriptors}</td>
         <td align="right">{$fsc->feed->last_update_timesince()}</td>
      </tr>
   </table>
   <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}">Facebook</a>
   <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}">Twitter</a>
</div>

<div id="stories">
   {loop="$fsc->stories"}
      <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_popup_story('{$path}/{$value->url()}');return false;">
         {if condition="$value->media_item"}
            <div class="image">
               <a href="{$path}/{$value->url(TRUE)}">
                  {$value->media_item->show_image()}
               </a>
            </div>
            <h1>{$value->title}</h1>
         {else}
            <h1>{$value->title}</h1>
            <p>
               {$value->description()}
               <a href="{$path}/{$value->url(TRUE)}">leer más</a>.
            </p>
         {/if}
         <div class="timesince">
            {$value->popularity()}
            <span>{$value->timesince()}</span>
         </div>
      </div>
      
   {else}
   <div class="story">
      <h1>¡Vaya!</h1>
      <div class="image">
         <img src='{$path}/view/img/troll.png' alt='oops' width='196' height='160'/>
      </div>
      
      <p>Parece que esta fuente lleva inactiva mucho tiempo...</p>
   </div>
   {/loop}
</div>

{if condition="$fsc->visitor->human()"}
<div class="info">
   <table width="100%">
      <tr>
         <td valign="top">
            <h1>Más datos:</h1>
            <ul class="horizontal">
               <li>URL: {$fsc->feed->url}</li>
               <li>Última comprobación: {$fsc->feed->last_check_timesince()}</li>
               <li>Errores: {$fsc->feed->strikes}</li>
               <li>
                  {if condition="$fsc->feed->native_lang"}
                  Esta fuente SI está en español <a id="b_change_lang" href="#">cambiar</a>
                  {else}
                  Esta fuente NO está en español <a id="b_change_lang" href="#">cambiar</a>
                  {/if}
               </li>
            </ul>
         </td>
         <td align="right" valign="top">
            <a id="b_remove_feed" class="button_remove" href="#">Eliminar esta fuente</a>
         </td>
      </tr>
   </table>
</div>
{/if}

{/if}

{include="desktop/footer"}