{include="desktop/header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_add_feed").click(function(event) {
         event.preventDefault();
         $("#div_new_feed").show();
         document.f_new_feed.feed_url.focus();
      });
   });
</script>

<div class="bloque">
   <img class="face link pull-right" src="{$path}/view/img/mother_of_god.png" alt="mother of god" onclick="fs_go2url('{$path}/index.php?page=stats')"/>
   <h1>Listado de fuentes:</h1>
   <ul>
      <li>
         Aquí tienes la lista de fuentes de <b>{$name}</b>.
         Si no encuentras lo que buscas, puedes <a href="#add_feed">añadir más fuentes</a>.
      </li>
      <li>
         Si no sabes de lo que estoy hablando ... mejor no toques nada.
      </li>
   </ul>
   <table class="lista">
      <tr>
         <th align="left">Nº</th>
         <th align="left">Nombre</th>
         <th>En español</th>
         <th align="right">Historias</th>
         <th align="right">Suscriptores</th>
         <th align="right">Última actualización</th>
      </tr>
      {loop="$fsc->feed_list"}
      <tr>
         <td>{$counter+1}</td>
         <td><a href="{$value->url()}" title="{$value->url}">{$value->name}</a></td>
         <td align="center">
            {if condition="$value->native_lang"}-{else}No{/if}
         </td>
         <td align="right">{$value->num_stories}</td>
         <td align="right">{$value->suscriptors}</td>
         <td align="right">{$value->last_update_timesince()}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="6">
            <a id="b_add_feed" class="add_line" href="#">Añadir un blog o una web</a>
         </td>
      </tr>
   </table>
</div>

<div class="info" id='div_new_feed' style="display: none;">
   <a name="add_feed"></a>
   <h1>Añadir una fuente a {$name}:</h1>
   <form name="f_new_feed" action="{$fsc->url()}" method="post">
      <input type="text" name="feed_url" placeholder="URL (RSS/ATOM)" size="50"/>
      <b>Borra el número para demostrar que eres humano</b>
      <input type="text" name="human" value='{function="mt_rand(0, 999)"}' size="3"/> &nbsp;
      <input type="submit" value="Añadir"/>
   </form>
   <ul>
      <li>Tienes que introducir la dirección de una fuente en formato RSS o ATOM.</li>
      <li>
         La mayoría de las fuentes dicen que cumplen los estandares RSS o ATOM,
         pero es mentira.
      </li>
      <li>
         No te preocupes, esta web saca historias de cualquier fuente, por muy mentirosa que sea.
      </li>
      <li>
         Si encuentras algún fallo, <a target="_blank" href="https://github.com/NeoRazorX/feedstorm/issues">avísame!</a>
      </li>
   </ul>
</div>

{include="desktop/footer"}