{include="desktop/header"}

<div class="info">
   <table width="100%">
      <tr>
         <td>
            <h1>¿Qué hago yo aquí?</h1>
            <p>
               Aquí tienes la lista de fuentes de <b>{$name}</b>.
               Si no encuentras lo que buscas, puedes añadir una fuente
               desde este formulario:
            </p>
            <form action="{$fsc->url()}" method="post">
               <input type="text" name="feed_url" placeholder="URL (RSS/ATOM)" size="50"/>
               <input type="submit" value="Añadir fuente"/>
            </form>
            <ul>
               <li>Tienes que introducir la dirección de una fuente en formato RSS o ATOM.</li>
               <li>
                  La mayoría de las fuentes dicen que cumplen los estandares RSS o ATOM,
                  pero es mentira.
               </li>
               <li>
                  No te preocupes, esta web saca noticias de cualquier
                  fuente, por muy mentirosa que sea.
               </li>
               <li>
                  Si no sabes de qué estoy hablando, simplemente elige una fuente de abajo,
                  haces clic y ves las noticias que tiene. Si te gusta, pulsas el botón
                  suscribir.
               </li>
            </ul>
         </td>
         <td valign="top" align="right">
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="vertical" data-related="neorazorx">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         </td>
      </tr>
   </table>
</div>

<div class="bloque2">
   <table class="lista">
      <tr>
         <th align="left">Nombre</th>
         <th align="left">URL</th>
         <th align="left">Última comprobación</th>
         <th align="left">Última actualización</th>
         <th align="right">Suscriptores</th>
         <th align="right">Errores</th>
      </tr>
      {loop="$fsc->feed_list"}
      <tr>
         <td><a href="{$value->url()}">{$value->name}</a></td>
         <td>{$value->show_url()}</td>
         <td>{$value->last_check_timesince()}</td>
         <td>{$value->last_update_timesince()}</td>
         <td align="right">{$value->suscriptors}</td>
         <td align="right">{$value->strikes}</td>
      </tr>
      {else}
      <tr><td colspan="6">Sin resultados.</td></tr>
      {/loop}
   </table>
</div>

{include="desktop/footer"}