   <div class="footer">
      <table width="100%">
         <tr>
            <td colspan="2" align="center">
               <a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a>
               es el causante de este atentado llamado página web, y de otros como:
               <a target="_blank" href="http://www.kelinux.net">Kelinux.net</a> |
               <a target="_blank" href="http://www.locierto.es">LoCierto.es</a> |
               <a target="_blank" href="http://www.facturascripts.com">FacturaScripts</a> |
               <a target="_blank" href="http://www.neorazorx.com">NeoRazorX.com</a>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <br/>
            </td>
         </tr>
         <tr>
            <td>
               <a target="_blank" href="https://github.com/NeoRazorX/feedstorm/issues">Informar de un error</a>
            </td>
            <td align="right">
               Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
               en {$fsc->duration()}.
            </td>
         </tr>
      </table>
   </div>
</body>
</html>