   <div class="footer">
      <table width="80%">
         <tr>
            <td valign="top">
               Páginas especiales:
               <ul>
                  <li><a target="_blank" href="https://github.com/NeoRazorX/feedstorm/issues">Informar de un error</a></li>
                  <li><a href="{$path}/index.php?page=stats">Estadísticas</a></li>
               </ul>
            </td>
            <td valign="top">
               Autor:
               <ul>
                  <li><a target="_blank" href="http://www.neorazorx.com">NeoRazorX.com</a></li>
                  <li><a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a></li>
               </ul>
            </td>
            <td valign="top">
               Otros proyectos:
               <ul>
                  <li><a target="_blank" href="http://www.facturascripts.com">FacturaScripts</a></li>
                  <li><a target="_blank" href="http://www.kelinux.net">Kelinux.net</a></li>
                  <li><a target="_blank" href="http://www.locierto.es">LoCierto.es</a></li>
               </ul>
            </td>
         </tr>
      </table>
      <br/><br/>
      Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
      en {$fsc->duration()}.
   </div>
</body>
</html>