<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="description" content="{$fsc->get_description()}" />
   <meta name="Robots" content="all" />
   <meta name="expires" content="{$fsc->expires()}" />
   <meta property="fb:admins" content="neorazorx"/>
   <link type="text/css" href="{$path}/view/desktop/desktop.css" rel="stylesheet" />
   <script src="{$path}/view/js/jquery.min.js"></script>
   <script src="{$path}/view/js/masonry.pkgd.min.js"></script>
   {if condition="$analytics"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{$analytics}']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script');
         ga.type = 'text/javascript';
         ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(ga, s);
      })();
   </script>
   {/if}
   <script src="{$path}/view/js/basic.js"></script>
</head>
<body>
   <div id="shadow_box"></div>
   <div id="popups"></div>
   <a id="b_close_popup" class="close_popup" href="#" onclick="fs_close_popups(); return false;">
      <img src="{$path}/view/img/close.png" alt="close"/>
   </a>
   
   <div class="header">
      <div class="header2">
         <div class="header3">
            <div class="lat1"></div>
            <a class="logo" href="{$path}/">{$name}</a>
            <div class="buttons">
               {if condition="$fsc->page=='home'"}
               <a class="selected" href="{$path}/">Portada</a>
               {else}
               <a href="{$path}/">Portada</a>
               {/if}
               {if condition="$fsc->visitor->num_suscriptions > 0"}
                  {if condition="$fsc->page=='popular_stories'"}
                  <a class="selected" href="{$path}/index.php?page=popular_stories">Populares</a>
                  {else}
                  <a href="{$path}/index.php?page=popular_stories">Populares</a>
                  {/if}
               {/if}
               {if condition="$fsc->page=='discover_stories'"}
               <a class="selected" href="{$path}/index.php?page=discover_stories">Descubrir</a>
               {else}
               <a href="{$path}/index.php?page=discover_stories">Descubrir</a>
               {/if}
               {if condition="$fsc->page=='last_editions'"}
               <a class="selected" href="{$path}/index.php?page=last_editions">Ediciones</a>
               {else}
               <a href="{$path}/index.php?page=last_editions">Ediciones</a>
               {/if}
               <a href="#" onclick="fs_popup_iframe('{$path}/index.php?page=comments'); return false;">¡Habla!</a>
               {if condition="$fsc->page=='feed_list'"}
               <a class="selected" href="{$path}/index.php?page=feed_list">Fuentes</a>
               {else}
               <a href="{$path}/index.php?page=feed_list">Fuentes</a>
               {/if}
               {if condition="$fsc->page=='suscriptions'"}
               <a class="selected" href="{$path}/index.php?page=suscriptions">Tu perfil</a>
               {else}
               <a href="{$path}/index.php?page=suscriptions">Tu perfil</a>
               {/if}
               {if condition="$fsc->page=='help'"}
               <a class="selected" href="{$path}/index.php?page=help">¿?</a>
               {else}
               <a href="{$path}/index.php?page=help">¿?</a>
               {/if}
               <img{if condition="$fsc->page=='search'"} class="selected"{/if} src="{$path}/view/img/search.png" alt="search" onclick="fs_go2url('{$path}/index.php?page=search')"/>
            </div>
            <div class="lat2"></div>
         </div>
      </div>
   </div>
   
   {if condition="$fsc->get_errors()"}
   <div class="errors">
      <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}
   
   {if condition="$fsc->get_messages()"}
   <div class="messages">
      <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}