{include="desktop/header"}

<div class="info">
   <h1>¿Qué es {$name}?</h1>
   <p>
      Pues básicamente es una web que <b>recopila historial</b> de {$fsc->feed->show_count()}
      <a href="{$path}/index.php?page=feed_list">fuentes</a>. <b>Las analiza</b> para extraer
      imágenes y vídeos y además <b>calcula su popularidad</b>. Una vez completado este
      proceso, <u>que se ejecuta cada hora</u>, se muestran estas historias a los
      visitantes (tú) formando un mural de historias, <b>para que puedas echar
      un vistazo rápido a la actualidad</b>&#8482;.
   </p>
   <p>
      ¡La actualidad manda! Por eso {$name} <b>elimina automáticamente todo contenido
      de hace más de {$fsc->show_max_age()}</b>,
      mira las <a href="{$path}/index.php?page=stats">estadísticas</a>.
   </p>
</div>

<div class="bloque">
   <img class="face_right" src="{$path}/view/img/eso_es.png" alt="eso es"/>
   <h1>¿Cómo se calcula la popularidad?</h1>
   <p>
      {$name} busca menciones de cada historia en <b>twitter</b>, <b>facebook</b>,
      <b>google+</b> y <b>meneame</b> para calcular una puntuación, a eso le suma los clics
      sobre esa historia. Y por último divide esa puntuación entre el número de
      días que hace que la historia fue publicada ¡La actualidad manda!
      Así es como obtenemos la nota que mide la popularidad de cada historia,
      cuanto más alto es el número, más popular es.
   </p>
</div>

<div class="bloque">
   <img class="face_left" src="{$path}/view/img/mother_of_god.png" alt="mother of god"/>
   <h1>Personalizar la portada:</h1>
   <p>
      Por defecto {$name} te muestra en portada las historias más populares,
      pero si quieres puedes elegir que te muestre solamente las historias de tus
      fuentes favoritas. Lo único que tienes que hacer es ir a la sección
      <a href="{$path}/index.php?page=feed_list">fuentes</a>, hacer clic sobre
      las que te gusten y <b>pulsar el botón suscribir</b>.
   </p>
</div>

<div class="bloque">
   <a name='cookies'></a>
   <h1>Cookies:</h1>
   <p>
      {$name} usa tres tipos de
      <a rel='nofollow' target='_blank' href='http://es.wikipedia.org/wiki/Cookie_(inform%C3%A1tica)'>cookies</a>
      para su funcionamiento. La primera es <b>key</b>, que es el identificador único que
      se le da al usuario que se creó automáticamente la primera vez que entraste.
      Esto sirve para que cuando te suscribas a una fuente, leas una historia o la edites,
      sepas que eres tú. Si no, la próxima vez que entres en {$name} no podremos saber
      a qué fuentes estas suscrito, y no podremos mostrarte sus historias. Tampoco sabremos
      que historias has editado ni nada. Esta cookie, y tu usuario, se borra automáticamente tras
      {$fsc->show_max_age()} sin actividad.
      <br/><br/>
      El segundo tipo de cookie es del tipo <b>s_1234567890</b>. Estas son simplemente
      para saber que ya has leído la historia con id: 1234567890. Así te la marcamos en
      amarillo, para que sepas que la has leído. Además se borran al día siguiente.
      <br/><br/>
      El tercer tipo es de <a rel="nofollow" target="_blank" href='www.google.com/intl/es/analytics/'>google analytics</a>,
      y nos sirve para saber cuantos visitantes tenemos al día, al mes, etcétera.
   </p>
</div>

<div class="bloque">
   <img class="face_right" src="{$path}/view/img/wooow.png" alt="wooow"/>
   <h1>Últimos cambios en {$name} {$fsc->version()}:</h1>
   <ul>
      <li>Pequeñas correcciones y mayor tolerancia a fallos.</li>
      <li>
         Las nuevas historias tienes urls más amigables para los buscadores.
      </li>
      <li>
         ¿Tienes dudas, quejas o sugerencias?
         Pues <a href="{$path}/index.php?page=comments">¡Habla!</a>
      </li>
   </ul>
</div>

<div class="bloque" style="text-align: center; background-color: #221F1D; color: white;">
   <h2>Truquitos:</h2>
   <img src="{$path}/view/img/truquitos.png" alt="truquitos"/>
   <p>¡También funciona con reddit!</p>
</div>

{include="desktop/footer"}