{include="desktop/header"}

{if condition="$fsc->stories"}
   <script type="text/javascript">
      $(document).ready(function() {
         var container = document.querySelector('#stories');
         var msnry = new Masonry( container, {
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
   </script>
   
   <div id="stories">
      {loop="$fsc->stories"}
         <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_popup_story('{$path}/{$value->url()}');return false;">
            {if condition="$value->media_item"}
               <div class="image">
                  <a href="{$path}/{$value->url(TRUE)}">
                     {$value->media_item->show_image()}
                  </a>
               </div>
               <h1>{$value->title}</h1>
            {else}
               <h1>{$value->title}</h1>
               <p>
                  {$value->description()}
                  <a href="{$path}/{$value->url(TRUE)}">leer más</a>.
               </p>
            {/if}
            <div class="timesince">
               {$value->popularity()}
               <span>{$value->timesince()}</span>
            </div>
         </div>
      {/loop}
   </div>
{else}
   <div class="info">
      <h1>No se han encontrado historias para tí :(</h1>
      <p>
         Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
         es una mierda.<br/>
         Añade alguna fuente desde la sección
         <a href="{$path}/index.php?page=feed_list">fuentes</a>. O deja que lo haga
         otro y luego di que has sido tú y te llevas el mérito ;-)
      </p>
   </div>
{/if}

{include="desktop/footer"}