{include="desktop/header"}

{if condition="$fsc->editions"}
   {if condition="$fsc->show_info"}
   <div class="info">
      <table width="100%">
         <tr>
            <td>
               <h1>¿Esto qué es?</h1>
               <p>
                  Aquí aparecen las últimas noticias editadas por los usuarios.
                  Para editar una noticia sólo tienes que hacer clic sobre ella
                  y a continuación pulsar el botón <b>editar</b>.
                  <br/>
                  Y si encuentras algún fallo,
                  <a target="_blank" href="https://github.com/NeoRazorX/feedstorm/issues">avísame!</a>
               </p>
               <p><a class="button" href="{$path}/{$fsc->url()}&show_info=FALSE">Entendido</a></p>
            </td>
            <td valign="top" align="right">
               <div class="g-plusone" data-size="tall"></div>
               <script type="text/javascript">
                    window.___gcfg = {lang: 'es'};
                    (function() {
                      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
               </script>
            </td>
         </tr>
      </table>
   </div>
   {/if}
   
   <script src="{$path}/view/js/jquery.masonry.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         $("#stories").masonry({
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
   </script>
   
   <div class="bloque">
      <div id="stories">
      {loop="$fsc->editions"}
         <div class="story" onclick="fs_popup_edition('{$path}/{$value->url()}')">
            <h1>{$value->title}</h1>
            {if condition="$value->media_item"}
            <div class="image">{$value->media_item->show_image()}</div>
            {else}
            <p>{$value->description()}</p>
            {/if}
         </div>
         <a href="{$path}/{$value->url()}"></a>
      {/loop}
      </div>
   </div>
{else}
   <div class="info">
      <h1>No se han encontrado ediciones :(</h1>
      <p>
         Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
         es una mierda.
      </p>
   </div>
{/if}

{include="desktop/footer"}