{include="desktop/header"}

<script type="text/javascript">
      $(document).ready(function() {
         document.f_search.query.focus();
      });
</script>

<div style="text-align: center;">
   <form name="f_search" action="{$fsc->url()}" method="post">
      <input type="text" name="query" size="80" value="{$fsc->query}" autocomplete="off"/>
      <input type="submit" value="¡Busca!"/>
   </form>
</div>

{if condition="$fsc->stories"}
   <script type="text/javascript">
      $(document).ready(function() {
         var container = document.querySelector('#stories');
         var msnry = new Masonry( container, {
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
   </script>
   
   <div id="stories">
      {loop="$fsc->stories"}
         <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_popup_story('{$path}/{$value->url()}')">
            {if condition="$value->media_item"}
               <div class="image">
                  <a href="{$path}/{$value->url(TRUE)}">
                     {$value->media_item->show_image()}
                  </a>
               </div>
               <h1>{$value->title}</h1>
            {else}
               <h1>{$value->title}</h1>
               <p>
                  {$value->description()}
                  <a href="{$path}/{$value->url(TRUE)}">leer más</a>.
               </p>
            {/if}
            <div class="timesince">
               {$value->popularity()}
               <span>{$value->timesince()}</span>
            </div>
         </div>
      {/loop}
   </div>
{/if}

{include="desktop/footer"}