{include="desktop/header"}

<div class="box">
   <h1>Selecciona tus fuentes:</h1>
   <form action="{$fsc->url()}" method="post">
      <ul class="horizontal">
      {loop="$fsc->feeds"}
         <li>
            {if condition="$value->selected"}
            <input type="checkbox" name="feeds[]" value="{$value->name}" checked="checked"/>
            {else}
            <input type="checkbox" name="feeds[]" value="{$value->name}"/>
            {/if}
            <a target="_blank" href="{$path}/index.php?page=explore_feed&feed={$value->name}">{$value->name}</a>
            {if condition="$value->default"}(recomendado){/if}
         </li>
      {/loop}
      </ul>
      <table width="100%">
         <tr>
            <td>
               <b>¿No está la fuente que buscas?</b>
               Pide que la añadan. Usa el <a href="{$path}/index.php?page=chat_room">foro</a>.
            </td>
            <td align="right" valign="bottom"><input type="submit" value="guardar"/></td>
         </tr>
      </table>
   </form>
</div>

<div class="box">
   <h1>Imágenes:</h1>
   <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
   siempre intenta que cada noticia venga acompañada de su correspondiente imágen,
   una imágen vale más que mil palabras, pero a veces la imágen encontrada procede
   de un anuncio de la página, o es la imágen de fondo del blog ... es decir, basura.
   <b>¿Qué podemos hacer?</b> ... pues tenía pensado mostrarte un formulario para
   poder banear imágenes, pero se me acaba de ocurrir una idea para descartar esa
   basura de forma automática ... aunque es posible que este nuevo método no funcione
   y tenga que mostrarte el formulario del que hablaba. Ya veremos.
   <br/><br/>
   Efectivamente, no ha sido suficiente. Por eso ahora se puede votar la imágen más
   apropiada para cada noticia. Tan solo tienes que hacer clic en el botón
   <b>imágen erronea</b> de la historia correspondiente.
</div>

{include="desktop/footer"}