{include="desktop/header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   $(document).ready(function() {
      $('#b_show_comments2').click(function () {
         $("#b_show_feeds2").removeClass('activa');
         $("#b_show_editions2").removeClass('activa');
         $('#b_show_comments2').addClass('activa');
         $("#feeds").hide();
         $("#editions").hide();
         $("#comments").show();
      });
      $('#b_show_feeds2').click(function () {
         $("#b_show_editions2").removeClass('activa');
         $('#b_show_comments2').removeClass('activa');
         $("#b_show_feeds2").addClass('activa');
         $("#editions").hide();
         $("#comments").hide();
         $("#feeds").show();
      });
      $('#b_show_editions2').click(function () {
         $("#b_show_feeds2").removeClass('activa');
         $('#b_show_comments2').removeClass('activa');
         $("#b_show_editions2").addClass('activa');
         $("#feeds").hide();
         $("#comments").hide();
         $("#editions").show();
      });
   });
</script>

<div class="full_page">
   {if condition="!$fsc->story->media_item"}
      <h1 style="text-align: center;">
         <a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a>
      </h1>
      <div>
         {$fsc->story->description}<br/>
         <span style="font-size: 12px;">Publicado {$fsc->story->timesince()}.</span>
      </div>
   {else}
   <div style="min-height: {$fsc->story->media_item->min_height()}px">
      <div class="media_item pull-left">{$fsc->story->media_item->show($fsc->story->link())}</div>
      <h1>
         <a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a>
      </h1>
      <div>
         {$fsc->story->description}<br/>
         <span style="font-size: 12px;">Publicado {$fsc->story->timesince()}.</span>
      </div>
   </div>
   {/if}
   <div style="text-align: right;">
      <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter</a>
      <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook</a>
      <a class="plusone" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+</a>
      {if condition="!$fsc->story->native_lang"}
      <span class="label" title="esta historia no está en español"><s>español</s></span>
      {/if}
      <span class="label" title="Clics: {$fsc->story->clics}, twitter: {$fsc->story->tweets}, facebook: {$fsc->story->likes}, meneame: {$fsc->story->meneos}, g+: {$fsc->story->plusones}">
         Popularidad: {$fsc->story->popularity()}</span>
   </div>
   <ul class="pestanyas">
      <li id="b_show_comments2" class="activa">Comentarios</li>
      <li id="b_show_feeds2">Fuentes</li>
      <li id="b_show_editions2">Ediciones</li>
   </ul>
   <div id="comments" class="pestanya_content">
      {loop="$fsc->comments"}
      <div class="comment">
         <div>
            {if condition="$fsc->visitor->nick==$value->nick"}
            <b>Tú</b> dices:
            {else}
            <u>@{$value->nick}</u> dice:
            {/if}
            <span class="pull-right">{$value->timesince()}</span>
         </div>
         <p>{$value->text}</p>
      </div>
      {/loop}
      <div style="padding-top: 10px;">
         <form name="f_comment2" action="{$path}/{$fsc->url()}" method="post">
            <b>Tú</b> (@{$fsc->visitor->nick}) dices:
            <textarea id="new_comment_textarea" name="comment" rows="3">{$fsc->txt_comment}</textarea>
            <div id="new_comment_controls" class="hidden">
               <input type="submit" value="enviar"/>
               <input id="r_human_yes" type="radio" name="human" value="POZI"{if condition="$fsc->visitor->human"} checked="checked"{/if}/>
               <label for="r_human_yes">Soy humano</label>
               <input id="r_human_no" type="radio" name="human" value="PONO"{if condition="!$fsc->visitor->human"} checked="checked"{/if}/>
               <label for="r_human_no">No no soy humano, no me dejes comentar XD</label>
            </div>
         </form>
      </div>
   </div>
   <div class="pestanya_content" style="display: none;" id="feeds">
      <table class="lista">
         <tr>
            <th align="left">Fecha</th>
            <th align="left">Enlace</th>
            <th align="left">Fuente</th>
         </tr>
         {loop="$fsc->story->feed_links()"}
         <tr>
            <td>{$value->timesince()}</td>
            <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
            <td><a href="{$path}/{$value->feed_url()}">{$value->feed_name()}</a></td>
         </tr>
         {else}
         <tr>
            <td>{$fsc->story->timesince()}</td>
            <td>-</td>
            <td>-</td>
         </tr>
         {/loop}
      </table>
   </div>
   <div class="pestanya_content" style="display: none;" id="editions">
      <table class="lista">
         <tr>
            <th align="left">Fecha</th>
            <th align="left">Título</th>
            <th align="right">Votos</th>
         </tr>
         {loop="$fsc->story->editions()"}
         <tr>
            <td>{$value->timesince()}</td>
            <td><a href="#" onclick="fs_popup_edition('{$path}/{$value->url()}'); return false;">{$value->title}</a></td>
            <td align="right">{$value->votes}</td>
         </tr>
         {/loop}
         <tr>
            <td colspan="3">
               <a class="add_line" target="_blank" href="{$path}/{$fsc->story->edit_url()}">Editar esta historia</a>
            </td>
         </tr>
      </table>
   </div>
   
   {loop="$fsc->related_stories()"}
      <br/><hr/><br/>
      {if condition="!$value->media_item"}
         <h1 style="text-align: center;">
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div>
            {$value->description}<br/>
            <span style="font-size: 12px;">Publicado {$value->timesince()}.</span>
         </div>
      {elseif condition="$counter%2!=0"}
      <div style="min-height: {$value->media_item->min_height()}px">
         <div class="pull-left">{$value->media_item->show()}</div>
         <h1>
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div>
            {$value->description}<br/>
            <span style="font-size: 12px;">Publicado {$value->timesince()}.</span>
         </div>
      </div>
      {else}
      <div style="min-height: {$value->media_item->min_height()}px">
         <div class="pull-right">{$value->media_item->show()}</div>
         <h1>
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div>
            {$value->description}<br/>
            <span style="font-size: 12px;">Publicado {$value->timesince()}.</span>
         </div>
      </div>
      {/if}
   {/loop}
{/if}
</div>

{include="desktop/footer"}