{if condition="$fsc->story"}
<div class="story_info">
   <div style="text-align: center;">
      <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter</a>
      <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook</a>
      <a class="plusone" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+</a>
      {if condition="!$fsc->story->native_lang"}
      <span class="label" title="esta historia no está en español"><s>español</s></span>
      {/if}
      <span class="label" title="Clics: {$fsc->story->clics}, twitter: {$fsc->story->tweets}, facebook: {$fsc->story->likes}, meneame: {$fsc->story->meneos}, g+: {$fsc->story->plusones}">
         Popularidad: {$fsc->story->popularity()}
      </span>
      <a class="pull-right" href="{$path}/{$fsc->url()}" target="_blank" title="abrir en una nueva pestaña"><span class="label">+</span></a>
   </div>
   <br/>
   {if condition="!$fsc->story->media_item"}
      <h1 style="text-align: center;">
         <a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a>
      </h1>
      <div>{$fsc->story->description}</div>
   {elseif condition="$fsc->story->media_item->is_video()"}
      <h1 style="text-align: center;">
         <a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a>
      </h1>
      <div class="media_item">{$fsc->story->media_item->show($fsc->story->link())}</div>
      <p>{$fsc->story->description}</p>
   {else}
   <div style="min-height: {$fsc->story->media_item->min_height()}px">
      <div class="media_item pull-left">{$fsc->story->media_item->show($fsc->story->link())}</div>
      <h1><a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a></h1>
      <div>{$fsc->story->description}</div>
   </div>
   {/if}
</div>
<ul class="pestanyas">
   <li id="b_show_comments" class="activa">Comentarios</li>
   <li id="b_show_editions">Editar</li>
   <li id="b_show_feeds">Fuentes</li>
</ul>
<div class="pestanya_content" id="story_comments">
   <div style="padding: 5px;">
      <form name="f_comment2" action="{$path}/{$fsc->url()}" method="post">
         <textarea id="new_comment_textarea" name="comment" rows="4" placeholder=" Rápido, di lo primero que piensas.">{$fsc->txt_comment}</textarea>
         <div id="new_comment_controls" class="hidden">
            <b>Borra el número para demostrar que eres humano</b>
            <input type="text" name="human" value='{function="mt_rand(0, 999)"}' size="3"/> &nbsp;
            <input type="submit" value="enviar"/>
         </div>
      </form>
   </div>
   {loop="$fsc->comments"}
   <div class="comment">
      <div>
         {if condition="$fsc->visitor->nick==$value->nick"}
         <b>Tú</b> dices:
         {else}
         <u>@{$value->nick}</u> dice:
         {/if}
         <span class="pull-right">{$value->timesince()}</span>
      </div>
      <p>{$value->text}</p>
   </div>
   {else}
   <div class="comment">
      <div><u>Ayuda:</u></div>
      <p>
         {if condition="!$fsc->story->native_lang"}
         Puedes traducir la noticia pulsando en la pensaña <b>editar</b>.
         {else}
         Si la imágen es incorrecta o tienes más información y quieres editar la noticia,
         simplemente pulsa en la pensaña <b>editar</b>.
         {/if}
      </p>
   </div>
   {/loop}
</div>
<div class="pestanya_content" id="story_feeds" style="display: none;">
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">Enlace</th>
         <th align="left">Fuente</th>
      </tr>
      {loop="$fsc->story->feed_links()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
         <td><a href="{$path}/{$value->feed_url()}">{$value->feed_name()}</a></td>
      </tr>
      {else}
      <tr>
         <td>{$fsc->story->timesince()}</td>
         <td>-</td>
         <td>-</td>
      </tr>
      {/loop}
   </table>
</div>
<div class="pestanya_content" id="story_editions" style="display: none;">
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">Título</th>
         <th align="right">Votos</th>
      </tr>
      {loop="$fsc->story->editions()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a href="#" onclick="fs_popup_edition('{$path}/{$value->url()}'); return false;">{$value->title}</a></td>
         <td align="right">{$value->votes}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="3">
            <a class="add_line" target="_blank" href="{$path}/{$fsc->story->edit_url()}">Editar esta historia</a>
         </td>
      </tr>
   </table>
</div>
{/if}

{if condition="$debug"}
<div class="popup_info">
   <h2>Historial de mongodb:</h2>
   <ul class="horizontal2">
   {loop="$fsc->get_mongo_history()"}<li>{$value}</li>{/loop}
   </ul>
   <div class="right">
      Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
      en {$fsc->duration()}.
   </div>
</div>
{/if}