{include="desktop/header"}

{if condition="$fsc->edition"}
<script type="text/javascript">
   $(document).ready(function() {
      $('#b_show_feeds2').click(function () {
            $("#b_show_editions2").removeClass('activa');
            $("#story_editions2").hide();
            $('#b_show_feeds2').addClass('activa');
            $("#story_feeds2").show();
      });
      $('#b_show_editions2').click(function () {
            $('#b_show_feeds2').removeClass('activa');
            $("#story_feeds2").hide();
            $("#b_show_editions2").addClass('activa');
            $("#story_editions2").show();
      });
   });
</script>

<div class="full_page">
   {if condition="$fsc->edition->media_item"}
   <div style="min-height: {$fsc->edition->media_item->min_height()}px">
      <div class="media_item pull-left">{$fsc->edition->media_item->show($fsc->edition->story->link())}</div>
      <h1>
         <a rel="nofollow" target="_blank" href="{$fsc->edition->story->link()}">{$fsc->edition->title}</a>
      </h1>
   {else}
   <div>
      <h1 style="text-align: center;">
         <a rel="nofollow" target="_blank" href="{$fsc->edition->story->link()}">{$fsc->edition->title}</a>
      </h1>
   {/if}
   <div class="text">{$fsc->edition->description}</div>
   <br/>
   <div>
      <a class="button" href="#" onclick="fs_popup_edition('{$path}/{$fsc->edition->vote_url()}'); return false;" title="dale tu voto a esta edición">+1</a>
      <span class="label">{$fsc->edition->votes} votos</span>
      &nbsp;
      <a href="{$fsc->edition->story->edit_url()}" class="button_edit">Editar</a>
   </div>
   </div>
   <div style="text-align: right;">
      <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter</a>
      <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook</a>
      <a class="plusone" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+</a>
   </div>
   <ul class="pestanyas">
      <li id="b_show_editions2" class="activa">Otras Ediciones</li>
      <li id="b_show_feeds2">Fuentes</li>
   </ul>
   <div class="pestanya_content" id="story_editions2">
      <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Título</th>
               <th align="right">Votos</th>
            </tr>
            {loop="$fsc->edition->editions()"}
            <tr>
               {if condition="$value->get_id()!=$fsc->edition->get_id()"}
                  <td>{$value->timesince()}</td>
                  <td><a href="#" onclick="fs_popup_edition('{$path}/{$value->url()}'); return false;">{$value->title}</a></td>
                  <td align="right">{$value->votes}</td>
               {else}
                  <td>{$value->timesince()}</td>
                  <td>-</td>
                  <td align="right">-</td>
               {/if}
            </tr>
            {/loop}
            <tr>
               <td>{$fsc->edition->story->timesince()}</td>
               <td><a href="{$path}/{$fsc->edition->story->url()}">{$fsc->edition->story->title}</a></td>
               <td align="right">-</td>
            </tr>
      </table>
   </div>
   <div class="pestanya_content" id="story_feeds2" style="display: none;">
         <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Enlace</th>
               <th align="left">Fuente</th>
            </tr>
            {loop="$fsc->edition->story->feed_links()"}
            <tr>
               <td>{$value->timesince()}</td>
               <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
               <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
            </tr>
            {else}
            <tr><td colspan="3">Sin resultados.</td></tr>
            {/loop}
         </table>
   </div>
</div>
{/if}

<br/><br/>

{if condition="count($fsc->editions) > 0"}
<div class="full_page">
   {loop="$fsc->editions"}
   {if condition="$counter>0"}<br/><hr/><br/>{/if}
   {if condition="!$value->media_item"}
         <h1 style="text-align: center;">
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div class="text">
            {$value->description}<br/>
            <span class="footer">Publicado {$value->timesince()}.</span>
         </div>
      {elseif condition="$counter%2!=0"}
      <div style="min-height: {$value->media_item->min_height()}px">
         <div class="media_item pull-left">{$value->media_item->show()}</div>
         <h1>
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div class="text">
            {$value->description}<br/>
            <span class="footer">Publicado {$value->timesince()}.</span>
         </div>
      </div>
      {else}
      <div style="min-height: {$value->media_item->min_height()}px">
         <div class="media_item pull-right">{$value->media_item->show()}</div>
         <h1>
            <a rel="nofollow" href="{$path}/{$value->url()}">{$value->title}</a>
         </h1>
         <div class="text">
            {$value->description}<br/>
            <span class="footer">Publicado {$value->timesince()}.</span>
         </div>
      </div>
      {/if}
   {/loop}
</div>
{/if}

{include="desktop/footer"}