{if condition="$fsc->story"}
<div class="story_info">
   <h1>{$fsc->story->title}</h1>
   {if condition="$fsc->story->media_item"}
   <div class="media_item">{$fsc->story->media_item->show($fsc->story->link())}</div>
   {/if}
   <p>{$fsc->story->description}</p>
   <table width="100%">
      <tr>
         <td>
            <span class="label" title="Clics: {$fsc->story->clics}, twitter: {$fsc->story->tweets}, facebook: {$fsc->story->likes}, meneame: {$fsc->story->meneos}, g+: {$fsc->story->plusones}">
               Popularidad: {$fsc->story->popularity()}
            </span>
            <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="{$fsc->story->tweets} tweets">Twitter</a>
            <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="{$fsc->story->likes} likes">Facebook</a>
         </td>
         <td align="right">
            <a href="{$fsc->story->edit_url()}" class="button_edit">Editar</a> &nbsp;
            <a rel="nofollow" target="_blank" href="{$fsc->story->link()}" class="button">Abrir enlace</a>
         </td>
      </tr>
   </table>
</div>
<ul class="pestanyas">
   <li id="b_show_feeds" class="activa">Fuentes</li>
   <li id="b_show_editions">Ediciones</li>
</ul>
<div class="pestanya_content" id="story_feeds">
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">Enlace</th>
         <th align="left">Fuente</th>
      </tr>
      {loop="$fsc->story->feed_links()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
         <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
      </tr>
      {else}
      <tr>
         <td colspan="3">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>
<div class="pestanya_content" id="story_editions">
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">Título</th>
         <th align="right">Votos</th>
      </tr>
      {loop="$fsc->story->editions()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a href="#" onclick="fs_popup_edition('{$path}/{$value->url()}'); return false;">{$value->title}</a></td>
         <td align="right">{$value->votes}</td>
      </tr>
      {else}
      <tr>
         <td colspan="3">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

{if condition="$debug"}
<div class="pestanya_content">
   <h2>Historial de mongodb:</h2>
   <ul>
   {loop="$fsc->get_mongo_history()"}
      <li>{$value}</li>
   {/loop}
   </ul>
   Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
   en {$fsc->duration()}.
</div>
{/if}