{include="desktop/header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#story_editions2").hide();
      $('#b_show_feeds2').click(function () {
         $("#b_show_editions2").removeClass('activa');
         $("#story_editions2").hide();
         $('#b_show_feeds2').addClass('activa');
         $("#story_feeds2").show();
      });
      $('#b_show_editions2').click(function () {
         $('#b_show_feeds2').removeClass('activa');
         $("#story_feeds2").hide();
         $("#b_show_editions2").addClass('activa');
         $("#story_editions2").show();
      });
      $("#new_comment_textarea").click(function() {
         $("#new_comment_controls").show();
         $(this).select();
      });
   });
</script>

<div class="popup_container">
   <div class="popup2">
      <div class="story_info">
         <div style="text-align: center;">
            <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter</a>
            <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook</a>
            <a class="plusone" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+</a>
            {if condition="!$fsc->story->native_lang"}
            <span class="label" title="esta historia no está en español"><s>español</s></span>
            {/if}
            <span class="label" title="Clics: {$fsc->story->clics}, twitter: {$fsc->story->tweets}, facebook: {$fsc->story->likes}, meneame: {$fsc->story->meneos}, g+: {$fsc->story->plusones}">
               Popularidad: {$fsc->story->popularity()}
            </span>
         </div>
         <br/>
         {if condition="$fsc->story->media_item"}
         <div style="min-height: {$fsc->story->media_item->min_height()}px">
            <div class="media_item">{$fsc->story->media_item->show($fsc->story->link())}</div>
            <h1>{$fsc->story->title}</h1>
            <p>{$fsc->story->description}</p>
            <div class="right">
               <a rel="nofollow" target="_blank" href="{$fsc->story->link()}" class="button">Abrir enlace</a>
            </div>
         </div>
         {else}
            <h2>{$fsc->story->title}</h2>
            <p>{$fsc->story->description}</p>
            <div class="right">
               <a rel="nofollow" target="_blank" href="{$fsc->story->link()}" class="button">Abrir enlace</a>
            </div>
         {/if}
      </div>
      <ul class="pestanyas">
         <li id="b_show_feeds2" class="activa">Fuentes</li>
         <li id="b_show_editions2">Ediciones</li>
      </ul>
      <div class="pestanya_content" id="story_feeds2">
         <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Enlace</th>
               <th align="left">Fuente</th>
            </tr>
            {loop="$fsc->story->feed_links()"}
            <tr>
               <td>{$value->timesince()}</td>
               <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
               <td><a href="{$path}/{$value->feed_url()}">{$value->feed_name()}</a></td>
            </tr>
            {else}
            <tr>
               <td>{$fsc->story->timesince()}</td>
               <td>-</td>
               <td>-</td>
            </tr>
            {/loop}
         </table>
      </div>
      <div class="pestanya_content" id="story_editions2">
         <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Título</th>
               <th align="right">Votos</th>
            </tr>
            {loop="$fsc->story->editions()"}
            <tr>
               <td>{$value->timesince()}</td>
               <td><a href="{$path}/{$value->url()}">{$value->title}</a></td>
               <td align="right">{$value->votes}</td>
            </tr>
            {/loop}
            <tr>
               <td colspan="3">
                  <a href="{$path}/{$fsc->story->edit_url()}" class="add_line">Editar esta noticia</a>
               </td>
            </tr>
         </table>
      </div>
      <div class="comments">
         {loop="$fsc->comments"}
         <div class="comment">
            <div>
               {if condition="$fsc->visitor->nick==$value->nick"}
               <b>Tú</b> dices:
               {else}
               <u>@{$value->nick}</u> dice:
               {/if}
               <span class="pull-right">{$value->timesince()}</span>
            </div>
            <p>{$value->text}</p>
         </div>
         {/loop}
         <div class="comment">
            <form name="f_comment2" action="{$path}/{$fsc->url()}" method="post">
               <b>Tú</b> (@{$fsc->visitor->nick}) dices:
               <textarea id="new_comment_textarea" name="comment" rows="3">{$fsc->txt_comment}</textarea>
               <div id="new_comment_controls" class="hidden">
                  <input type="submit" value="enviar"/>
                  <input id="r_human_yes" type="radio" name="human" value="POZI"{if condition="$fsc->visitor->human"} checked="checked"{/if}/>
                  <label for="r_human_yes">Soy humano</label>
                  <input id="r_human_no" type="radio" name="human" value="PONO"{if condition="!$fsc->visitor->human"} checked="checked"{/if}/>
                  <label for="r_human_no">No no soy humano, no me dejes comentar XD</label>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{/if}

{if condition="$fsc->popular"}
<script type="text/javascript">
      $(document).ready(function() {
         var container = document.querySelector('#stories');
         var msnry = new Masonry( container, {
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
</script>

<div id="stories">
   {loop="$fsc->popular"}
      <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_go2url('{$path}/{$value->url()}');return false;">
            {if condition="$value->media_item"}
               <div class="image">
                  <a href="{$path}/{$value->url(TRUE)}">
                     {$value->media_item->show_image()}
                  </a>
               </div>
               <h1>{$value->title}</h1>
            {else}
               <h1>{$value->title}</h1>
               <p>
                  {$value->description()}
                  <a href="{$path}/{$value->url(TRUE)}">leer más</a>.
               </p>
            {/if}
            <div class="timesince">
               {$value->popularity()}
               <span>{$value->timesince()}</span>
            </div>
      </div>
   {/loop}
</div>
{/if}

{include="desktop/footer"}