{include="desktop/header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#story_feeds2").hide();
      $("#story_editions2").hide();
      $('#b_show_feeds2').click(function () {
         $("#b_show_editions2").removeClass('activa');
         $("#story_editions2").hide();
         $('#b_show_feeds2').addClass('activa');
         $("#story_feeds2").show();
      });
      $('#b_show_editions2').click(function () {
         $('#b_show_feeds2').removeClass('activa');
         $("#story_feeds2").hide();
         $("#b_show_editions2").addClass('activa');
         $("#story_editions2").show();
      });
      $('#b_show_comments').click(function () {
         $('#b_show_feeds2').removeClass('activa');
         $("#story_feeds2").hide();
         $("#b_show_editions2").removeClass('activa');
         $("#story_editions2").hide();
         $("#b_show_comments").addClass('activa');
         $("#story_comments").show();
      });
   });
</script>

<script>
   (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="fb-root"></div>

<div class="popup_container">
   <div class="popup2">
      <div class="story_info" itemscope itemtype="http://schema.org/Article">
         <h1 itemprop="name">{$fsc->story->title}</h1>
         {if condition="$fsc->story->media_item"}
         <div class="media_item">{$fsc->story->media_item->show($fsc->story->link())}</div>
         {/if}
         <p itemprop="articleBody">{$fsc->story->description}</p>
         <table width="100%">
            <tr>
               <td>
                  <meta itemprop="datePublished" content="{$fsc->story->show_date(TRUE)}" />
                  <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="label" title="Clics: {$fsc->story->clics}, twitter: {$fsc->story->tweets}, facebook: {$fsc->story->likes}, meneame: {$fsc->story->meneos}, g+: {$fsc->story->plusones}">
                     Popularidad: <span itemprop="ratingCount">{$fsc->story->popularity()}</span>
                  </span>
                  {if condition="!$fsc->story->native_lang"}
                  <span class="label" title="esta historia no está en español"><s>español</s></span>
                  {/if}
                  <a class="twitter" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="{$fsc->story->tweets} tweets">Twitter</a>
                  <a class="facebook" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="{$fsc->story->likes} likes">Facebook</a>
               </td>
               <td align="right">
                  <a href="{$fsc->story->edit_url()}" class="button_edit">Editar</a> &nbsp;
                  <a rel="nofollow" target="_blank" href="{$fsc->story->link()}" class="button">Abrir enlace</a>
               </td>
            </tr>
         </table>
      </div>
      <ul class="pestanyas">
         <li id="b_show_feeds2">Fuentes</li>
         <li id="b_show_editions2">Ediciones</li>
         <li id="b_show_comments" class="activa">Comentarios</li>
      </ul>
      <div class="pestanya_content" id="story_feeds2">
         <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Enlace</th>
               <th align="left">Fuente</th>
            </tr>
            {loop="$fsc->story->feed_links()"}
            <tr>
               <td>{$value->timesince()}</td>
               <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
               <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
            </tr>
            {else}
            <tr>
               <td>{$fsc->story->timesince()}</td>
               <td>-</td>
               <td>-</td>
            </tr>
            {/loop}
         </table>
      </div>
      <div class="pestanya_content" id="story_editions2">
         <table class="lista">
            <tr>
               <th align="left">Fecha</th>
               <th align="left">Título</th>
               <th align="right">Votos</th>
            </tr>
            {loop="$fsc->story->editions()"}
            <tr>
               <td>{$value->timesince()}</td>
               <td><a href="{$path}/{$value->url()}">{$value->title}</a></td>
               <td align="right">{$value->votes}</td>
            </tr>
            {else}
            <tr><td colspan="3">Sin resultados.</td></tr>
            {/loop}
         </table>
      </div>
      <div class="pestanya_content" id="story_comments" style='text-align: center;'>
         <div class="fb-comments" data-href="{$fsc->story->link()}" data-width="800"></div>
      </div>
   </div>
</div>
{/if}

{if condition="$fsc->popular OR $fsc->editions"}
<script type="text/javascript">
      $(document).ready(function() {
         var container = document.querySelector('#stories');
         var msnry = new Masonry( container, {
            itemSelector: '.story',
            isFitWidth: true,
            isAnimated: true
         });
      });
</script>

<div id="stories">
   {loop="$fsc->popular"}
      <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_popup_story('{$path}/{$value->url()}')">
            {if condition="$value->media_item"}
               <div class="image">
                  <a href="{$path}/{$value->url(TRUE)}">
                     {$value->media_item->show_image()}
                  </a>
               </div>
               <h1>{$value->title}</h1>
            {else}
               <h1>{$value->title}</h1>
               <p>
                  {$value->description()}
                  <a href="{$path}/{$value->url(TRUE)}">leer más</a>.
               </p>
            {/if}
            <div class="timesince">
               {$value->popularity()}
               <span>{$value->timesince()}</span>
            </div>
      </div>
   {/loop}
</div>
{/if}

{include="desktop/footer"}