{include="desktop/header"}

<div class="info">
   <img class="face pull-right" src="{$path}/view/img/mother_of_god.png" alt="wooow"/>
   <h1>Estadísticas de la web:</h1>
   <ul class="horizontal2">
      <li>FeedStorm: v{$fsc->version()}</li>
      <li>PHP: v{$fsc->php_version()}</li>
      <li>MongoDB: v{$fsc->mongo_version()}</li>
      <li>El directorio temporal ocupa {$fsc->tmp_size()}</li>
   </ul>
</div>

<div class="bloque">
   <h1>Usuarios:</h1>
   <ul class="horizontal">
      <li>{$fsc->visitor->show_count()} usuarios</li>
      <li>
         {$fsc->visitor->show_count_usuals()}
         <a href="{$fsc->url()}&showing=usuals#usuals">usuarios habituales</a>
      </li>
      <li>
         {$fsc->story_visit->show_count()}
         <a href='{$fsc->url()}&showing=visits#visits'>visitas</a>
      </li>
      <li>{$fsc->suscription->show_count()} suscripciones</li>
   </ul>
</div>

<div class="bloque">
   <h1>Fuentes:</h1>
   <ul class="horizontal">
      <li>{$fsc->feed->show_count()} fuentes</li>
      <li>{$fsc->feed_story->show_count()} relaciones con historias</li>
      <li>{$fsc->suscription->show_count()} suscripciones</li>
   </ul>
</div>

<div class="bloque">
   <h1>Historias:</h1>
   <ul class="horizontal">
      <li>{$fsc->story->show_count()} historias</li>
      <li>{$fsc->feed_story->show_count()} relaciones con fuentes</li>
      <li>{$fsc->story_media->show_count()} relaciones con elementos multimedia</li>
      <li>{$fsc->story_visit->show_count()} visitas</li>
      <li>{$fsc->story_edition->show_count()} ediciones</li>
   </ul>
</div>

<div class="bloque">
   <h1>Elementos multimedia:</h1>
   <ul class="horizontal">
      <li>{$fsc->media_item->show_count()} elementos multimedia</li>
      <li>{$fsc->story_media->show_count()} relaciones con historias</li>
      {loop="$fsc->media_item->stats()"}
      <li>{$value[1]} de tipo {$value[0]}</li>
      {/loop}
   </ul>
</div>

<div class="bloque">
   {if condition="$fsc->showing=='visits'"}
   <a name="visits"></a>
   <h1>Análisis de las últimas visitas (excluyéndote a ti):</h1>
   <table class="lista">
      <tr>
         <th align='left'>Historia</th>
         <th align="right">Desde</th>
         <th align="right">Visitas</th>
      </tr>
      {loop="$fsc->analyze_visits()"}
      <tr>
         <td>
            <a href="#" onclick="fs_popup_story('{$path}/{$value['story']->url()}'); return false;">
               {$value['story']->title}
            </a>
         </td>
         <td align="right">{$value['date']}</td>
         <td align="right">{$value['visits']}</td>
      </tr>
      {else}
      <tr>
         <td>-</td>
         <td align="right">-</td>
      </tr>
      {/loop}
   </table>
   {/if}
   {if condition="$fsc->showing=='usuals'"}
   <a name="usuals"></a>
   <h1>Usuarios habituales:</h1>
   <table class="lista">
      <tr>
         <th align="left">Nick</th>
         <th align="left">Navegador</th>
         <th>Móvil</th>
         <th>Humano</th>
         <th align="right">Suscripciones</th>
         <th align="right">Visitas</th>
         <th align="right">Edad</th>
      </tr>
      {loop="$fsc->visitor->usuals()"}
      <tr>
         <td>{$value->nick}</td>
         <td>
            <span title="{$value->user_agent}">{$value->browser()}</span>
         </td>
         <td align="center">{if condition="$value->mobile()"}SI{else}-{/if}</td>
         <td align="center">{if condition="$value->human"}SI{else}-{/if}</td>
         <td align="right">{$value->num_suscriptions}</td>
         <td align="right">{$value->num_visits()}</td>
         <td align="right">{$value->age(TRUE)}</td>
      </tr>
      {else}
      <tr><td colspan="7">Nada que mostrar.</td></tr>
      {/loop}
   </table>
   {/if}
</div>

{include="desktop/footer"}