{include="desktop/header"}

<div class="bloque">
   <div class="title">Estadísticas:</div>
   <ul class="horizontal">
      <li>FeedStorm: v{$fsc->version()}</li>
      <li>MongoDB: v{$fsc->mongo_version()}</li>
      <li>Usuarios: {$fsc->visitor->show_count()}</li>
      <li>Fuentes: {$fsc->feed->show_count()}</li>
      <li>Suscripciones: {$fsc->suscription->show_count()}</li>
      <li>Historias/fuente: {$fsc->feed_story->show_count()}</li>
      <li>Historias: {$fsc->story->show_count()}</li>
      <li>Ediciones: {$fsc->story_edition->show_count()}</li>
      <li>Visitas: {$fsc->story_visit->show_count()}</li>
      <li>Elementos multimedia/historia: {$fsc->story_media->show_count()}</li>
      <li>Elementos multimedia: {$fsc->media_item->show_count()}</li>
   </ul>
</div>

<div class="bloque2">
   <div class="title">Últimas visitas:</div>
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">IP</th>
         <th align="left">Navegador</th>
         <th align="right">Historia</th>
      </tr>
      {loop="$fsc->story_visit->last()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td>{$value->ip}</td>
         <td>{$value->user_agent}</td>
         <td align="right"><a target="_blank" href="{$value->url()}">{$value->story_id}</a></td>
      </tr>
      {else}
      <tr><td>-</td><td>-</td><td>-</td><td align="right">-</td></tr>
      {/loop}
   </table>
</div>

<div class="bloque">
   <div class="title">Nuevos usuarios:</div>
   <table class="lista">
      <tr>
         <th align="left">Fecha</th>
         <th align="left">Nick</th>
         <th align="left">Navegador</th>
      </tr>
      {loop="$fsc->visitor->last()"}
      <tr>
         <td>{$value->login_timesince()}</td>
         <td>{$value->nick}</td>
         <td>{$value->user_agent}</td>
      </tr>
      {else}
      <tr><td>-</td><td>-</td><td>-</td></tr>
      {/loop}
   </table>
</div>

{include="desktop/footer"}