{include="header"}

<div class="box">
   <form action="{$fsc->url()}" method="post">
      <table width="100%">
         <tr>
            <td><h1>TU:</h1></td>
            <td align="right"><input type="submit" value="enviar"/></td>
         </tr>
      </table>
      <textarea name="text" cols="60" rows="4"></textarea>
   </form>
</div>

<div class="box">
   <table width="100%">
      <tr>
         <td><h1>Mensajes en el foro:</h1></td>
         <td align="right"><a href="{$fsc->url()}">actualizar</a></td>
      </tr>
   </table>
   {loop="$fsc->reverse_chats()"}
      <div class="chat_msg">
         <h1>
            {if condition="$value->nick==$fsc->visitor->get_key()"}
               TU dices:
            {else}
               {$value->nick} dice:
            {/if}
            <span>{$value->timesince()}</span>
         </h1>
         {$value->get_text()}
      </div>
   {/loop}
</div>

{include="footer"}