{include="mobile/header"}

{if condition="$fsc->stories"}

{if condition="$fsc->show_info"}
<div class="hero-unit">
   <h2>¿Qué pasa aquí?</h2>
   <br/>
   <p>
      Aquí tienes una ración aleatoria de noticias frescas, fresquísimas.
      Noticias de cualquier fuente. ¡Para cuando te aburras!<br/>
      <b>Y recuerda:</b> Si alguna noticia está ilustrada con una imagen que no se
      corresponde, haz clic en esa imágen, después en la pestaña
      <b>imágenes y vídeos</b> selecciona la más apropiada.
   </p>
   <p><a class="btn btn-primary btn-large" href="{$path}/{$fsc->url()}&show_info=FALSE">Vale, ya lo pillo</a></p>
</div>
{/if}

<div id="stories">
   {loop="$fsc->stories"}
   <div class="story">
      <h1><a href="{$path}/{$value->url()}">{$value->title}</a></h1>
      {if condition="$value->media_item"}
         <div class="image">{$value->media_item->show_image()}</div>
      {else}
         <p>{$value->description}</p>
      {/if}
   </div>
   {/loop}
</div>
{else}
<div class="hero-unit">
   <h2>No se han encontrado noticias :(</h2>
   <br/>
   <p>
      Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
      es una mierda.<br/>
      Añade alguna fuente desde la sección
      <a href="{$path}/index.php?page=feed_list">fuentes</a>. O deja que lo haga
      otro y luego di que has sido tú y te llevas el mérito ;-)
   </p>
</div>
{/if}

{include="mobile/footer"}