{include="mobile/header"}

{if condition="$fsc->story"}
<script src="{$path}/view/js/jquery.masonry.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $("#media_items").masonry({
         itemSelector: '.media_item2',
         isFitWidth: true,
         isAnimated: true
      });
   });
</script>

<div class="info">
   <h1>Editar noticia:</h1>
   Desde aquí puedes editar la noticia para seleccionar una imágen más apropiada,
   corregir faltas de ortografía, mejorar la redacción, etc ... pero no te
   emociones porque no sustituye a la noticia original. Esta versión corregida
   aparecerá en la sección <b>ediciones</b>.
</div>
<div class="bloque">
   <form action="{$fsc->url()}" method="post">
      <table width="100%">
         <tr>
            <td><b>Nuevo título:</b></td>
            <td align="right"><input type="submit" value="Guardar"/></td>
         </tr>
         <tr>
            <td colspan="2">
               <input class="full" type="text" name="title" value="{$fsc->story_edition->title}" size="60"/>
            </td>
         </tr>
         <tr>
            <td colspan="2">
               <b>Descripción:</b>
               <br/>
               <textarea name="description" rows="6">{$fsc->story_edition->description()}</textarea>
            </td>
         </tr>
      </table>
      
      <div id="media_items">
         <div class="media_item2">
            {if condition="!$fsc->story_edition->media_id"}
               <input type="radio" name="media_id" value="none" checked="checked"/> Ninguna
            {else}
               <input type="radio" name="media_id" value="none"/> Ninguna
            {/if}
         </div>
         {loop="$fsc->story->media_items()"}
         <div class="media_item2">
            {if condition="$value->get_id()==$fsc->story_edition->media_id"}
               <input type="radio" name="media_id" value="{$value->get_id()}" checked="checked"/> Seleccionar
            {else}
               <input type="radio" name="media_id" value="{$value->get_id()}"/> Seleccionar
            {/if}
            <div class="media_item_show">{$value->show()}</div>
         </div>
         {/loop}
      </div>
   </form>
</div>
{/if}

{include="mobile/footer"}