{include="mobile/header"}

{if condition="$fsc->story"}
<div class="alert alert-info">
   <h4>Editar historia:</h4>
   Desde aquí puedes editar la historia para seleccionar una imágen más apropiada,
   corregir faltas de ortografía, mejorar la redacción, etc ... pero no te
   emociones porque no sustituye a la historia original. Esta versión corregida
   aparecerá en la sección <b>ediciones</b>.
</div>

<div class="panel">
   <p>
      <b>Historia original:</b><br/>
      <a href="{$fsc->story->link}" rel="nofollow" target="_blank">{$fsc->story->title}</a>
   </p>
   <form class="form-horizontal" action="{$fsc->url()}" method="post">
      <fieldset>
         <div class="control-group">
            <label>¿Eres humano?</label> &nbsp; &nbsp;
            <label for="r_human_yes" class="radio-inline">
               <input id="r_human_yes" type="radio" name="human" value="POZI"{if condition="$fsc->visitor->human"} checked="checked"{/if}/>
               Si
            </label>
            <label for="r_human_no" class="radio-inline">
               <input id="r_human_no" type="radio" name="human" value="PONO"{if condition="!$fsc->visitor->human"} checked="checked"{/if}/>
               No
            </label>
         </div>
         <div class="control-group">
            <label class="control-label" for="input_title">Nuevo título</label>
            <input class="form-control" type="text" name="title" id="input_title" placeholder="Título" value="{$fsc->story_edition->title}">
         </div>
         <div class="control-group">
            <label class="control-label" for="input_description">Descripción</label>
            <textarea class="form-control" name="description" rows="6">{$fsc->story_edition->description()}</textarea>
         </div>
         
         <br/>
         
         <div class="control-group">
            <label>Elige una imágen:</label>
            <div class="thumbnail">
               <label>
                  <input type="radio" name="media_id" value="none"{if condition="!$fsc->story_edition->media_id"} checked="checked"{/if}/>
                  Ninguna
               </label>
            </div>
            {loop="$fsc->story->media_items()"}
            <div class="thumbnail">
               <label>
                  <input type="radio" name="media_id" value="{$value->get_id()}"{if condition="$value->get_id()==$fsc->story_edition->media_id"}checked="checked"{/if}/>
                  Seleccionar
                  {$value->show()}
               </label>
            </div>
            {/loop}
         </div>
         
         <br/>
         
         <button type="submit" class="btn btn-primary">Guardar</button>
      </fieldset>
   </form>
</div>
{/if}

{include="mobile/footer"}