{include="mobile/header"}

{if condition="$fsc->feed"}
<div class="info">
   <table width="100%">
      <tr>
         <td>
            <h1>{$fsc->feed->name}</h1>
         </td>
         <td align="right">
            {if condition="$fsc->unsuscribe"}
            <a class="button_remove" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
            {else}
            <a class="button" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
            {/if}
         </td>
      </tr>
   </table>
   <table class="lista">
      <tr>
         <td align="right">Descripción:</td>
         <td>{$fsc->feed->description}.</td>
      </tr>
      <tr>
         <td align="right">Última actualización:</td>
         <td>{$fsc->feed->last_update_timesince()}</td>
      </tr>
      <tr>
         <td align="right">Suscriptores:</td>
         <td>{$fsc->feed->suscriptors}</td>
      </tr>
      <tr>
         <td align="right">Errores:</td>
         <td>{$fsc->feed->strikes}</td>
      </tr>
   </table>
</div>

<div class="bloque">
   <div id="stories">
   {loop="$fsc->stories"}
      <div class="story{if condition="$value->readed()"} story_readed{/if}" onclick="fs_go2url('{$path}/{$value->url()}')">
         <h1>{$value->title}</h1>
         {if condition="$value->media_item"}
            <div class="image">{$value->media_item->show_image()}</div>
         {else}
            <p>{$value->description()}</p>
         {/if}
      </div>
      <a href="{$path}/{$value->url()}"></a>
   {/loop}
   </div>
</div>
{/if}

{include="mobile/footer"}