{include="mobile/header"}

{if condition="$fsc->feed"}
<div class="panel">
   <div class="panel-heading">
      <h3 class="panel-title">{$fsc->feed->name}</h3>
   </div>
   <p>{$fsc->feed->description}</p>
   {if condition="$fsc->visitor->human()"}
      {if condition="$fsc->unsuscribe"}
      <a class="btn btn-danger" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
      {else}
      <a class="btn btn-success" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
      {/if}
   {/if}
</div>

<div>
   {loop="$fsc->stories"}
      <div class="panel{if condition="$value->readed()"} panel-warning{/if}" onclick="fs_go2url('{$path}/{$value->url()}')">
         <div class="panel-heading">
            <h3 class="panel-title">{$value->title}</h3>
         </div>
         <div{if condition="$value->media_item"} style="min-height: {$value->media_item->height}px;"{/if}>
            {if condition="$value->media_item"}
            <div class="media_item2">{$value->media_item->show_image()}</div>
            {/if}
            {$value->description()}
         </div>
         <div class="panel-footer">
            {$value->popularity()}
            <span class="pull-right">{$value->timesince()}</span>
         </div>
      </div>
   {/loop}
</div>
{/if}

{include="mobile/footer"}