   <div class="footer">
      <table width="100%">
         <tr>
            <td><a target="_blank" href="https://twitter.com/neorazorx">@neorazorx</a></td>
            <td align="right">
               <a target="_blank" href="https://github.com/NeoRazorX/feedstorm/issues">Informar de un error</a>
            </td>
         </tr>
         <tr>
            <td colspan="2" align="center">
               <br/>
               Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
               en {$fsc->duration()}.
            </td>
         </tr>
      </table>
   </div>
</body>
</html>