   {if condition="$debug"}
   <div class="panel">
      <div class="panel-heading">
         <h4 class="panel-title">Historial de mongodb:</h4>
      </div>
      <ul>
      {loop="$fsc->get_mongo_history()"}<li>{$value}</li>{/loop}
      </ul>
   </div>
   {/if}
   <div class="footer">
      <a href="{$path}/index.php?page=comments">Contacto</a> |
      Procesado por <a rel="nofollow" target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a>
      en {$fsc->duration()}.
   </div>
</body>
</html>