<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="description" content="{$fsc->get_description()}" />
   <meta name="Robots" content="all" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link type="text/css" href="{$path}/view/mobile/css/bootstrap.min.css" rel="stylesheet" />
   <link type="text/css" href="{$path}/view/mobile/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link type="text/css" href="{$path}/view/mobile/css/base.css" rel="stylesheet" />
   <script src="{$path}/view/js/jquery.js"></script>
   <script src="{$path}/view/mobile/js/bootstrap.min.js"></script>
   <script src="{$path}/view/mobile/js/bootstrap-responsive.min.js"></script>
   {if condition="$analytics"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{$analytics}']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
   {/if}
   <script src="{$path}/view/js/basic.js"></script>
</head>
<body>
   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
         <a class="brand" href="{$path}/">{$name}</a>
         <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
            <ul class="nav">
            {if condition="$fsc->page=='home'"}
               <li class="active"><a href="{$path}/">Portada</a></li>
            {else}
               <li><a href="{$path}/">Portada</a></li>
            {/if}
            {if condition="$fsc->page=='popular_stories'"}
               <li class="active"><a href="{$path}/index.php?page=popular_stories">Populares</a></li>
            {else}
               <li><a href="{$path}/index.php?page=popular_stories">Populares</a></li>
            {/if}
            {if condition="$fsc->page=='discover_stories'"}
               <li class="active"><a href="{$path}/index.php?page=discover_stories">Descubrir</a></li>
            {else}
               <li><a href="{$path}/index.php?page=discover_stories">Descubrir</a></li>
            {/if}
            {if condition="$fsc->page=='last_editions'"}
               <li class="active"><a href="{$path}/index.php?page=last_editions">Ediciones</a></li>
            {else}
               <li><a href="{$path}/index.php?page=last_editions">Ediciones</a></li>
            {/if}
            {if condition="$fsc->page=='feed_list'"}
               <li class="active"><a href="{$path}/index.php?page=feed_list">Fuentes</a></li>
            {else}
               <li><a href="{$path}/index.php?page=feed_list">Fuentes</a></li>
            {/if}
            {if condition="$fsc->page=='suscriptions'"}
               <li class="active"><a href="{$path}/index.php?page=suscriptions">Suscripciones</a></li>
            {else}
               <li><a href="{$path}/index.php?page=suscriptions">Suscripciones</a></li>
            {/if}
            {if condition="$fsc->page=='comments'"}
               <li class="active"><a href="{$path}/index.php?page=comments">¡Habla!</a></li>
            {else}
               <li><a href="{$path}/index.php?page=comments">¡Habla!</a></li>
            {/if}
            </ul>
            </div>
         </div>
      </div>
   </div>
   
   {if condition="$fsc->get_errors()"}
   <div class="alert alert-error">
      <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}
   {if condition="$fsc->get_messages()"}
   <div class="alert alert-info">
      <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
   </div>
   {/if}