{include="mobile/header"}

{if condition="$fsc->editions"}
   <div>
      {loop="$fsc->editions"}
      <div class="story" onclick="fs_go2url('{$path}/{$value->url()}')">
         {if condition="$value->media_item"}
            <div class="image">{$value->media_item->show_image()}</div>
            <h4>{$value->title}</h4>
         {else}
            <h4>{$value->title}</h4>
            <p>{$value->description()}</p>
         {/if}
         <div class="timesince">
            {$value->votes} votos
            <span>{$value->timesince()}</span>
         </div>
      </div>
      <a href="{$path}/{$value->url()}"></a>
      {/loop}
   </div>
{else}
   <div class="alert">
      <h1>No se han encontrado ediciones :(</h1>
      <p>
         Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
         es una mierda.
      </p>
   </div>
{/if}

{include="mobile/footer"}