{include="mobile/header"}

{if condition="$fsc->stories"}
   <div>
      {loop="$fsc->stories"}
      <div class="panel{if condition="$value->readed()"} panel-warning{/if}" onclick="fs_go2url('{$path}/{$value->url()}')">
         <div class="panel-heading">
            <h3 class="panel-title">{$value->title}</h3>
         </div>
         <div{if condition="$value->media_item"} style="min-height: {$value->media_item->height}px;"{/if}>
            {if condition="$value->media_item"}
            <div class="media_item2">{$value->media_item->show_image()}</div>
            {/if}
            {$value->description()}
            <a href='{$path}/{$value->url()}'>leer más</a>.
         </div>
         <div class="panel-footer">
            {$value->popularity()}
            <span class="pull-right">{$value->timesince()}</span>
         </div>
      </div>
      {/loop}
   </div>
{else}
   <div class="alert alert-info">
      <h3>No se han encontrado historias populares :(</h3>
      <p>
         Esto es muy grave. No en plan "¡Vamos a morir todos!". No, simplemente
         es una mierda.<br/>
         Añade alguna fuente desde la sección
         <a href="{$path}/index.php?page=feed_list">fuentes</a>. O deja que lo haga
         otro y luego di que has sido tú y te llevas el mérito ;-)
      </p>
   </div>
{/if}

{include="mobile/footer"}