{include="mobile/header"}

{if condition="$fsc->story"}
<div>
   <p>
      <a class="btn btn-info btn-small" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}">Twitter</a>
      <a class="btn btn-info btn-small" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}">Facebook</a>
      <span class="label">Popularidad: {$fsc->story->popularity()}</span>
      {if condition="!$fsc->story->native_lang"}
      <span class="label"><s>español</s></span>
      {/if}
   </p>
   <h3>{$fsc->story->title}</h3>
   {if condition="$fsc->story->media_item"}
      <div class="media_item">
         {$fsc->story->media_item->show($fsc->story->link())}
      </div>
   {/if}
   <p>
      {$fsc->story->description}
   </p>
   <p>
      <a href="{$path}/{$fsc->story->edit_url()}" class="btn btn-success">Editar</a>
      <a rel="nofollow" target="_blank" href="{$fsc->story->link()}" class="btn btn-primary pull-right">Abrir enlace</a>
   </p>
</div>

<br/>

<div class="panel">
   <div class="panel-heading">
      <h3 class="panel-title">Fuentes:</h3>
   </div>
   <table class="table">
      <tr>
         <th>Fecha</th>
         <th>Enlace</th>
         <th>Fuente</th>
      </tr>
      {loop="$fsc->story->feed_links()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
         <td><a href="{$path}/{$value->feed_url()}">{$value->feed_name()}</a></td>
      </tr>
      {else}
      <tr>
         <td>{$fsc->story->timesince()}</td>
         <td colspan="2">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

{if condition="$fsc->story->editions()"}
<div class="panel">
   <div class="panel-heading">
      <h3 class="panel-title">Ediciones:</h3>
   </div>
   <table class="table">
      <tr>
         <th>Fecha</th>
         <th>Título</th>
         <th>Votos</th>
      </tr>
      {loop="$fsc->story->editions()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a href="{$path}/{$value->url()}">{$value->title}</a></td>
         <td align="right">{$value->votes}</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

{/if}

{include="mobile/footer"}