{include="mobile/header"}

{if condition="$fsc->edition"}
<div>
   <p>
      <a class="btn btn-info btn-small" href="#" onclick="fs_go2url('{$fsc->edition->vote_url()}'); return false;">+1</a>
      <span class="label label-info">{$fsc->edition->votes} votos</span>
   </p>
   <h3>{$fsc->edition->title}</h3>
   {if condition="$fsc->edition->media_item"}
      <div class="media_item">
         {$fsc->edition->media_item->show($fsc->edition->story->link())}
      </div>
   {/if}
   <p>{$fsc->edition->description}</p>
   <p>
      <a href="{$fsc->edition->story->edit_url()}" class="btn btn-success">Editar</a>
      <a target="_blank" href="{$fsc->edition->story->link()}" class="btn btn-primary pull-right">Abrir enlace</a>
   </p>
</div>

<br/>

<div class="panel">
   <div class="panel-heading">
      <h3 class="panel-title">Ediciones:</h3>
   </div>
   <table class="table">
      <tr>
         <th>Fecha</th>
         <th>Título</th>
         <th>Votos</th>
      </tr>
      {loop="$fsc->edition->editions()"}
      <tr>
         {if condition="$value->get_id()!=$fsc->edition->get_id()"}
            <td>{$value->timesince()}</td>
            <td><a href="#" onclick="fs_popup_edition('{$path}/{$value->url()}'); return false;">{$value->title}</a></td>
            <td align="right">{$value->votes}</td>
         {else}
            <td>-</td><td>-</td><td align="right">-</td>
         {/if}
      </tr>
      {/loop}
      <tr>
         <td>{$fsc->edition->story->timesince()}</td>
         <td><a href="{$path}/{$fsc->edition->story->url()}">{$fsc->edition->story->title}</a></td>
         <td align="right">-</td>
      </tr>
   </table>
</div>

<div class="panel">
   <div class="panel-heading">
      <h3 class="panel-title">Fuentes:</h3>
   </div>
   <table class="table">
      <tr>
         <th>Fecha</th>
         <th>Enlace</th>
         <th>Fuente</th>
      </tr>
      {loop="$fsc->edition->story->feed_links()"}
      <tr>
         <td>{$value->timesince()}</td>
         <td><a target="_blank" href="{$value->link()}">{$value->title}</a></td>
         <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
      </tr>
      {else}
      <tr><td colspan="3">Sin resultados.</td></tr>
      {/loop}
   </table>
</div>
{/if}

{include="mobile/footer"}