{include="mobile/header"}

{if condition="$fsc->suscriptions"}
<div class="well">
   <table class="table">
      <tr>
         <th>Nombre + descripción</th>
         <th>Última actualización</th>
         <th>Suscriptores</th>
      </tr>
      {loop="$fsc->suscriptions"}
      <tr>
         <td><a href="{$value->url()}">{$value->name()}</a> {$value->description()}</td>
         <td>{$value->last_update_timesince()}</td>
         <td>{$value->suscriptors()}</td>
      </tr>
      {/loop}
   </table>
</div>
{else}
<div class="hero-unit">
   <h1>No estás suscrito a ninguna fuente.</h1>
   <p>
      Puedes buscar fuentes interesantes desde la sección <a href="{$path}/index.php?page=feed_list">fuentes</a>
      y suscríbirte.
   </p>
</div>
{/if}

{include="mobile/footer"}