{include="mobile/header"}

{if condition="$fsc->suscriptions"}
<div class="well">
   <h3>Nombre + descripción:</h3>
   {loop="$fsc->suscriptions"}
      <p><a href="{$value->url()}">{$value->name()}</a> {$value->description()}</p>
   {/loop}
</div>
{else}
<div class="alert">
   <h2>No estás suscrito a ninguna fuente.</h2>
   <p>
      Puedes buscar fuentes interesantes desde la sección <a href="{$path}/index.php?page=feed_list">fuentes</a>
      y suscríbirte.
   </p>
</div>
{/if}

{include="mobile/footer"}