{include="header"}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            {if condition="$fsc->visitor->admin"}
            <th></th>
            {/if}
            <th class="text-left">Autor / fecha</th>
            <th class="text-left">Comentario</th>
         </tr>
      </thead>
      {loop="$fsc->comments"}
      <tr{if condition="$value->visitor_id==$fsc->visitor->get_id()"} class="bg-success"{elseif condition="$value->ip==$fsc->visitor->ip"} class="bg-info"{/if}>
         {if condition="$fsc->visitor->admin"}
         <td class="text-center">
            <a href="{$path}stats?vid={$value->visitor_id}" title="detalles del usuario">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
         </td>
         {/if}
         <td>
            <a href="{$path}messages?to={$value->visitor_id}">@{$value->nick}</a>
            {$value->timesince()}
         </td>
         <td>
            {$value->text} <a href='{$value->url()}'>leer más</a>.
         </td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="3">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}