{include="header"}

<div class="container-fluid">
   <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-md-4 {if condition="$value1==3"}col-sm-12{else}col-sm-6{/if}">
         {loop="$fsc->split_stories($fsc->comments, 3, $value1)"}
            <div class="well well-sm" style="background-color: white; padding-bottom: 0px;">
               <div style="margin-bottom: 5px;">
                  <span class="glyphicon glyphicon-user"></span>
                  {if condition="$fsc->visitor->get_id()==$value2->visitor_id"}
                     <b>Tú</b>
                  {else}
                     <a href="{$path}messages?to={$value2->visitor_id}">@{$value2->nick}</a>
                  {/if}
                  <span class="pull-right small">{$value2->timesince()}</span>
               </div>
               <p>
                  {$value2->text}
                  <a href='{$value2->url()}'>leer más</a>.
               </p>
            </div>
         {/loop}
         </div>
      {/loop}
   </div>
</div>

{include="footer"}