{include="header"}

<div class="container">
   <div class="row">
      <div class="col-lg-12">
         <h2>¿Qué es una cookie?</h2>
         <p>
            Una cookie (o galleta Informática) es una pequeña información enviada
            por un sitio web y almacenada en el navegador del usuario, de manera
            que el sitio web puede consultar la actividad previa del usuario.
         </p>
         <h4>Sus principales funciones son:</h4>
         <ul>
            <li>
               Llevar el control de usuarios: cuando un usuario introduce su nombre
               de usuario y contraseña, se almacena una cookie para que no tenga que
               estar introduciéndolas para cada página del servidor. Sin embargo,
               una cookie no identifica solo a una persona, sino a una combinación de computador-navegador-usuario.
            </li>
            <li>
               Conseguir información sobre los hábitos de navegación del usuario,
               e intentos de spyware (programas espía), por parte de agencias de publicidad
               y otros. Esto puede causar problemas de privacidad y es una de las razones
               por la que las cookies tienen sus detractores.
            </li>
         </ul>
         <h1>Política de cookies de {$name}:</h1>
         <p>
            {$name} usa cookies propias y de terceros para mejorar nuestros servicios y
            mostrarle publicidad relacionada con sus preferencias mediante el análisis
            de sus hábitos de navegación.
         </p>
         <h2>Tipos de cookies de {$name}:</h2>
         <ul>
            <li>
               <mark>key</mark>: esta es una cookie técnica para identificarle a usted y poder
               obtener sus suscripciones, comentarios, etc...
            </li>
            <li>
               <mark>s_XXXXXX</mark>: estas también son coockies técnicas que utilizamos únicamente
               para saber si ha leido ya un artículo.
            </li>
         </ul>
         <h2>Tipos de cookies de terceros:</h2>
         <ul>
            <li>
               <mark>_ga</mark>: esta es una cookie de análisis de Google Analytics. Se utiliza
               para identificar al usuario. Para más información visita
               <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=es">esta web</a>.
            </li>
            <li>
               Google, como proveedor asociado, utiliza cookies para publicar anuncios en este sitio web.
               Los usuarios pueden inhabilitar el uso de la cookie de DART a través del anuncio de Google y accediendo a la
               <a href="http://www.google.es/privacy_cookies.html">política de privacidad de la red de contenido</a>.
               Google utiliza empresas publicitarias asociadas para publicar anuncios cuando visita nuestro sitio web.
               Es posible que estas empresas usen la información que obtienen de sus visitas a este y otros sitios web
               (sin incluir su nombre, dirección, dirección de correo electrónico o número de teléfono) para
               ofrecerle anuncios sobre productos y servicios que le resulten de interés. Si desea obtener
               más información sobre esta práctica y conocer sus opciones para impedir que estas empresas usen
               esta información, <a href="http://www.google.es/privacy_cookies.html">haga clic aquí</a>.
            </li>
         </ul>
      </div>
   </div>
</div>

{include="footer"}