{include="header"}

{if condition="$fsc->stories"}
<div class="container-fluid">
   <div class="row">
   {loop="$fsc->stories"}
      {if condition="$counter<2"}
      <div class="col-lg-6" style="padding-top: 5px;">
         <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
         {if condition="!$fsc->preview->type"}
         <!--{$fsc->preview->load_topics($value->topics)}-->
         {/if}
         
         <div>
            {if condition="$fsc->preview->type"}
            <div class="pull-left">
               <a href="{$value->url()}">
                  <img src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 150px; margin-right: 10px;">
               </a>
            </div>
            {/if}
            <h1 style="margin-bottom: 0px;">
               <a href="{$value->url()}">{$value->title}</a>
            </h1>
            <p>
               {$value->description(500)}
               <br/>
               <span class="small">
                  {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  {if condition="$value->num_comments>0"}
                  <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                  {/if}
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
         </div>
         
         {if condition="$counter==0"}<hr class="hidden-lg"/>{/if}
      </div>
      {/if}
   {/loop}
   </div>
   
   <div class="row">
      <div class="col-lg-12"><hr/></div>
   </div>
   
   <div class="row">
      <div class="col-lg-5 col-md-12">
      {loop="$fsc->stories"}
         {if condition="$counter>=2 AND $counter<15"}
            {if condition="$counter>2"}<hr/>{/if}
            
            <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
            {if condition="!$fsc->preview->type"}
            <!--{$fsc->preview->load_topics($value->topics)}-->
            {/if}
            
            <div>
               {if condition="$fsc->preview->type"}
               <div class="pull-left">
                  <a href="{$value->url()}">
                     <img src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 120px; margin-right: 10px;">
                  </a>
               </div>
               {/if}
               <h3 style="margin-top: 0px; margin-bottom: 5px;">
                  <a href="{$value->url()}">{$value->title}</a>
               </h3>
               <p>
                  {$value->description(255)}
                  <br/>
                  <span class="small">
                     {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                     <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                     <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                     {if condition="$value->num_comments>0"}
                     <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                     {/if}
                     
                     {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                     {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                     {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                     {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                  </span>
               </p>
            </div>
         {/if}
      {/loop}
      </div>
      
      <div class="col-lg-4 col-md-7">
      {loop="$fsc->stories"}
         {if condition="$counter>=15 AND $counter<31"}
            <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
            {if condition="!$fsc->preview->type"}
            <!--{$fsc->preview->load_topics($value->topics)}-->
            {/if}
            
            <div style="margin-bottom: 25px;">
               {if condition="$fsc->preview->type"}
               <div class="pull-right">
                  <a href="{$value->url()}">
                     <img src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 80px; max-width: 100px; margin-left: 10px;">
                  </a>
               </div>
               {/if}
               <h4 style="margin-top: 0px; margin-bottom: 0px;">
                  <a href="{$value->url()}">{$value->title}</a>
               </h4>
               <p>
                  {$value->description(200)}
                  <br/>
                  <span class="small">
                     {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                     <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                     <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                     {if condition="$value->num_comments>0"}
                     <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                     {/if}
                     
                     {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                     {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                     {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                     {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                  </span>
               </p>
            </div>
         {/if}
      {/loop}
      </div>
      
      <div class="col-lg-3 col-md-5">
         {loop="$fsc->stories"}
            {if condition="$counter>=31"}
            <h4 style="margin-top: 0px; margin-bottom: 0px;">
               <a href="{$value->url()}">{$value->title}</a>
            </h4>
            <p>
               {$value->description(150)}
               <br/>
               <span class="small">
                  {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  {if condition="$value->num_comments>0"}
                  <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                  {/if}
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
            {/if}
         {/loop}
      </div>
   </div>
   {if condition="$fsc->totales"}
   <div class="row" style='margin-top: 30px;'>
      <div class="col-lg-12 col-md-12 text-center">
         <p>
            Los artículos de esta portada suman un total de <b>{$fsc->show_number($fsc->totales['clics'])}</b> clics,
            <b>{$fsc->show_number($fsc->totales['tweets'])}</b> menciones en twitter, <b>{$fsc->show_number($fsc->totales['likes'])}</b> en facebook,
            <b>{$fsc->show_number($fsc->totales['plusones'])}</b> en Google+ y <b>{$fsc->show_number($fsc->totales['meneos'])}</b> en menéame.
         </p>
      </div>
   </div>
   {/if}
</div>
{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1>Ha habido un problema :s</h1>
         <p>Por desgracia no tengo ningún artículo para mostrarte.</p>
      </div>
   </div>
</div>
{/if}

{include="footer"}