{include="header"}

{if condition="$fsc->stories"}
<div class="container-fluid">
   <div class="row">
   {loop="$fsc->stories"}
      {if condition="$counter<2"}
      <div class="col-lg-6" style="padding-top: 5px;">
         <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
         {if condition="!$fsc->preview->type"}
         <!--{$fsc->preview->load_topics($value->topics)}-->
         {/if}
         
         {if condition="$fsc->preview->type"}
         <div class="media">
            <a class="pull-left hidden-xs" href="{$value->url()}">
               <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 150px;">
            </a>
            <div class="media-body">
               <h1 class="media-heading">
                  <a href="{$value->url()}">{$value->title}</a>
               </h1>
               <p>
                  {$value->description(500)}
                  <br/>
                  <span class="small">
                     {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                     <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                     <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                     {if condition="$value->num_comments>0"}
                     <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                     {/if}
                     
                     {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                     {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                     {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                     {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                  </span>
               </p>
            </div>
         </div>
         {else}
         <h1 style="margin-bottom: 0px;">
            <a href="{$value->url()}">{$value->title}</a>
         </h1>
         <p>
            {$value->description(500)}
            <br/>
            <span class="small">
               {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
               <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
               <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
               {if condition="$value->num_comments>0"}
               <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
               {/if}
               
               {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
               {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
               {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
               {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
            </span>
         </p>
         {/if}
         
         {if condition="$counter==0"}<hr class="visible-xs"/>{/if}
      </div>
      {/if}
   {/loop}
   </div>
   
   <div class="row">
      <div class="col-lg-12"><hr/></div>
   </div>
   
   <div class="row">
      <div class="col-lg-5 col-md-12">
      {loop="$fsc->stories"}
         {if condition="$counter>=2 AND $counter<15"}
            {if condition="$counter>2"}<hr/>{/if}
            
            <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
            {if condition="!$fsc->preview->type"}
            <!--{$fsc->preview->load_topics($value->topics)}-->
            {/if}
            
            {if condition="!$fsc->preview->type"}
            <h2 style="margin-top: 0px;">
               <a href="{$value->url()}">{$value->title}</a>
            </h2>
            {elseif condition="strlen($value->title)<40"}
            <div class="media">
               <a class="pull-left hidden-xs" href="{$value->url()}">
                  <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 120px;">
               </a>
               <div class="media-body">
                  <h2 class="media-heading">
                     <a href="{$value->url()}">{$value->title}</a>
                  </h2>
                  <p>
                     {$value->description(255)}
                     <br/>
                     <span class="small">
                        {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                        <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                        <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                        {if condition="$value->num_comments>0"}
                        <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                        {/if}
                        
                        {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                        {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                        {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                        {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                     </span>
                  </p>
               </div>
            </div>
            {else}
            <div class="media">
               <a class="pull-left hidden-xs" href="{$value->url()}">
                  <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 120px;">
               </a>
               <div class="media-body">
                  <h2 class="media-heading">
                     <a href="{$value->url()}">{$value->title}</a>
                  </h2>
               </div>
            </div>
            {/if}
            
            {if condition="!$fsc->preview->type OR strlen($value->title)>=40"}
            <p>
               {$value->description(255)}
               <br/>
               <span class="small">
                  {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  {if condition="$value->num_comments>0"}
                  <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                  {/if}
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
            {/if}
         {/if}
      {/loop}
      </div>
         
      <div class="col-lg-4 col-md-7">
      {loop="$fsc->stories"}
         {if condition="$counter>=15 AND $counter<31"}
            <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
            {if condition="!$fsc->preview->type"}
            <!--{$fsc->preview->load_topics($value->topics)}-->
            {/if}
            
            {if condition="$fsc->preview->type"}
            <div class="media">
               <a class="pull-right" href="{$value->url()}">
                  <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 120px;">
               </a>
               <div class="media-body">
                  <h4 class="media-heading">
                     <a href="{$value->url()}">{$value->title}</a>
                  </h4>
                  <p>
                     {$value->description(200)}
                     <br/>
                     <span class="small">
                        {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                        <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                        <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                        {if condition="$value->num_comments>0"}
                        <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                        {/if}
                        
                        {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                        {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                        {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                        {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                     </span>
                  </p>
               </div>
            </div>
            {else}
            <h4 style="margin-bottom: 0px;">
               <a href="{$value->url()}">{$value->title}</a>
            </h4>
            <p>
               {$value->description(200)}
               <br/>
               <span class="small">
                  {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  {if condition="$value->num_comments>0"}
                  <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                  {/if}
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
            {/if}
         {/if}
      {/loop}
      </div>
         
      <div class="col-lg-3 col-md-5">
         {loop="$fsc->stories"}
            {if condition="$counter>=31"}
            <h4 style="margin-bottom: 0px;">
               <a href="{$value->url()}">{$value->title}</a>
            </h4>
            <p>
               {$value->description(150)}
               <br/>
               <span class="small">
                  {if condition="$value->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  {if condition="$value->num_comments>0"}
                  <span class="glyphicon glyphicon-comment"></span> {$value->num_comments}
                  {/if}
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
            {/if}
         {/loop}
      </div>
   </div>
</div>
{else}
<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <h1>Ha habido un problema :s</h1>
         <p>Por desgracia no tengo ningún artículo para mostrarte.</p>
      </div>
   </div>
</div>
{/if}

{include="footer"}