{include="header"}

{if condition="$fsc->stories"}
   <div class="container-fluid">
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-lg-4 col-sm-6">
            {loop="$fsc->split_stories($fsc->stories, 3, $value1)"}
            <div class="story{if condition="$value2->readed()"} story_readed{/if}">
               <div class="pull-right" style="text-align: right;">
                  {if condition="$value2->penalize"}
                  <span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>
                  {/if}
                  {if condition="$value2->featured"}
                  <span class="label label-success" title="este artículo está destacado">destacada</span><br/>
                  {/if}
                  {if condition="!$value2->native_lang"}
                  <span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>
                  {/if}
                  {if condition="$value2->parody"}
                  <span class="label label-default" title="este artículo es una parodia o sátira">parodia</span>
                  {/if}
               </div>
               <h4><a href='{$value2->url()}'>{$value2->title}</a></h4>
               <p>{$value2->description()}</p>
               <div class="small">
                  {$value2->popularity()}
                  <span class="pull-right">{$value2->timesince()}</span>
               </div>
            </div>
            {/loop}
         </div>
      {/loop}
      </div>
   </div>
{else}
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div class="well">
            <h1>Ha habido un problema :s</h1>
            <p>
               Por desgracia no tengo ningún artículo para mostrarte.
            </p>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}