{include="header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   function check_url()
   {
      if(window.location.hash.substring(1) == 'delete')
      {
         $("#b_edit").removeClass('active');
         $("#s_edit").hide();
         $("#b_delete").addClass('active');
         $("#s_delete").show();
      }
      else
      {
         $("#b_delete").removeClass('active');
         $("#s_delete").hide();
         $("#b_edit").addClass('active');
         $("#s_edit").show();
      }
   }
   $(document).ready(function() {
      check_url();
      window.onpopstate = function(){ 
         check_url();
      }
   });
</script>

<div class="container">
   <ul class="nav nav-tabs">
      <li><a href="{$fsc->story->url()}">Artículo</a></li>
      <li id="b_edit" class="active"><a href="{$fsc->story->edit_url()}">Editar</a></li>
      <li><a href="{$fsc->story->url()}#sources">Fuentes</a></li>
      {if condition="$fsc->visitor->admin"}<li id="b_delete"><a href="#delete">Eliminar</a></li>{/if}
   </ul>
   <div class="full_story">
      <div id="s_edit">
      <form action="{$fsc->url()}" method="post">
         <div class="row">
            <div class="col-md-12">
               <div style="padding: 5px;">
                  <input class="form-control" type="text" name="title" value="{$fsc->story_edition->title}" autocomplete="off" placeholder="Título"/>
                  <textarea class="form-control" name="description" rows="10" placeholder="Descripción">{$fsc->story_edition->description}</textarea>
               </div>
            </div>
         </div>
         {if condition="$fsc->visitor->admin"}
         <div class="row">
            <div class="col-md-3">
               <div style="padding: 5px;">
                  <label>
                     <input type="checkbox" name="native_lang" value="TRUE"{if condition="$fsc->story->native_lang"} checked="checked"{/if}/>
                     en español
                  </label>
               </div>
            </div>
            <div class="col-md-3">
               <div style="padding: 5px;">
                  <label>
                     <input type="checkbox" name="parody" value="TRUE"{if condition="$fsc->story->parody"} checked="checked"{/if}/>
                     parodia
                  </label>
               </div>
            </div>
            <div class="col-md-3">
               <div style="padding: 5px;">
                  <label>
                     <input type="checkbox" name="penalize" value="TRUE"{if condition="$fsc->story->penalize"} checked="checked"{/if}/>
                     penalizar
                  </label>
               </div>
            </div>
            <div class="col-md-3">
               <div style="padding: 5px;">
                  <label>
                     <input type="checkbox" name="featured" value="TRUE"{if condition="$fsc->story->featured"} checked="checked"{/if}/>
                     destacar
                  </label>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="small" style="padding: 5px; text-align: right;">
                  <input type="hidden" name="human" value=""/>
                  <input class="btn btn-sm btn-primary" type="submit" value="guardar"/>
               </div>
            </div>
         </div>
         {else}
         <div class="row">
            <div class="col-md-2 col-xs-3">
               <div style="padding: 5px;">
                  <input class="form-control" type="text" name="human" value="{function="mt_rand(0, 999)"}" size="3" maxlength="3" autocomplete="off"/>
               </div>
            </div>
            <div class="col-md-10 col-xs-9">
               <div class="small" style="padding: 5px; text-align: right;">
                  Borra el número para demostrar que eres humano
                  <input class="btn btn-sm btn-primary" type="submit" value="guardar"/>
               </div>
            </div>
         </div>
         {/if}
      </form>
      </div>
      <div id="s_delete" style="display: none;">
         <form action="{$fsc->url()}" method="post">
            <input type="hidden" name="delete" value="TRUE"/>
            <div class="row">
               <div class="col-md-12">
                  <div style="padding: 5px;">
                     <h3 style="margin: 5px 0px 5px 0px;">¿Realmente deseas eliminar este <u>artículo</u>?</h3>
                     <p>Ten en cuenta que se eliminarán todos los comentarios y ediciones.</p>
                     <input class="btn btn-sm btn-danger" type="submit" value="eliminar"/>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
   
   <div class="row">
      <div class="col-md-12">
         <div class="well well-sm" style="background-color: white;">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Fecha</th>
                     <th>Nick</th>
                     <th>Puntos</th>
                     <th></th>
                  </tr>
               </thead>
               <tbody>
                  {loop="$fsc->story->editions()"}
                  <tr>
                     <td>{$value->timesince()}</td>
                     <td>
                        {if condition="$value->visitor_id==$fsc->visitor->get_id()"}
                        <a href="{$value->url()}">Tú</a>
                        {else}
                        <a href="{$value->url()}">@{$value->nick}</a>
                        {/if}
                     </td>
                     <td>{$value->points}</td>
                     <td>
                        {if condition="$value->get_id()==$fsc->story->edition_id"}
                        <span class="label label-success">seleccionada</span>
                        {/if}
                     </td>
                  </tr>
                  {else}
                  <tr>
                     <td colspan="4">No hay ediciones de este artículo.</td>
                  </tr>
                  {/loop}
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}