{include="header"}

{if condition="$fsc->feed"}
<div class="container-fluid">
   <div class="row">
      <div class="col-md-4">
         <div class="panel panel-primary">
            <div class="panel-heading">
               <h3 class="panel-title">{$fsc->feed->name}</h3>
            </div>
            <div class="panel-body">
               <p>
                  {$fsc->feed->description}<br/>Fuente: {$fsc->feed->url}
               </p>
               {if condition="$fsc->visitor->human()"}
               <div>
               {if condition="$fsc->unsuscribe"}
                  <a class="btn btn-sm btn-danger" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
               {else}
                  <a class="btn btn-sm btn-success" href="{$fsc->suscribe_url}">{$fsc->suscribe_text}</a>
               {/if}
               </div>
               {/if}
            </div>
            <div class="panel-footer small">
               {$fsc->feed->num_stories} artículos,
               {$fsc->feed->suscriptors} suscriptores.
               Última actualización {$fsc->feed->last_update_timesince()}.
            </div>
         </div>
         {if condition="$fsc->visitor->admin"}
         <div class="panel panel-info">
            <div class="panel-heading">
               <h3 class="panel-title">Editar</h3>
            </div>
            <div class="panel-body">
               <form action="{$fsc->url()}" method="post">
                  <input type="hidden" name="modify" value="TRUE"/>
                  <div>
                     <label>
                        <input type="checkbox" name="native_lang" value="TRUE"{if condition="$fsc->feed->native_lang"} checked="checked"{/if}/>
                        Está en español.
                     </label>
                  </div>
                  <div>
                     <label>
                        <input type="checkbox" name="parody" value="TRUE"{if condition="$fsc->feed->parody"} checked="checked"{/if}/>
                        Es una fuente de parodia o de contenido humoristico o sarcástico.
                     </label>
                  </div>
                  <div>
                     <label>
                        <input type="checkbox" name="penalize" value="TRUE"{if condition="$fsc->feed->penalize"} checked="checked"{/if}/>
                        Penalizar esta fuente.
                     </label>
                  </div>
                  <input class="btn btn-info btn-sm" type="submit" value="Guardar"/>
               </form>
            </div>
            <div class="panel-footer small">
               Última comprobación {$fsc->feed->last_check_timesince()},
               {$fsc->feed->strikes} errores.
            </div>
         </div>
         <div class="panel panel-danger">
            <div class="panel-heading">
               <h3 class="panel-title">Borrar</h3>
            </div>
            <div class="panel-body">
               <p>Si realmente deseas eliminar esta fuente, pulsa borrar.</p>
               <form action="{$fsc->url()}" method="post">
                  <input type="hidden" name="delete" value="TRUE"/>
                  <input class="btn btn-danger btn-sm" type="submit" value="Eliminar"/>
               </form>
            </div>
         </div>
         {/if}
      </div>
      <div class="col-md-8">
         {loop="$fsc->stories"}
            <!--{$fsc->preview->load($value->link)}-->
            {if condition="$fsc->preview->type"}
            <div class="storyp{if condition="$value->readed()"} storyp_readed{/if}">
               <table width="100%">
                  <tr>
                     <td class="preview">
                        <a href='{$value->url()}'><img src="{$fsc->preview->preview()}" alt="{$value->title}" width="120"/></a>
                     </td>
                     <td class="preview_txt">
                        <div class="pull-right story_tags">
                           {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>{/if}
                           {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span><br/>{/if}
                           {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>{/if}
                           {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                        </div>
                        <h4><a href='{$value->url()}'>{$value->title}</a></h4>
                        <p>{$value->description(100)}</p>
                        <div class="small">
                           Escrito {$value->timesince()}.
                           Popularidad: {$value->popularity()}
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
            {else}
            <div class="story{if condition="$value->readed()"} story_readed{/if}">
               <div class="pull-right story_tags">
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span><br/>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </div>
               <h4><a href='{$value->url()}'>{$value->title}</a></h4>
               <p>{$value->description()}</p>
               <div class="small">
                  {$value->popularity()}
                  <span class="pull-right">{$value->timesince()}</span>
               </div>
            </div>
            {/if}
         {else}
         <div class="alert alert-info">
            Esta fuente no tiene artículos relacionados. Si la acabas de añadir, debes esperar unos minutos a que sea examinada.
         </div>
         {/loop}
      </div>
   </div>
</div>
{/if}

{include="footer"}