<hr/>

{if condition="$debug"}
<div class="container">
   <div class="row">
      <div class="col-lg-12">
         <div class="alert alert-success">
            <ul>{loop="$fsc->get_mongo_history()"}<li>{$value}</li>{/loop}</ul>
         </div>
      </div>
   </div>
</div>
{/if}
<div class="container-fluid" style="margin-top: 20px; margin-bottom: 70px;">
   <div class="row">
      <div class="col-xs-3">
         <a class="btn btn-sm btn-info" href="{$path}feedback">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> &nbsp; Contacto
         </a>
         </div>
      <div class="col-xs-9 text-right">
         <small>
            Procesado por <a target="_blank" href="https://github.com/NeoRazorX/feedstorm">FeedStorm</a> en {$fsc->duration()}.
         </small>
      </div>
   </div>
</div>
</body>
</html>