<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="description" content="{$fsc->get_description()}" />
   {if condition="$fsc->get_keywords()!=''"}
   <meta name="keywords" content="{$fsc->get_keywords()}" />
   {/if}
   <meta name="robots" content="{if condition="$fsc->noindex"}noindex{else}all{/if}" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="shortcut icon" href="{$path}view/img/favicon.ico" />
   <link rel="canonical" href="{$fsc->domain()}{$fsc->url()}" />
   <link rel="stylesheet" href="{$path}view/css/{$css}" />
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
   {if condition="$analytics"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{$analytics}']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
   {/if}
</head>
<body>
   <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{$path}">{$name}</a>
         </div>
         
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li{if condition="$fsc->page=='home'"} class="active"{/if}>
                  <a href="{$path}">
                     <span class="glyphicon glyphicon-home" title="tu portada"></span>
                  </a>
               </li>
               {if condition="$fsc->visitor->num_suscriptions > 0"}
               <li{if condition="$fsc->page=='popular_stories'"} class="active"{/if}>
                  <a href="{$path}popular_stories">
                     <span class="glyphicon glyphicon-fire" title="artículos populares"></span>
                  </a>
               </li>
               {/if}
               <li{if condition="$fsc->page=='discover_stories'"} class="active"{/if}>
                  <a href="{$path}discover_stories">
                     <span class="glyphicon glyphicon-random" title="descubrir artículos"></span>
                  </a>
               </li>
               
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Más <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                     <li{if condition="$fsc->page=='last_editions'"} class="active"{/if}><a href="{$path}last_editions">Ediciones</a></li>
                     <li{if condition="$fsc->page=='comments'"} class="active"{/if}><a href="{$path}comments">Foro</a></li>
                     <li{if condition="$fsc->page=='feed_list'"} class="active"{/if}><a href="{$path}feed_list">Fuentes</a></li>
                     <li{if condition="$fsc->page=='topic_list'"} class="active"{/if}><a href="{$path}topic_list">Temas</a></li>
                     {if condition="$fsc->visitor->admin"}
                     <li class="divider"></li>
                     <li{if condition="$fsc->page=='stats'"} class="active"{/if}><a href="{$path}stats">Estadísticas</a></li>
                     <li{if condition="$fsc->page=='feedback'"} class="active"{/if}><a href="{$path}feedback">Feedback</a></li>
                     {/if}
                  </ul>
               </li>
               
               <li{if condition="$fsc->page=='new_story'"} class="active"{/if}>
                  <a class="bg-primary" href="#" onclick="$('#modal_new_story').modal('show');">
                     <span class="glyphicon glyphicon-pencil" title="escribe un artículo"></span>
                  </a>
               </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
               <li>
                  <form class="navbar-form navbar-left" role="search" action="{$path}search" method="post" name="f_search">
                     <div class="form-group">
                        <input type="text" name="query" class="form-control" placeholder="Buscar...">
                     </div>
                     <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                     </button>
                  </form>
               </li>
               <li{if condition="$fsc->page=='messages'"} class="active"{/if}>
                  <a href="{$path}messages">
                     <span class="glyphicon glyphicon-inbox" title="mensajes"></span>
                  </a>
               </li>
               <li{if condition="$fsc->page=='suscriptions'"} class="active"{/if}>
                  <a href="{$path}suscriptions">
                     <span class="glyphicon glyphicon-user" title="tu perfil"></span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            {if condition="$fsc->get_errors()"}
            <div class="alert alert-danger">
               <ul>{loop="$fsc->get_errors()"}<li>{$value}</li>{/loop}</ul>
            </div>
            {/if}
            {if condition="$fsc->get_messages()"}
            <div class="alert alert-info">
               <ul>{loop="$fsc->get_messages()"}<li>{$value}</li>{/loop}</ul>
            </div>
            {/if}
         </div>
      </div>
   </div>
   
   <form name="f_new_story" action="{$path}new_story" method="post" class="form">
      <div class="modal fade" id="modal_new_story">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                     <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
                  </button>
                  <h4 class="modal-title">Escribe tu artículo...</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     Titular:
                     <input class="form-control" type="text" name="title" autocomplete="off" autofocus/>
                  </div>
                  <div class="form-group">
                     Descripción:
                     <textarea class="form-control" name="description" rows="10"></textarea>
                  </div>
                  <div class="form-group">
                     Enlace (opcional):
                     <input class="form-control" type="text" name="link" autocomplete="off"/>
                  </div>
               </div>
               <div class="modal-footer">
                  {if condition="$fsc->visitor->admin"}
                  <input type="hidden" name="human" value=""/>
                  <input class="btn btn-sm btn-primary" type="submit" value="Guardar"/>
                  {else}
                  <div class="input-group">
                     <input class="form-control" type="text" name="human" value="{function="mt_rand(0, 999)"}" maxlength="3" autocomplete="off"/>
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                           <span class="glyphicon glyphicon-floppy-disk"></span>
                           &nbsp; Guardar
                        </button>
                     </span>
                  </div>
                  <p class="help-block">Borra el número si eres humano.</p>
                  {/if}
               </div>
            </div>
         </div>
      </div>
   </form>