<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="Robots" content="all" />
{if condition="$fsc->visitor->mobile()"}
   <meta name="HandheldFriendly" content="true" />
   <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
   <link href="{$path}/view/css/mobile.css" rel="stylesheet" type="text/css" />
{else}
   <link href="{$path}/view/css/basic.css" rel="stylesheet" type="text/css" />
{/if}
   <script type="text/javascript" src="{$path}/view/js/jquery.js"></script>
{if condition="$analytics"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{$analytics}']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
{/if}
   <script type="text/javascript">
      $(document).ready(function() {
         $("#fs_b_social").click(function(event) {
            event.preventDefault();
            $("#fs_social_widget").show();
            $("#fs_menu").hide();
         });
         $("#fs_b_close_social").click(function(event) {
            event.preventDefault();
            $("#fs_social_widget").hide();
         });
         $("#fs_b_menu").click(function(event) {
            event.preventDefault();
            $("#fs_menu").show();
            $("#fs_social_widget").hide();
         });
         $("#fs_b_close_menu").click(function(event) {
            event.preventDefault();
            $("#fs_menu").hide();
         });
      });
   </script>
</head>
<body>
   <table id="header">
      <tr>
         <td>
            <a id="fs_logo" href="{$path}/index.php">{$name}</a>
            {$description}
            {if condition="$social_widget AND !$fsc->visitor->mobile()"}
            <a id="fs_b_social" href="#"><img src="{$path}/view/img/twitter2.png" alt="twitter" title="twitter"/></a>
            {/if}
         </td>
         <td valign="top" align="right">
            <a id="fs_b_menu" href="#">
               <img src="{$path}/view/img/tools.png" alt="menu" title="menu"/> menú
            </a>
         </td>
      </tr>
   </table>
   <div id="fs_menu">
      <a id="fs_b_close_menu" href="#"><img src="{$path}/view/img/close.png" alt="x"/></a>
      <a href="{$path}/index.php">portada</a>
      <a href="{$path}/index.php?page=select_feeds">preferencias</a>
      {if condition="!$fsc->visitor->mobile()"}
      <a href="{$path}/index.php?page=select_feeds#fisgona">fisgona</a>
      {/if}
   </div>
   {if condition="$social_widget AND !$fsc->visitor->mobile()"}
      <div id="fs_social_widget">
         <a id="fs_b_close_social" href="#">
            Cerrar widget
            <img src="{$path}/view/img/close.png" alt="x"/>
         </a>
         <br/>
         {$social_widget}
      </div>
   {/if}
   {if condition="$fsc->errors"}
   <div class="error">
      <ul>
      {loop="$fsc->errors"}
         <li>{$value}</li>
      {/loop}
      </ul>
   </div>
   {/if}
   {if condition="$fsc->messages"}
   <div class="message">
      <ul>
      {loop="$fsc->messages"}
         <li>{$value}</li>
      {/loop}
      </ul>
   </div>
   {/if}