<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <title>{$fsc->title}</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="description" content="{$fsc->get_description()}" />
   <meta name="Robots" content="all" />
{if condition="$fsc->visitor->mobile()"}
   <meta name="HandheldFriendly" content="true" />
   <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
   <link href="{$path}/view/css/mobile.css" rel="stylesheet" type="text/css" />
{else}
   <link href="{$path}/view/css/basic.css" rel="stylesheet" type="text/css" />
{/if}
   <script type="text/javascript" src="{$path}/view/js/jquery.js"></script>
{if condition="$analytics"}
   <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{$analytics}']);
      _gaq.push(['_trackPageview']);
      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
   </script>
{/if}
   <script type="text/javascript">
      $(document).ready(function() {
         $("#fs_b_social").click(function(event) {
            event.preventDefault();
            $("#fs_social_widget").show();
            $("#fs_menu").hide();
         });
         $("#fs_b_close_social").click(function(event) {
            event.preventDefault();
            $("#fs_social_widget").hide();
         });
         $("#fs_b_menu").click(function(event) {
            event.preventDefault();
            $("#fs_menu").show();
            $("#fs_social_widget").hide();
         });
         $("#fs_b_close_menu").click(function(event) {
            event.preventDefault();
            $("#fs_menu").hide();
         });
         $("#shadow_box").click(function() {
            $('div.popup').each(function() {
               $(this).hide();
            });
            $("#popup_message").hide();
            $("#shadow_box").hide();
            $("table.footer").css({
               'margin-top': 10
            });
         });
         $("#popup_message").click(function() {
            $('div.popup').each(function() {
               $(this).hide();
            });
            $("#popup_message").hide();
            $("#shadow_box").hide();
            $("table.footer").css({
               'margin-top': 10
            });
         });
      });
   </script>
</head>
<body>
   <table id="header">
      <tr>
         <td>
            <a id="fs_logo" href="{$path}/index.php">{$name}</a>
            {$description}
            {if condition="!$fsc->visitor->mobile()"}
               <a id="fs_b_social" href="#"><img src="{$path}/view/img/twitter2.png" alt="twitter" title="twitter"/></a>
            {/if}
         </td>
         <td align="right"><a id="fs_b_menu" href="#">menú</a></td>
      </tr>
   </table>
   <div id="fs_menu">
      <a id="fs_b_close_menu" href="#"><img src="{$path}/view/img/close.png" alt="x"/></a>
      <a class="page" href="{$path}/index.php">portada</a>
      <a class="page" href="{$path}/index.php?page=select_feeds">preferencias</a>
      {if condition="!$fsc->visitor->mobile()"}
      <a class="page" href="{$path}/index.php?page=select_feeds#fisgona">fisgona</a>
      {/if}
   </div>
   {if condition="!$fsc->visitor->mobile()"}
      <div id="fs_social_widget">
         <a id="fs_b_close_social" href="#">
            Cerrar widget
            <img src="{$path}/view/img/close.png" alt="x"/>
         </a>
         <div class="tweet">
            <table>
               <tr>
                  <td>
                     <a href="https://twitter.com/share" class="twitter-share-button" data-lang="es" data-count="vertical" data-hashtags="#{$hashtag}" data-related="neorazorx">Tweet</a>
                     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </td>
                  <td class="content">
                     Tweets en orden descendente, los últimos primero. Se actualizan cada 10 minutos.
                     Envía tus tweets con el hashtag <a target="_blank" href="http://search.twitter.com/search?q=%23{$name}">#{$hashtag}</a>
                     <br/>
                     Si quieres dirigirte a mi, usa <a target="_blank" href="http://twitter.com/neorazorx">@neorazorx</a>
                  </td>
               </tr>
            </table>
         </div>
         {loop="$fsc->tweet->all()"}
         <div class="tweet">
            <table>
               <tr>
                  <td>
                     <a target="_blank" href="{$value->author_url}">
                        <img src="{$value->author_img}" alt="{$value->author}" title="{$value->author}"/>
                     </a>
                  </td>
                  <td class="content">
                     <b>{$value->author}</b><br/>
                     {$value->timesince()}<br/>
                     {$value->content}
                  </td>
               </tr>
            </table>
         </div>
         {/loop}
      </div>
   {/if}
   {if condition="$fsc->get_errors()"}
   <div class="error">
      <ul>
      {loop="$fsc->get_errors()"}
         <li>{$value}</li>
      {/loop}
      </ul>
   </div>
   {/if}
   {if condition="$fsc->get_messages()"}
   <div class="message">
      <ul>
      {loop="$fsc->get_messages()"}
         <li>{$value}</li>
      {/loop}
      </ul>
   </div>
   {/if}