{include="header"}

{if condition="$fsc->editions"}
   <div class="container-fluid">
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-md-4 {if condition="$value1==3"}col-sm-12{else}col-sm-6{/if}">
            {loop="$fsc->split_stories($fsc->editions, 3, $value1)"}
            <div class="story{if condition="$value2->visitor_id==$fsc->visitor->get_id()"} story_readed{/if}">
               <h4><a href='{$value2->url()}'>{$value2->title}</a></h4>
               <p>{$value2->description()}</p>
               <div class="small">
                  {$value2->points}
                  <span class="pull-right">{$value2->timesince()}</span>
               </div>
            </div>
            {/loop}
         </div>
      {/loop}
      </div>
   </div>
{/if}


{include="footer"}