{include="header"}

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Autor</th>
            <th class="text-left">Artículo</th>
            <th class="text-right">Puntos</th>
            <th class="text-right">Fecha</th>
         </tr>
      </thead>
      {loop="$fsc->editions"}
      <tr{if condition="$value->visitor_id==$fsc->visitor->get_id()"} class="bg-success"{elseif condition="$value->ip==$fsc->visitor->ip"} class="bg-info"{/if}>
         <td>@{$value->nick}</td>
         <td>
            <a href='{$value->url()}'>{$value->title}</a>
         </td>
         <td class="text-right">{$value->points}</td>
         <td class="text-right">{$value->timesince()}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="4">Sin resultados.</td>
      </tr>
      {/loop}
   </table>
</div>

{include="footer"}