{include="header"}

{if condition="$fsc->editions"}
   <div class="container-fluid">
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-md-4 {if condition="$value1==3"}col-sm-12{else}col-sm-6{/if}">
            {loop="$fsc->split_stories($fsc->editions, 3, $value1)"}
            <div>
               <h3 style="margin-bottom: 5px;">
                  <a href='{$value2->url()}'>{$value2->title}</a>
               </h3>
               <p style="text-align: justify; margin-bottom: 5px;">
                  {$value2->description()}
               </p>
               <div class="small">
                  <span class="glyphicon glyphicon-time"></span> {$value2->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-star"></span> {$value2->points}
               </div>
            </div>
            {/loop}
         </div>
      {/loop}
      </div>
   </div>
{/if}

{include="footer"}