{include="header"}

{if condition="!$fsc->visitor->mobile()"}
<script src="{$path}/view/js/jquery.masonry.min.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
      $("#stories").masonry({
         itemSelector: '.story',
         isFitWidth: true
      });
   });
</script>
{/if}

<div id="stories">
   {loop="$fsc->stories"}
      <div class="story">
         <h1><a target="_blank" href="{$path}/{$value->go_to_url()}">{$value->title}</a></h1>
         {if condition="$value->youtube"}
            <div class="youtube">
               {if condition="$fsc->visitor->mobile()"}
                  <a href="http://www.youtube.com/watch?v={$value->youtube}">
                     <img title="See video" alt="See video" src="http://img.youtube.com/vi/{$value->youtube}/0.jpg" />
                     youtube
                  </a>
               {else}
                  <iframe width="420" height="236" src="http://www.youtube.com/embed/{$value->youtube}" frameborder="0" allowfullscreen>
                  </iframe>
               {/if}
            </div>
         {else}
            {if condition="$value->image_width > 0"}
            <div class="image">
               <img src="{$value->image}" alt="{$value->title}" width="{$value->image_width}" height="{$value->image_height}"/>
            </div>
            {/if}
         {/if}
         {$value->description}
         <div class="date">
            <a target="_blank" href="{$path}/{$value->feed_url}">{$value->feed_name}</a>
            @ {$value->show_date()}
         </div>
      </div>
   {/loop}
</div>

{include="footer"}