{include="header"}

{if condition="!$fsc->visitor->mobile()"}
<script src="{$path}/view/js/jquery.masonry.min.js"></script>
<script type="text/javascript">
   function fs_show_popup_to(url)
   {
      $("#fs_menu").hide();
      $("#fs_social_widget").hide();
      $("#shadow_box").show();
      $("#popup_message").show();
      $("#popups").html("<div id='popup_cargando' class='popup'>Cargando...</div>");
      $("#popup_cargando").css({
         top: $(window).scrollTop()+10,
         left: ($(window).width() - $("#popup_cargando").outerWidth())/2
      });
      $("#popup_cargando").show();
      $.ajax({
         type: 'POST',
         url: url,
         dataType: 'html',
         data: 'no_full_page=TRUE',
         success: function(datos) {
            $("#popup_cargando").hide();
            $("#shadow_box").show();
            $("#popup_message").show();
            $("#popups").html("<div id='popup2url' class='popup'>"+datos+"</div>");
            $("#popup2url").css({
               top: $(window).scrollTop()+10,
               left: ($(window).width() - $("#popup2url").outerWidth())/2
            });
            $("#popup2url").show();
            $("table.footer").css({
               'margin-top': $("#popup2url").outerHeight()
            });
         }
      });
   }
   $(document).ready(function() {
      $("#stories").masonry({
         itemSelector: '.story',
         isFitWidth: true,
         isAnimated: true
      });
   });
</script>
{/if}

<div id="stories">
{if condition="$fsc->visitor->mobile()"}
   {loop="$fsc->stories"}
      {if condition="$value->youtube"}
      <div class="story video">
         <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
         <div class="youtube">
            <a href="http://www.youtube.com/watch?v={$value->youtube}">
               <img title="See video" alt="See video" src="http://img.youtube.com/vi/{$value->youtube}/0.jpg" />
            </a>
         </div>
      {else}
      <div class="story">
         {if condition="$value->image_width > 0"}
            {if condition="$value->image_width < 80"}
               <img class="mini" src="{$value->image}" alt="{$value->title}" width="{$value->image_width}" height="{$value->image_height}"/>
               <h2><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h2>
               {$value->description}<br/>
            {else}
               <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
               <div class="image">
                  <img src="{$value->image}" alt="{$value->title}"/>
               </div>
            {/if}
         {else}
            <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
            {$value->description}
         {/if}
      {/if}
      <div class="more">
         <a href="{$path}/{$value->url()}">+</a>
      </div>
   </div>
   {/loop}
{else}
   {loop="$fsc->stories"}
      {if condition="$value->youtube"}
      <div class="story video">
         <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
         <div class="youtube">
            <iframe width="320" height="180" src="http://www.youtube.com/embed/{$value->youtube}" frameborder="0" allowfullscreen>
            </iframe>
         </div>
      {else}
      <div class="story">
         {if condition="$value->image_width > 0"}
            {if condition="$value->image_width < 80"}
               <img class="mini" src="{$value->image}" alt="{$value->title}" width="{$value->image_width}" height="{$value->image_height}"/>
               <h2><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h2>
               {$value->description}<br/>
            {else}
               <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
               <div class="image">
                  <img src="{$value->image}" alt="{$value->title}" width="{$value->image_width}" height="{$value->image_height}"/>
               </div>
            {/if}
         {else}
            <h1><a target="_blank" href="{$path}/{$value->go2url()}">{$value->title}</a></h1>
            {$value->description}<br/>
         {/if}
      {/if}
      <div class="more">
         <a href="{$path}/{$value->url()}" onclick="fs_show_popup_to('{$path}/{$value->url()}'); return false;">+</a>
      </div>
   </div>
   {/loop}
{/if}
</div>

{include="footer"}