{include="header"}

<div class="container">
   <div class="row">
      <div class="col-md-12">
         <form name="f_new_story" action="{$fsc->url()}" method="post">
            <div class="panel panel-primary">
               <div class="panel-heading">
                  <h3 class="panel-title">Escribe tu artículo...</h3>
               </div>
               <div class="panel-body">
                  <div>
                     <input class="form-control" type="text" name="title" value="{$fsc->s_title}" placeholder="Titular" autocomplete="off" autofocus/>
                  </div>
                  <div>
                     <textarea class="form-control" name="description" rows="10" placeholder="Escribe aquí el texto.">{$fsc->s_description}</textarea>
                  </div>
                  <div>
                     <input class="form-control" type="text" name="link" value="{$fsc->s_link}" placeholder="Enlace (opcional)" autocomplete="off"/>
                  </div>
               </div>
               <div class="panel-footer text-right">
               {if condition="$fsc->visitor->admin"}
                  <input type="hidden" name="human" value=""/>
                  <button class="btn btn-sm btn-primary" type="submit">
                     <span class="glyphicon glyphicon-send"></span>
                     &nbsp; Enviar
                  </button>
               {else}
                  <div class="input-group">
                     <input class="form-control" type="text" name="human" size="3" value="{function="mt_rand(0, 999)"}" maxlength="3" autocomplete="off"/>
                     <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                           <span class="glyphicon glyphicon-send"></span>
                           &nbsp; Enviar
                        </button>
                     </span>
                  </div>
                  <p class="help-block">Borra el número si eres humano.</p>
               {/if}
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

{include="footer"}