{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_search.query.focus();
   });
</script>

{if condition="$fsc->stories"}
   <div class="container-fluid">
      <div class="row">
         {loop="$fsc->topics"}
         <div class="col-lg-12">
            <!--{$fsc->preview->load($value->icon)}-->
            {if condition="$fsc->preview->type"}
            <div class="media">
               <a class="pull-left" href="{$fsc->stories[0]->url()}">
                  <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 150px;">
               </a>
               <div class="media-body">
                  <h1 class="media-heading">
                     <a href="{$value->url()}">{$value->title}</a>
                  </h1>
                  <p>{$value->description}</p>
               </div>
            </div>
            {else}
            <h2>
               <a href="{$value->url()}">{$value->title}</a>
            </h2>
            <p>{$value->description}</p>
            {/if}
            <hr/>
         </div>
         {/loop}
      </div>
      
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-md-4 {if condition="$value1==3"}col-sm-12{else}col-sm-6{/if}" style="padding: 0px 5px 0px 5px;">
         {loop="$fsc->split_stories($fsc->stories, 3, $value1)"}
            <!--{$fsc->preview->load($value2->link, $value2->description_uncut())}-->
            {if condition="!$fsc->preview->type"}
            <!--{$fsc->preview->load_topics($value2->topics)}-->
            {/if}
            
            {if condition="$fsc->preview->type"}
            <div class="media">
               <a class="pull-left" href="{$value2->url()}">
                  <img class="media-object" src="{$fsc->preview->preview()}" alt="{$value2->title}" style="max-height: 100px; max-width: 120px;">
               </a>
               <div class="media-body">
                  <h4 class="media-heading">
                     <a href="{$value2->url()}">{$value2->title}</a>
                  </h4>
                  <p>
                     {$value2->description(200)}
                     <br/>
                     <span class="small">
                        {if condition="$value2->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                        <span class="glyphicon glyphicon-time"></span> {$value2->timesince()} &nbsp;
                        <span class="glyphicon glyphicon-fire"></span> {$value2->popularity()}
                        {if condition="$value2->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                        {if condition="$value2->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                        {if condition="!$value2->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                        {if condition="$value2->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                     </span>
                  </p>
               </div>
            </div>
            {else}
            <h4 style="margin-bottom: 0px;">
               <a href="{$value2->url()}">{$value2->title}</a>
            </h4>
            <p>
               {$value2->description(200)}
               <br/>
               <span class="small">
                  {if condition="$value2->readed()"}<span class="glyphicon glyphicon-eye-open" title="ya lo has leído"></span> &nbsp;{/if}
                  <span class="glyphicon glyphicon-time"></span> {$value2->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value2->popularity()}
                  {if condition="$value2->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value2->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value2->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value2->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </span>
            </p>
            {/if}
         {/loop}
         </div>
      {/loop}
      </div>
   </div>
{/if}

{include="footer"}