{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      document.f_search.query.focus();
   });
</script>

<div class="container-fluid" style="margin-bottom: 20px;">
   <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
         <form name="f_search" action="{$fsc->url()}" method="post">
            <div class="input-group">
               <input type="text" class="form-control" name="query" value="{$fsc->query}" autocomplete="off">
               <span class="input-group-btn">
                  <button class="btn btn-default btn-primary" type="submit">Busca!</button>
               </span>
            </div>
         </form>
      </div>
      <div class="col-md-4"></div>
   </div>
</div>

{if condition="$fsc->stories"}
   <div class="container-fluid">
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-lg-4 col-sm-6">
            {loop="$fsc->split_stories($fsc->stories, 3, $value1)"}
            <div class="story{if condition="$value2->readed()"} story_readed{/if}">
               {if condition="$value2->featured"}
               <div class="pull-right"><span class="label label-success" title="este artículo está destacado">destacado</span></div>
               {/if}
               <h4><a href='{$value2->url()}'>{$value2->title}</a></h4>
               <p>{$value2->description()}</p>
               <div class="small">
                  {$value2->popularity()}
                  <span class="pull-right">{$value2->timesince()}</span>
               </div>
            </div>
            {/loop}
         </div>
      {/loop}
      </div>
   </div>
{/if}


{include="footer"}