{include="header"}

<div class="box">
   <h1>Fuentes:</h1>
   <form action="{$fsc->url()}" method="post">
      <ul class="horizontal">
      {loop="$fsc->feeds"}
         <li>
            {if condition="$value->selected"}
            <input type="checkbox" name="feeds[]" value="{$value->name}" checked="checked"/>
            {else}
            <input type="checkbox" name="feeds[]" value="{$value->name}"/>
            {/if}
            <a href="{$path}/index.php?page=explore_feed&feed={$value->name}">{$value->name}</a>
            {if condition="$value->default"}(recomendado){/if}
         </li>
      {/loop}
   </ul>
      <div style="text-align: right;">
         <input type="submit" value="guardar"/>
      </div>
   </form>
</div>

{if condition="!$fsc->visitor->mobile()"}
<div class="box">
   <h1>Fisgona:</h1>
   <table width="100%">
      <tr>
         <th align="left">Info.</th>
         <th>Veces</th>
         <th>IP</th>
         <th>Agente</th>
         <th align="right">Fecha</th>
      </tr>
      {loop="$fsc->visitor->get_logs()"}
      <tr>
         <td><a href="{$value.url}">{$value.info}</a></td>
         <td align="center">{$value.count}</td>
         <td align="center">{$value.ip}</td>
         <td>{$value.user_agent}</td>
         <td align="right">{$value.date}</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

{include="footer"}