{include="header"}

{if condition="$fsc->topic"}
<script type="text/javascript">
   function check_url()
   {
      $("#p_info").removeClass('active');
      $("#t_info").hide();
      $("#p_edit").removeClass('active');
      $("#t_edit").hide();
      $("#p_delete").removeClass('active');
      $("#t_delete").hide();
      
      if(window.location.hash.substring(1) == 'edit')
      {
         $("#p_edit").addClass('active');
         $("#t_edit").show();
      }
      else if(window.location.hash.substring(1) == 'delete')
      {
         $("#p_delete").addClass('active');
         $("#t_delete").show();
      }
      else
      {
         $("#p_info").addClass('active');
         $("#t_info").show();
      }
   }
   $(document).ready(function() {
      check_url();
      window.onpopstate = function(){ 
         check_url();
      }
   });
</script>

<ul class="nav nav-tabs">
   <li id="p_info" class="active"><a href="{$fsc->topic->url()}">Tema</a></li>
   {if condition="$fsc->visitor->admin OR $fsc->visitor->points >= 10"}
   <li id="p_edit"><a href="#edit">Editar</a></li>
   {/if}
   {if condition="$fsc->visitor->admin"}
   <li id="p_delete"><a href="#delete"><span class="glyphicon glyphicon-trash"></span></a></li>
   {/if}
</ul>

<div class="container-fluid">
   <div id="t_info">
      <div class="row">
         <div class="col-lg-10 col-md-9">
            {if condition="$fsc->topic->icon!=''"}
            <div style="margin: 10px 0px 0px 0px;">
               <img src="{$fsc->topic->icon}" alt="{$fsc->topic->title}" style="max-width: 200px; max-height: 150px;">
            </div>
            {/if}
            <h1 style="margin: 5px 0px 5px 0px;">{$fsc->topic->title}</h1>
            <p>{$fsc->topic->description}</p>
         </div>
         
         <div class="col-lg-2 col-md-3" style="padding-right: 0px;">
            <div class="list-group">
               {if condition="$fsc->parent"}
               <a href="{$fsc->parent->url()}" class="list-group-item">
                  <h4 class="list-group-item-heading">Pertenece a:</h4>
                  <p class="list-group-item-text">{$fsc->parent->title}</p>
               </a>
               {/if}
               {if condition="$fsc->topic->popularity > 0"}
               <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Popularidad:</h4>
                  <p class="list-group-item-text">{$fsc->topic->popularity}</p>
               </a>
               {/if}
               <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Artículos:</h4>
                  <p class="list-group-item-text">{$fsc->topic->num_stories}</p>
               </a>
               <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Importancia:</h4>
                  <p class="list-group-item-text">{$fsc->topic->importance}</p>
               </a>
               <a href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Etiquetas de búsqueda:</h4>
                  <p class="list-group-item-text">{$fsc->topic->keywords}</p>
               </a>
            </div>
         </div>
      </div>
      
      <div class="row">
         <div class="col-lg-10 col-md-9">
            {if condition="!$fsc->visitor->admin"}
            <div>
               {if condition="$fsc->visitor->mobile()"}
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- feedstorm_movil -->
               <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-7967042768660878" data-ad-slot="3432408406"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
               {else}
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- feedstorm -->
               <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7967042768660878" data-ad-slot="8001025602"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
               {/if}
            </div>
            {/if}
            
            {loop="$fsc->stories"}
               <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
               <h3 style="margin-bottom: 2px;">
                  <a href="{$value->url()}">{$value->title}</a>
               </h3>
               <p style="margin: 3px 0px 2px 0px;">{$value->description}</p>
               <div class="small">
                  <span class="glyphicon glyphicon-time"></span> {$value->show_date()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->max_popularity()}
               </div>
               {if condition="$fsc->preview->type=='youtube'"}
               <div style="margin-top: 10px;">
                  {if condition="$fsc->visitor->mobile()"}
                  <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                  {else}
                  <iframe width="640" height="360" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                  {/if}
               </div>
               {elseif condition="$fsc->preview->type=='imgur'"}
               <div style="margin-top: 10px;">
                  <a href="{$value->url()}">
                  {if condition="$fsc->visitor->mobile()"}
                     <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
                  {else}
                     <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
                  {/if}
                  </a>
               </div>
               {elseif condition="$fsc->preview->type=='image'"}
               <div style="margin-top: 10px;">
                  <a href="{$value->url()}">
                  {if condition="$fsc->visitor->mobile()"}
                     <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
                  {else}
                     <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
                  {/if}
                  </a>
               </div>
               {elseif condition="$fsc->preview->type=='vimeo'"}
               <div style="margin-top: 10px;">
                  {if condition="$fsc->visitor->mobile()"}
                  <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="300" height="169" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  {else}
                  <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  {/if}
               </div>
               {/if}
            {/loop}
         </div>
         
         <div class="col-lg-2 col-md-3" style="padding-right: 0px;">
            <div class="list-group">
               <a href="{$path}topic_list?parent={$fsc->topic->get_id()}" class="list-group-item active">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Añadir...
               </a>
               {loop="$fsc->children_topics"}
               <a href="{$value->url()}" class="list-group-item">{$value->title}</a>
               {/loop}
            </div>
         </div>
      </div>
   </div>
   
   <div id="t_edit" style="margin-bottom: 50px; padding-top: 20px;">
      <div class="row">
         <div class="col-lg-12">
            <form action="{$fsc->url()}" method="post" class="form">
               <div class="form-group">
                  Título:
                  <input class="form-control" type="text" name="title" placeholder="Título" value="{$fsc->topic->title}" autocomplete="off"/>
               </div>
               <div class="form-group">
                  <textarea class="form-control" name="description" rows="10" placeholder="Escribe aquí el texto.">{$fsc->topic->description}</textarea>
               </div>
               <div class="input-group">
                  <span class="input-group-addon">Keywords</span>
                  <input class="form-control" type="text" name="keywords" placeholder="Keywords" value="{$fsc->topic->keywords}" autocomplete="off"/>
               </div>
               <div class="input-group">
                  <span class="input-group-addon">Pertenece a</span>
                  {if condition="$fsc->parent"}
                  <input class="form-control" type="text" name="parent" placeholder="ID del tema" value="{$fsc->parent->name}" autocomplete="off"/>
                  {else}
                  <input class="form-control" type="text" name="parent" placeholder="ID del tema" autocomplete="off"/>
                  {/if}
               </div>
               <div class="input-group">
                  <span class="input-group-addon">
                     <a target="_blank" href="https://imgur.com">Icono</a>
                  </span>
                  <input class="form-control" type="text" name="icon" placeholder="url del icono" value="{$fsc->topic->icon}" autocomplete="off"/>
               </div>
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="valid" value="TRUE"{if condition="$fsc->topic->valid"} checked="checked"{/if}/>
                     tema validado
                  </label>
               </div>
               <div style="margin-top: 5px; text-align: right;">
                  <button class="btn btn-primary btn-sm" type="submit">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                     &nbsp; Guardar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
   
   <div id="t_delete" style="margin-bottom: 50px;">
      <div class="row">
         <div class="col-lg-10">
            <h2 style="margin-bottom: 5px;">¿Realmente deseas eliminar este tema?</h2>
            <p>Piensatelo bien, porque no hay vuelta atrás. A menos que tengas una copia de seguridad :D</p>
         </div>
         <div class="col-lg-2 text-right" style="padding-top: 20px;">
            <a class="btn btn-danger" href="{$path}topic_list?delete={$fsc->topic->get_id()}">
               <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
            </a>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}