{include="header"}

<script type="text/javascript">
   function remove_comment(id)
   {
      if( confirm("¿Realmente desea eliminar este comentario?") )
         window.location.href = '{$fsc->url()}?delete_comment='+id;
   }
   function check_url()
   {
      if(window.location.hash.substring(1) == 'sources')
      {
         $("#p_info").removeClass('active');
         $("#s_info").hide();
         $("#p_sources").addClass('active');
         $("#s_sources").show();
      }
      else
      {
         $("#p_sources").removeClass('active');
         $("#s_sources").hide();
         $("#p_info").addClass('active');
         $("#s_info").show();
      }
   }
   $(document).ready(function() {
      check_url();
      window.onpopstate = function(){ 
         check_url();
      }
   });
</script>

<ul class="nav nav-tabs">
   <li id="p_info" class="active"><a href="{$fsc->story->url()}">Artículo</a></li>
   <li><a href="{$fsc->story->edit_url()}">Editar</a></li>
   <li id="p_sources"><a href="#sources">Fuentes</a></li>
   {if condition="$fsc->visitor->admin"}<li id="b_delete"><a href="{$fsc->story->edit_url()}#delete">Eliminar</a></li>{/if}
</ul>

<div class="container-fluid">
   <div class="row">
      <div id="s_info" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
         <div class="col-lg-10 col-md-9">
            <!--{$fsc->preview->load($fsc->story->link, $fsc->story->description_uncut())}-->
            
            {if condition="!$fsc->preview->type"}
               <div style="margin: 10px 0px 0px 0px;">
               {loop="$fsc->topics()"}
                  {if condition="$value->icon!=''"}
                  <a href="{$value->url()}">
                     <img src="{$value->icon}" alt="{$value->title}" title="{$value->description()}" height="100"/>
                  </a>
                  {/if}
               {/loop}
               </div>
            {/if}
            
            <h1 itemprop="itemreviewed" style="margin: 5px 0px 5px 0px;">
               {if condition="$fsc->preview->link==$fsc->story->link"}
                  {$fsc->story->title}
               {else}
                  <a href="{$fsc->story->link()}">{$fsc->story->title}</a>
               {/if}
            </h1>
            <div class="small" style="margin-bottom: 10px;">
               <span class="glyphicon glyphicon-time"></span> {$fsc->story->timesince()} &nbsp;
               {if condition="$fsc->story->published"}
               <span class="glyphicon glyphicon-fire"></span> {$fsc->story->timesince(TRUE)} &nbsp;
               {/if}
               <span class="glyphicon glyphicon-star"></span> <span itemprop="rating">{$fsc->stars}</span> &nbsp;
               
               {if condition="$fsc->story->penalize"}
               <span class="label label-danger" title="este artículo está penalizado">penalizado</span>
               {/if}
               {if condition="$fsc->story->featured"}
               <span class="label label-success" title="este artículos está destacado">destacado</span>
               {/if}
               {if condition="!$fsc->story->native_lang"}
               <span class="label label-default" title="este artículos no está en español"><s>español</s></span>
               {/if}
               {if condition="$fsc->story->parody"}
               <span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>
               {/if}
               
               {loop="$fsc->topics()"}
               <a class="label label-default" href="{$value->url()}">{$value->title}</a>
               {/loop}
            </div>
            <p>{$fsc->story->description_plus()}</p>
            
            {if condition="$fsc->preview->type=='youtube'"}
            <div style="margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {else}
               <iframe width="640" height="360" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {/if}
            </div>
            {elseif condition="$fsc->preview->type=='imgur'"}
            <div style="margin-bottom: 10px;">
               <a target="_blank" href="{$fsc->story->link()}">
               {if condition="$fsc->visitor->mobile()"}
                  <img itemprop="photo" src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
                  <img itemprop="photo" src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
               </a>
            </div>
            {elseif condition="$fsc->preview->type=='image'"}
            <div style="margin-bottom: 10px;">
               <a target="_blank" href="{$fsc->story->link()}">
               {if condition="$fsc->visitor->mobile()"}
                  <img itemprop="photo" src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
                  <img itemprop="photo" src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
               </a>
            </div>
            {elseif condition="$fsc->preview->type=='vimeo'"}
            <div style="margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="300" height="169" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
               {else}
               <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
               {/if}
            </div>
            {/if}
            
            {if condition="$fsc->topic_text"}
            <p>{$fsc->topic_text}</p>
            {/if}
            
            {loop="$fsc->comments"}
            <div>
               <span class="glyphicon glyphicon-user"></span>
               {if condition="$fsc->visitor->get_id()==$value->visitor_id"}
                  <b>Tú</b>
               {else}
                  <a href="{$path}messages?to={$value->visitor_id}">@{$value->nick}</a>
               {/if}
               <span class="pull-right small">
                  {$value->timesince()} &nbsp;
                  {if condition="$fsc->visitor->admin"}
                  <span class="glyphicon glyphicon-floppy-remove" title="eliminar comentario" onclick="remove_comment('{$value->get_id()}')"></span>
                  {/if}
               </span>
               <p style="margin: 2px 0px 10px 0px;">{$value->text()}</p>
            </div>
            {/loop}
            
            <div>
            {if condition="$fsc->visitor->mobile()"}
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- feedstorm_movil -->
               <ins class="adsbygoogle" style="display:inline-block;width:320px;height:100px" data-ad-client="ca-pub-7967042768660878" data-ad-slot="3432408406"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            {else}
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- feedstorm -->
               <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-7967042768660878" data-ad-slot="8001025602"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            {/if}
            </div>
            
            {loop="$fsc->related_stories()"}
            <div style="margin: 40px 0px 10px 0px;">
               <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
               {if condition="!$fsc->preview->type"}
               <!--{$fsc->preview->load_topics($value->topics)}-->
               {/if}
               
               {if condition="$fsc->preview->type"}
               <div class="pull-right">
                  <img src="{$fsc->preview->preview()}" alt="{$value->title}" style="max-height: 100px; max-width: 120px; margin-left: 10px;">
               </div>
               {/if}
               <h3 style="margin: 10px 0px 0px 0px;">
                  <a href="{$value->url()}">{$value->title}</a>
               </h3>
               <p style="margin: 3px 0px 2px 0px; text-align: justify;">{$value->description_plus($fsc->story->keywords)}</p>
               <div class="small">
                  <span class="glyphicon glyphicon-time"></span> {$value->timesince()} &nbsp;
                  <span class="glyphicon glyphicon-fire"></span> {$value->popularity()} &nbsp;
                  
                  {if condition="$value->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span>{/if}
                  {if condition="$value->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span>{/if}
                  {if condition="!$value->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span>{/if}
                  {if condition="$value->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </div>
            </div>
            {/loop}
         </div>
         
         <div class="col-lg-2 col-md-3" style="padding-right: 0px;">
            <ul class="nav nav-pills nav-stacked">
               <li class="active">
                  <a href="#">
                     <span class="badge pull-right">{$fsc->story->popularity()}</span>
                     Popularidad
                  </a>
               </li>
               <li>
                  <a href="#">
                     <span itemprop="votes" class="badge pull-right">{$fsc->story->clics}</span>
                     Clics
                  </a>
               </li>
               <li>
                  <a rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">
                     <span class="badge pull-right">{$fsc->story->tweets}</span>
                     Twitter
                  </a>
               </li>
               <li>
                  <a rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">
                     <span class="badge pull-right">{$fsc->story->likes}</span>
                     Facebook
                  </a>
               </li>
               <li>
                  <a rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">
                     <span class="badge pull-right">{$fsc->story->plusones}</span>
                     Google+
                  </a>
               </li>
               {if condition="$fsc->meneame_link"}
               <li>
                  <a rel="nofollow" href="{$fsc->meneame_link}" title="ver en menéame">
                     <span class="badge pull-right">{$fsc->story->meneos}</span>
                     Menéame
                  </a>
               </li>
               {elseif condition="$fsc->story->meneos > 0"}
               <li>
                  <a href="#">
                     <span class="badge pull-right">{$fsc->story->meneos}</span>
                     Menéame
                  </a>
               </li>
               {/if}
               {if condition="$fsc->reddit_link"}
               <li><a rel="nofollow" href="{$fsc->reddit_link}" title="ver en reddit">Reddit</a></li>
               {/if}
            </ul>
            <br/>
            <button type="button" class="btn btn-sm btn-primary btn-block" onclick="$('#modal_new_comment').modal('show');">
               <span class="glyphicon glyphicon-comment"></span>
               &nbsp; Comentar...
            </button>
            
            <div class="text-center">
               <br/>
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
               <!-- Feedstorm_lateral2 -->
               <ins class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-7967042768660878" data-ad-slot="7583406407"></ins>
               <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
            </div>
         </div>
      </div>
      
      <div id="s_sources" class="table-responsive" style="display: none;">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Fecha</th>
                  <th>Enlace</th>
                  <th>Fuente</th>
               </tr>
            </thead>
            <tbody>
               {loop="$fsc->feed_links"}
               <tr>
                  <td>{$value->timesince()}</td>
                  <td><a href="{$value->link()}">{$value->title}</a></td>
                  <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
               </tr>
               {else}
               <tr>
                  <td>{$fsc->story->timesince()}</td>
                  <td>-</td>
                  <td>-</td>
               </tr>
               {/loop}
            </tbody>
         </table>
      </div>
   </div>
</div>

<form name="f_new_comment" action="{$fsc->url()}" method="post" class="form">
   <div class="modal fade" id="modal_new_comment">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span>
               </button>
               <h4 class="modal-title">Escribe tu comentario...</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <textarea class="form-control" name="comment" rows="6" placeholder="¡Rápido, di lo primero que piensas!" autofocus></textarea>
               </div>
            </div>
            <div class="modal-footer">
               {if condition="$fsc->visitor->admin"}
               <input type="hidden" name="human" value=""/>
               <input class="btn btn-sm btn-primary" type="submit" value="Comentar"/>
               {else}
               <div class="input-group">
                  <input class="form-control" type="text" name="human" value="{function="mt_rand(0, 999)"}" maxlength="3" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-comment"></span>
                        &nbsp; Comentar
                     </button>
                  </span>
               </div>
               <p class="help-block">Borra el número si eres humano.</p>
               {/if}
            </div>
         </div>
      </div>
   </div>
</form>

{include="footer"}