{include="header"}

{if condition="$fsc->edition"}
<ul class="nav nav-tabs">
   <li class="active"><a href="{$fsc->edition->url()}">Edición</a></li>
   <li><a href="{$fsc->story->url()}">Artículo</a></li>
</ul>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-8">
         <h1>
            <a target="_blank" href="{$fsc->story->link()}">{$fsc->edition->title}</a>
         </h1>
         <p style="margin-bottom: 5px;">{$fsc->edition->description}</p>
         <div class="small">
            {if condition="$fsc->visitor->get_id()==$fsc->edition->visitor_id"}
               <b>Tú</b> &nbsp;
            {else}
               <a href="{$path}messages?to={$fsc->edition->visitor_id}">@{$fsc->edition->nick}</a> &nbsp;
            {/if}
            <span class="glyphicon glyphicon-time"></span> {$fsc->edition->timesince()} &nbsp;
            <span class="glyphicon glyphicon-star"></span> {$fsc->edition->points}
         </div>
      </div>
      
      {if condition="$fsc->visitor->admin"}
      <div class="col-lg-4">
         <div class="well well-sm" style="margin-top: 20px;">
            <h3 style="margin: 5px 0px 5px 0px;">¿Deseas eliminar esta <u>edición</u> del artículo?</h3>
            <p>Piensatelo bien, porque no hay vuelta atrás.</p>
            <form action="{$fsc->url()}" method="post">
               <input type="hidden" name="delete" value="TRUE"/>
               <input class="btn btn-sm btn-danger" type="submit" value="eliminar"/>
            </form>
         </div>
      </div>
      {/if}
   </div>
</div>
{/if}

{include="footer"}