{include="header"}

{if condition="$fsc->topic"}
<script type="text/javascript">
   $(document).ready(function() {
      window.onpopstate = function(){ 
         if(window.location.hash.substring(1) == 'edit')
         {
            $("#p_info").removeClass('active');
            $("#t_info").hide();
            $("#p_edit").addClass('active');
            $("#t_edit").show();
            $("#p_delete").removeClass('active');
            $("#t_delete").hide();
         }
         else if(window.location.hash.substring(1) == 'delete')
         {
            $("#p_info").removeClass('active');
            $("#t_info").hide();
            $("#p_edit").removeClass('active');
            $("#t_edit").hide();
            $("#p_delete").addClass('active');
            $("#t_delete").show();
         }
      }
   });
</script>

<div class="container">
   <ul class="nav nav-tabs">
      <li id="p_info" class="active"><a href="{$fsc->topic->url()}">Tema</a></li>
      {if condition="$fsc->visitor->admin OR $fsc->visitor->points >= 10"}
      <li id="p_edit"><a href="#edit">Editar</a></li>
      {/if}
      {if condition="$fsc->visitor->admin"}
      <li id="p_delete"><a href="#delete">Eliminar</a></li>
      {/if}
   </ul>
   <div class="full_story">
      <div id="t_info">
         <div class="row">
            <div class="col-md-12">
               <h1>{$fsc->topic->title}</h1>
               <p>
                  {$fsc->topic->description}
                  <br/>
                  <span class="small">
                     Etiquetas de búsqueda: {$fsc->topic->keywords}.<br/>
                     Importancia: {$fsc->topic->importance}, Artículos {$fsc->topic->num_stories}
                     {if condition="$fsc->parent"}
                     <br/>Pertenece a <a href="{$fsc->parent->url()}">{$fsc->parent->title}</a>
                     {/if}
                  </span>
               </p>
            </div>
         </div>
      </div>
      <div id="t_edit" style="display: none;">
         <div class="row">
            <div class="col-md-12">
               <div style="padding: 5px;">
               <form action="{$fsc->url()}" method="post">
                  <div>
                     <input class="form-control" type="text" name="title" placeholder="Título" value="{$fsc->topic->title}" autocomplete="off"/>
                  </div>
                  <div>
                     <textarea class="form-control" name="description" rows="10" placeholder="Escribe aquí el texto.">{$fsc->topic->description}</textarea>
                  </div>
                  <div class="input-group">
                     <span class="input-group-addon">Keywords</span>
                     <input class="form-control" type="text" name="keywords" placeholder="Keywords" value="{$fsc->topic->keywords}" autocomplete="off"/>
                  </div>
                  <div class="input-group">
                     <span class="input-group-addon">Pertenece a</span>
                     {if condition="$fsc->parent"}
                     <input class="form-control" type="text" name="parent" placeholder="ID del tema" value="{$fsc->parent->name}" autocomplete="off"/>
                     {else}
                     <input class="form-control" type="text" name="parent" placeholder="ID del tema" autocomplete="off"/>
                     {/if}
                  </div>
                  <div style="margin-top: 5px; text-align: right;">
                     <input class="btn btn-primary btn-sm" type="submit" value="Guardar"/>
                  </div>
               </form>
               </div>
            </div>
         </div>
      </div>
      <div id="t_delete" style="display: none;">
         <div class="row">
            <div class="col-md-12">
               <h1>Eliminar</h1>
               <p>
                  ¿Realmente desde as eliminar este tema?
               </p>
               <div style="padding: 5px; text-align: right;">
                  <a class="btn btn-danger" href="{$path}topic_list?delete={$fsc->topic->get_id()}">eliminar</a>
               </div>
            </div>
         </div>
      </div>
      
      {loop="$fsc->topic->stories()"}
         <!--{$fsc->preview->load($value->link, $value->description_uncut())}-->
         <div class="row">
            <div class="col-md-12">
               <div style="padding: 5px;">
                  <hr/>
                  <h3 style="margin: 0px 5px;">
                     <a href="{$value->url()}">{$value->title}</a>
                  </h3>
                  <p style="margin: 3px 0px 2px 0px;">
                     {$value->description}<br/>
                     <span class="small">Publicado {$value->show_date()}.</span>
                  </p>
                  {if condition="$fsc->preview->type=='youtube'"}
                  <div style="text-align: center; margin-bottom: 10px;">
                     {if condition="$fsc->visitor->mobile()"}
                     <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                     {else}
                     <iframe width="640" height="360" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                     {/if}
                  </div>
                  {elseif condition="$fsc->preview->type=='imgur'"}
                  <div style="text-align: center; margin-bottom: 10px;">
                     <a href="{$value->url()}">
                     {if condition="$fsc->visitor->mobile()"}
                        <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
                     {else}
                        <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
                     {/if}
                     </a>
                  </div>
                  {elseif condition="$fsc->preview->type=='image'"}
                  <div style="text-align: center; margin-bottom: 10px;">
                     <a href="{$value->url()}">
                     {if condition="$fsc->visitor->mobile()"}
                        <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
                     {else}
                        <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
                     {/if}
                     </a>
                  </div>
                  {elseif condition="$fsc->preview->type=='vimeo'"}
                  <div style="text-align: center; margin-bottom: 10px;">
                     {if condition="$fsc->visitor->mobile()"}
                     <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="300" height="169" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                     {else}
                     <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                     {/if}
                  </div>
                  {/if}
               </div>
            </div>
         </div>
      {/loop}
   </div>
   
   {if condition="$fsc->children_topics"}
   <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
      <div class="col-md-4">
         <div class="well well-sm" style="background-color: white;">
            <ul>
               {loop="$fsc->split_stories($fsc->children_topics, 3, $value1)"}
               <li><a href="{$value2->url()}">{$value2->title}</a></li>
               {/loop}
            </ul>
         </div>
      </div>
      {/loop}
   </div>
   {/if}
   
   <div class="row">
      <div class="col-md-12">
         <div class="well well-sm" style="background-color: white;">
            <h4>¿Quieres añadir un tema?</h4>
            <a class="btn btn-sm btn-primary" href="{$path}topic_list?parent={$fsc->topic->get_id()}">Añadir un tema</a>
         </div>
      </div>
   </div>
</div>
{/if}

{include="footer"}