{include="header"}

<script type="text/javascript">
   function remove_comment(id)
   {
      if( confirm("¿Realmente desea eliminar este comentario?") )
         window.location.href = '{$fsc->url()}?delete_comment='+id;
   }
   function check_url()
   {
      if(window.location.hash.substring(1) == 'sources')
      {
         $("#p_info").removeClass('active');
         $("#s_info").hide();
         $("#p_sources").addClass('active');
         $("#s_sources").show();
      }
      else
      {
         $("#p_sources").removeClass('active');
         $("#s_sources").hide();
         $("#p_info").addClass('active');
         $("#s_info").show();
      }
   }
   $(document).ready(function() {
      check_url();
      window.onpopstate = function(){ 
         check_url();
      }
   });
</script>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-10 col-md-9">
         <ul class="nav nav-tabs">
            <li id="p_info" class="active"><a href="{$fsc->story->url()}">Artículo</a></li>
            <li><a href="{$fsc->story->edit_url()}">Editar</a></li>
            <li id="p_sources"><a href="#sources">Fuentes</a></li>
            {if condition="$fsc->visitor->admin"}<li id="b_delete"><a href="{$fsc->story->edit_url()}#delete">Eliminar</a></li>{/if}
         </ul>
         <div class="full_story">
         <div id="s_info">
            <div class="pull-right story_tags" style="text-align: right;">
               {if condition="$fsc->story->penalize"}
                  <span class="label label-danger" title="este artículo está penalizado">penalizado</span><br/>
               {/if}
               {if condition="$fsc->story->featured"}
                  <span class="label label-success" title="este artículos está destacado">destacado</span><br/>
               {/if}
               {if condition="!$fsc->story->native_lang"}
                  <span class="label label-default" title="este artículos no está en español"><s>español</s></span><br/>
               {/if}
               {if condition="$fsc->story->parody"}
                  <span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>
               {/if}
            </div>
            <!--{$fsc->preview->load($fsc->story->link, $fsc->story->description_uncut())}-->
            <h1>
               {if condition="$fsc->preview->link==$fsc->story->link"}
                  {$fsc->story->title}
               {else}
                  <a href="{$fsc->story->link()}">{$fsc->story->title}</a>
               {/if}
            </h1>
            <p>
               {$fsc->story->description}
               <br/>
               <span class="small">
                  Creada {$fsc->story->timesince()}{if condition="$fsc->story->published"}, publicada {$fsc->story->timesince(TRUE)}.{else}.{/if}
                  {loop="$fsc->topics()"}
                     {if condition="$counter>0"}
                     , <a href="{$value->url()}">{$value->title}</a>
                     {else}
                     Temas: <a href="{$value->url()}">{$value->title}</a>
                     {/if}
                  {/loop}
               </span>
            </p>
            {if condition="$fsc->preview->type=='youtube'"}
            <div style="text-align: center; margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {else}
               <iframe width="640" height="360" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {/if}
            </div>
            {elseif condition="$fsc->preview->type=='imgur'"}
            <div style="text-align: center; margin-bottom: 10px;">
               <a target="_blank" href="{$fsc->story->link()}">
               {if condition="$fsc->visitor->mobile()"}
                  <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
                  <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
               </a>
            </div>
            {elseif condition="$fsc->preview->type=='image'"}
            <div style="text-align: center; margin-bottom: 10px;">
               <a target="_blank" href="{$fsc->story->link()}">
               {if condition="$fsc->visitor->mobile()"}
                  <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
                  <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
               </a>
            </div>
            {elseif condition="$fsc->preview->type=='vimeo'"}
            <div style="text-align: center; margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="300" height="169" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
               {else}
               <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
               {/if}
            </div>
            {else}
            <div style="padding: 0px 10px 2px 10px;">
               {loop="$fsc->topics()"}
                  {if condition="$value->icon!=''"}
                  <a href="{$value->url()}" class="thumbnail thumbnail2">
                     <img src="{$value->icon}" alt="{$value->title}" title="{$value->description()}" style="height: 100px;"/>
                  </a>
                  {/if}
               {/loop}
            </div>
            {/if}
            
            {loop="$fsc->comments"}
            <hr/>
            <div style="padding: 5px;">
               <span class="glyphicon glyphicon-user"></span>
               {if condition="$fsc->visitor->get_id()==$value->visitor_id"}
                  <b>Tú</b>
               {else}
                  <a href="{$path}messages?to={$value->visitor_id}">@{$value->nick}</a>
               {/if}
               <span class="pull-right small">
                  {$value->timesince()} &nbsp;
                  {if condition="$fsc->visitor->admin"}
                  <span class="glyphicon glyphicon-floppy-remove" title="eliminar comentario" onclick="remove_comment('{$value->get_id()}')"></span>
                  {/if}
               </span>
               <p style="margin: 5px 0px 0px 0px;">{$value->text()}</p>
            </div>
            {/loop}
            <form action="{$fsc->url()}" method="post">
               <hr/>
               <div style="padding: 0px 5px 0px 5px;">
                  <textarea class="form-control" name="comment" rows="3" placeholder="¡Rápido, di lo primero que piensas!">{$fsc->txt_comment}</textarea>
               </div>
               {if condition="$fsc->visitor->admin"}
               <div class="small" style="padding: 5px; text-align: right;">
                  <input type="hidden" name="human" value=""/>
                  <input class="btn btn-sm btn-primary" type="submit" value="comentar"/>
               </div>
               {else}
               <div class="input-group" style="padding: 5px;">
                  <span class="input-group-addon">Borra el número si eres humano</span>
                  <input class="form-control" type="text" name="human" size="3" value="{function="mt_rand(0, 999)"}" maxlength="3" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-comment"></span>
                        &nbsp; Comentar
                     </button>
                  </span>
               </div>
               {/if}
            </form>
         </div>
         
         <div id="s_sources" class="table-responsive" style="display: none;">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Fecha</th>
                     <th>Enlace</th>
                     <th>Fuente</th>
                  </tr>
               </thead>
               <tbody>
                  {loop="$fsc->feed_links"}
                  <tr>
                     <td>{$value->timesince()}</td>
                     <td><a href="{$value->link()}">{$value->title}</a></td>
                     <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
                  </tr>
                  {else}
                  <tr>
                     <td>{$fsc->story->timesince()}</td>
                     <td>-</td>
                     <td>-</td>
                  </tr>
                  {/loop}
               </tbody>
            </table>
         </div>
         </div>
      </div>
      <div class="col-lg-2 col-md-3">
         <div class="hidden-sm hidden-xs">
            <br/><br/>
         </div>
         
         <ul class="nav nav-pills nav-stacked">
            <li class="active">
               <a href="#">
                  <span class="badge pull-right">{$fsc->story->popularity()}</span>
                  Popularidad
               </a>
            </li>
            <li>
               <a href="#">
                  <span class="badge pull-right">{$fsc->story->clics}</span>
                  Clics
               </a>
            </li>
            <li>
               <a rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">
                  <span class="badge pull-right">{$fsc->story->tweets}</span>
                  Twitter
               </a>
            </li>
            <li>
               <a rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">
                  <span class="badge pull-right">{$fsc->story->likes}</span>
                  Facebook
               </a>
            </li>
            <li>
               <a rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">
                  <span class="badge pull-right">{$fsc->story->plusones}</span>
                  Google+
               </a>
            </li>
            {if condition="$fsc->meneame_link"}
            <li>
               <a rel="nofollow" href="{$fsc->meneame_link}" title="ver en menéame">
                  <span class="badge pull-right">{$fsc->story->meneos}</span>
                  Menéame
               </a>
            </li>
            {elseif condition="$fsc->story->meneos > 0"}
            <li>
               <a href="#">
                  <span class="badge pull-right">{$fsc->story->meneos}</span>
                  Menéame
               </a>
            </li>
            {/if}
            {if condition="$fsc->reddit_link"}
            <li><a rel="nofollow" href="{$fsc->reddit_link}" title="ver en reddit">Reddit</a></li>
            {/if}
         </ul>
         <br/>
      </div>
   </div>
   
   {if condition="$fsc->related_stories()"}
   <div class="row">
      <!--{$cols=array(1,2)}-->
      {loop="$cols"}
         <div class="col-md-6 col-sm-6">
            {loop="$fsc->split_stories($fsc->stories, 2, $value1)"}
            <div class="well well-sm">
               <div class="pull-right">
                  {if condition="$fsc->no_relateds"}
                  <span class="glyphicon glyphicon-fire" title="artículo popular"></span>
                  {else}
                  <span class="glyphicon glyphicon-paperclip" title="artículo relacionado"></span>
                  {/if}
               </div>
               <h3 style="margin: 0px 0px 10px 0px;">
                  <a href="{$value2->url()}">{$value2->title}</a>
               </h3>
               <!--{$fsc->preview->load($value2->link, $value2->description_uncut())}-->
               {if condition="$fsc->preview->type=='youtube'"}
               <div style="text-align: center; margin-bottom: 10px;">
                  {if condition="$fsc->visitor->mobile()"}
                  <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                  {else}
                  <iframe width="427" height="240" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
                  {/if}
               </div>
               {elseif condition="$fsc->preview->type=='imgur'"}
               <div style="text-align: center; margin-bottom: 10px;">
                  <a href="{$value2->url()}">
                  {if condition="$fsc->visitor->mobile()"}
                     <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$value2->title}" style="max-width: 300px;"/>
                  {else}
                     <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$value2->title}" style="max-width: 500px;"/>
                  {/if}
                  </a>
               </div>
               {elseif condition="$fsc->preview->type=='image'"}
               <div style="text-align: center; margin-bottom: 10px;">
                  <a href="{$value2->url()}">
                  {if condition="$fsc->visitor->mobile()"}
                     <img src="{$fsc->preview->filename}" alt="{$value2->title}" style="max-width: 300px;"/>
                  {else}
                     <img src="{$fsc->preview->filename}" alt="{$value2->title}" style="max-width: 500px;"/>
                  {/if}
                  </a>
               </div>
               {elseif condition="$fsc->preview->type=='vimeo'"}
               <div style="text-align: center; margin-bottom: 10px;">
                  {if condition="$fsc->visitor->mobile()"}
                  <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="300" height="169" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  {else}
                  <iframe src="http://player.vimeo.com/video/{$fsc->preview->filename}" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                  {/if}
               </div>
               {else}
               <p style="margin: 3px 0px 2px 0px; text-align: justify;">{$value2->description}</p>
               {/if}
               <div>
                  <div class="pull-right story_tags" style="text-align: right;">
                  {if condition="$value2->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>{/if}
                  {if condition="$value2->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span><br/>{/if}
                  {if condition="!$value2->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>{/if}
                  {if condition="$value2->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                  </div>
                  <span class="small">Publicado {$value2->timesince()}.</span>
               </div>
            </div>
            {/loop}
         </div>
      {/loop}
   </div>
   {/if}
</div>

{include="footer"}