{include="header"}

{if condition="$fsc->story"}
<script type="text/javascript">
   function remove_comment(id)
   {
      if( confirm("¿Realmente desea eliminar este comentario?") )
         window.location.href = '{$fsc->url()}?delete_comment='+id;
   }
   $(document).ready(function() {
      window.onpopstate = function(){ 
         if(window.location.hash.substring(1) == 'sources')
         {
            $("#p_info").removeClass('active');
            $("#s_info").hide();
            $("#p_sources").addClass('active');
            $("#s_sources").show();
         }
      }
   });
</script>

<div class="container">
   <ul class="nav nav-tabs">
      <li id="p_info" class="active"><a href="{$fsc->story->url()}">Artículo</a></li>
      <li><a href="{$fsc->story->edit_url()}">Editar</a></li>
      <li id="p_sources"><a href="#sources">Fuentes</a></li>
      {if condition="$fsc->visitor->admin"}<li id="b_delete"><a href="{$fsc->story->edit_url()}#delete">Eliminar</a></li>{/if}
   </ul>
   <div class="full_story">
   <div id="s_info">
      <div class="row">
         <div class="col-md-12">
            <div class="pull-right" style="text-align: right;">
               {if condition="$fsc->story->penalize"}
                  <span class="label label-danger" title="este artículo está penalizado">penalizado</span><br/>
               {/if}
               {if condition="$fsc->story->featured"}
                  <span class="label label-success" title="este artículos está destacado">destacado</span><br/>
               {/if}
               {if condition="!$fsc->story->native_lang"}
                  <span class="label label-default" title="este artículos no está en español"><s>español</s></span><br/>
               {/if}
               {if condition="$fsc->story->parody"}
                  <span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>
               {/if}
            </div>
            <h1>
               <a rel="nofollow" target="_blank" href="{$fsc->story->link()}">{$fsc->story->title}</a>
            </h1>
            <p>
               {$fsc->story->description}
               <br/>
               <span class="small">
                  Creada {$fsc->story->timesince()}{if condition="$fsc->story->published"}, publicada {$fsc->story->timesince(TRUE)}.{else}.{/if}
                  Etiquetas: {$fsc->get_keywords()}
               </span>
            </p>
            <!--{$fsc->preview->load($fsc->story->link)}-->
            {if condition="$fsc->preview->type=='youtube'"}
            <div style="text-align: center; margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <iframe width="300" height="169" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {else}
               <iframe width="640" height="360" src="http://www.youtube.com/embed/{$fsc->preview->filename}" allowfullscreen></iframe>
               {/if}
            </div>
            {elseif condition="$fsc->preview->type=='imgur'"}
            <div style="text-align: center; margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
               <img src="http://i.imgur.com/{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
            </div>
            {elseif condition="$fsc->preview->type=='image'"}
            <div style="text-align: center; margin-bottom: 10px;">
               {if condition="$fsc->visitor->mobile()"}
               <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 300px;"/>
               {else}
               <img src="{$fsc->preview->filename}" alt="{$fsc->story->title}" style="max-width: 900px;"/>
               {/if}
            </div>
            {/if}
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div style="padding: 5px;">
            {if condition="$fsc->visitor->mobile()"}
               <span class="label label-default">Popularidad: {$fsc->story->popularity()}</span>
               <a class="label label-info" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter: {$fsc->story->tweets}</a>
               <a class="label label-primary" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook: {$fsc->story->likes}</a>
               <a class="label label-danger" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+: {$fsc->story->plusones}</a>
            {else}
               <span class="label label-default">Popularidad: {$fsc->story->popularity()}</span> =
               <span class="label label-default">Clics: {$fsc->story->clics}</span>
               <a class="label label-info" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter: {$fsc->story->tweets}</a>
               <a class="label label-primary" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook: {$fsc->story->likes}</a>
               <a class="label label-danger" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+: {$fsc->story->plusones}</a>
               {if condition="$fsc->meneame_link"}
               <a class="label label-warning" rel="nofollow" target="_blank" href="{$fsc->meneame_link}" title="ver en menéame">Menéame: {$fsc->story->meneos}</a>
               {else}
               <span class="label label-warning">Menéame: {$fsc->story->meneos}</span>
               {/if}
               {if condition="$fsc->reddit_link"}
               <a class="label label-default" rel="nofollow" target="_blank" href="{$fsc->reddit_link}" title="ver en reddit">Reddit</a>
               {/if}
            {/if}
            </div>
         </div>
      </div>
      <form action="{$fsc->url()}" method="post">
         <div class="row">
            <div class="col-md-12">
               <div style="padding: 0px 5px 0px 5px;">
                  <textarea class="form-control" name="comment" rows="3" placeholder="¡Rápido, di lo primero que piensas!">{$fsc->txt_comment}</textarea>
               </div>
            </div>
         </div>
         <div class="row">
            {if condition="$fsc->visitor->admin"}
            <div class="col-md-12">
               <div class="small" style="padding: 5px; text-align: right;">
                  <input type="hidden" name="human" value=""/>
                  <input class="btn btn-sm btn-primary" type="submit" value="comentar"/>
               </div>
            </div>
            {else}
            <div class="col-md-2 col-xs-3">
               <div style="padding: 5px;">
                  <input class="form-control" type="text" name="human" value="{function="mt_rand(0, 999)"}" size="3" maxlength="3" autocomplete="off"/>
               </div>
            </div>
            <div class="col-md-10 col-xs-9">
               <div class="small" style="padding: 5px; text-align: right;">
                  Borra el número para demostrar que eres humano
                  <input class="btn btn-sm btn-primary" type="submit" value="comentar"/>
               </div>
            </div>
            {/if}
         </div>
      </form>
   </div>
   <div class="row" id="s_sources" style="display: none;">
      <div class="col-md-12">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th>Fecha</th>
                  <th>Enlace</th>
                  <th>Fuente</th>
               </tr>
            </thead>
            <tbody>
               {loop="$fsc->feed_links"}
               <tr>
                  <td>{$value->timesince()}</td>
                  <td><a rel="nofollow" target="_blank" href="{$value->link()}">{$value->title}</a></td>
                  <td><a href="{$value->feed_url()}">{$value->feed_name()}</a></td>
               </tr>
               {else}
               <tr>
                  <td>{$fsc->story->timesince()}</td>
                  <td>-</td>
                  <td>-</td>
               </tr>
               {/loop}
            </tbody>
         </table>
         {if condition="$fsc->visitor->mobile()"}
         <div style="padding: 5px;">
            <span class="label label-default">Popularidad: {$fsc->story->popularity()}</span> =
            <span class="label label-default">Clics: {$fsc->story->clics}</span>
            <a class="label label-info" rel="nofollow" target="_blank" href="{$fsc->twitter_url()}" title="compartir en twitter">Twitter: {$fsc->story->tweets}</a>
            <a class="label label-primary" rel="nofollow" target="_blank" href="{$fsc->facebook_url()}" title="compartir en facebook">Facebook: {$fsc->story->likes}</a>
            <a class="label label-danger" rel="nofollow" target="_blank" href="{$fsc->plusone_url()}" title="compartir en google+">G+: {$fsc->story->plusones}</a>
            <span class="label label-warning">Menéame: {$fsc->story->meneos}</span>
         </div>
         {/if}
      </div>
   </div>
   </div>
   
   {loop="$fsc->comments"}
   <div class="row">
      <div class="col-md-12">
         <div class="well well-sm" style="background-color: white;">
            <span class="glyphicon glyphicon-user"></span>
            {if condition="$fsc->visitor->get_id()==$value->visitor_id"}
               <b>Tú</b>
            {else}
               <a href="{$path}messages?to={$value->visitor_id}">@{$value->nick}</a>
            {/if}
            <span class="pull-right small">
               {$value->timesince()} &nbsp;
               {if condition="$fsc->visitor->admin"}
               <span class="glyphicon glyphicon-floppy-remove" title="eliminar comentario" onclick="remove_comment('{$value->get_id()}')"></span>
               {/if}
            </span>
            <p style="margin: 5px 0px 0px 0px;">{$value->text()}</p>
         </div>
      </div>
   </div>
   {/loop}
   
   {loop="$fsc->related_stories()"}
   <div class="row">
      <div class="col-md-12">
         <div class="well well-sm" style="background-color: white;">
            <div class="pull-right"><span class="glyphicon glyphicon-paperclip" title="artículo relacionado"></span></div>
            <h3 style="margin: 0px;">
               <a rel="nofollow" href="{$value->url()}">{$value->title}</a>
            </h3>
            <p style="margin: 3px 0px 2px 0px;">
               {$value->description}<br/>
               <span class="small">Publicado {$value->timesince()}.</span>
            </p>
         </div>
      </div>
   </div>
   {/loop}
</div>
{else}
   <div class="container-fluid">
      <div class="row">
      <!--{$cols=array(1,2,3)}-->
      {loop="$cols"}
         <div class="col-lg-4 col-sm-6">
            {loop="$fsc->split_stories($fsc->stories, 3, $value1)"}
            <!--{$fsc->preview->load($value2->link)}-->
            {if condition="$fsc->preview->type"}
            <div class="storyp{if condition="$value2->readed()"} storyp_readed{/if}">
               <table width="100%">
                  <tr>
                     <td class="preview">
                        <a href='{$value2->url()}'><img src="{$fsc->preview->preview()}" alt="{$value2->title}" width="120"/></a>
                     </td>
                     <td class="preview_txt">
                        <div class="pull-right story_tags">
                           {if condition="$value2->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>{/if}
                           {if condition="$value2->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span><br/>{/if}
                           {if condition="!$value2->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>{/if}
                           {if condition="$value2->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
                        </div>
                        <h4><a href='{$value2->url()}'>{$value2->title}</a></h4>
                        <p>{$value2->description(100)}</p>
                        <div class="small">
                           Escrito {$value2->timesince()}.
                           Popularidad: {$value2->popularity()}
                        </div>
                     </td>
                  </tr>
               </table>
            </div>
            {else}
            <div class="story{if condition="$value2->readed()"} story_readed{/if}">
               <div class="pull-right story_tags">
                  {if condition="$value2->penalize"}<span class="label label-danger" title="este artículo está destacado">penalizado</span><br/>{/if}
                  {if condition="$value2->featured"}<span class="label label-success" title="este artículo está destacado">destacada</span><br/>{/if}
                  {if condition="!$value2->native_lang"}<span class="label label-default" title="este artículo NO está en español"><s>español</s></span><br/>{/if}
                  {if condition="$value2->parody"}<span class="label label-warning" title="este artículo es una parodia o sátira">parodia</span>{/if}
               </div>
               <h4><a href='{$value2->url()}'>{$value2->title}</a></h4>
               <p>{$value2->description()}</p>
               <div class="small">
                  {$value2->popularity()}
                  <span class="pull-right">{$value2->timesince()}</span>
               </div>
            </div>
            {/if}
            {/loop}
         </div>
      {/loop}
      </div>
   </div>
{/if}

{include="footer"}