{if condition="$fsc->story"}
<table width="100%">
   <tr>
      <td valign="top">
         <div class="full_story">
            <h1><a target="_blank" href="{$fsc->story->link}">{$fsc->story->title}</a></h1>
            <a target="_blank" href="{$path}/{$fsc->story->feed_url}">{$fsc->story->feed_name}</a>
            @ {$fsc->story->show_date()}
         </div>
      </td>
      <td align="right">
         <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html?lang=es&count=vertical&url={$fsc->story_link_urlized}&related=neorazorx" width="80" height="80"></iframe>
      </td>
   </tr>
</table>
{/if}
<div id="tweets_from_story">
   <div class="timeline_container">
      <div class="timeline"></div>
   </div>
   {loop="$fsc->tweets"}
      <div class="tweet2">
         <table>
            <tr>
               <td>
                  <a target="_blank" href="{$value->author_url}">
                     <img src="{$value->author_img}" alt="{$value->author}" title="{$value->author}" width="60" height="60"/>
                  </a>
               </td>
               <td class="content"><b>{$value->author}</b><br/>{$value->content}</td>
            </tr>
         </table>
      </div>
   {else}
      <div class="tweet2">
         <table><tr><td class="content">Todavía no hay tweets :-(</td></tr></table>
      </div>
   {/loop}
</div>