{if condition="$fsc->full_page"}
   {include="header"}
   
   <div class="inside_popup">
{/if}

{if condition="$fsc->story"}
   <div class="full_story">
      <h1><a target="_blank" href="{$fsc->story->link}">{$fsc->story->title}</a></h1>
      {$fsc->story->description}
   </div>
   
   <div class="media">
      <h2>
         Selecciona la imágen más apropiada o
         <a href="#" onclick="fs_select_image('{$fsc->story->get_id()}','-none-'); return false;">ninguna</a>
      </h2>
      {loop="$fsc->story->get_local_images()"}
         <a  href="#" onclick="fs_select_image('{$fsc->story->get_id()}','{$value.filename}'); return false;">
            <img src="{$value.image}" alt="{$value.filename}" title="{$value.filename}"/>
         </a>
      {/loop}
   </div>
{else}
   <div class="message">Historia no encontrada :-(</div>
{/if}

{if condition="$fsc->full_page"}
   </div>
   {include="footer"}
{/if}