/* 
    Document   : base
    Created on : 28-abr-2013, 16:17:43
    Author     : carlos
    Description:
        Purpose of the stylesheet follows.
*/

body {
   padding: 10px;
}

div.panel, div.list-group {
   box-shadow: 3px 3px 3px #aaa;
}

div.media_item {
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: center;
}

div.media_item2 {
   margin-right: 10px;
   margin-bottom: 5px;
   float: left;
   clear: both;
}

div.footer {
   margin-top: 20px;
}